{%- liquid
  assign cancel_t = 'general.search.cancel' | t
  assign clear_t = 'general.search.clear' | t
  assign placeholder_t = 'general.search.placeholder' | t

  render 'section-assets', name: 'predictive-search'
-%}

<predictive-search-root class="search--root" data-loading="false">
  <form action="{{ routes.search_url }}" method="get" role="search">
    <div class="search--bar-wrapper">
      <div class="search--bar">
        <div class="search--icon">
          {%- render 'icons', icon: 'search' -%}
          {%- render 'icons', icon: 'spinner' -%}
        </div>

        <label for="search-input" data-item="hidden-text">
          {{- placeholder_t -}}
        </label>
        <input
          id="search-input"
          class="search--textbox"
          type="search"
          name="q"
          value=""
          placeholder="{{ placeholder_t }}"
          data-item="paragraph"
          role="combobox"
          aria-owns="predictive-search-results-list"
          aria-controls="predictive-search-results-list"
          aria-autocomplete="list"
          autocorrect="off"
          autocomplete="off"
          autocapitalize="off"
          spellcheck="false"
        >

        <div class="search--clear" tabindex="0" aria-label="{{ clear_t }}" style="display:none;">
          {%- render 'icons', icon: 'x-mark' -%}
        </div>
      </div>

      <div class="search--cancel" data-item="block-link" tabindex="0" data-drawer-close>
        <div>{{- cancel_t -}}</div>
      </div>
    </div>

    <div
      class="search--results"
      id="predictive-search-results-list"
      {% unless settings.transitions--text %}
        data-transition-container="search"
        data-transition-type="fade-in"
        data-transition-cascade="horizontal"
        data-transition-cascade-interval="200"
      {% endunless %}
    >
      {%- render 'predictive-search' -%}
    </div>
  </form>
</predictive-search-root>