<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="ltr">
  <head>
 {%- render 'ecom_header' -%}
    <!-- Maker Theme - Version 8.4.3 by Troop Themes - https://troopthemes.com/ -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- liquid
      echo 'theme--critical.css' | asset_url | preload_tag: as: 'style'
      echo 'theme--async.css' | asset_url | preload_tag: as: 'style'
    -%}

    {%- if canonical_url != blank -%}
      <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32 }}" type="image/png">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180 }}">
    {%- endif -%}

    <title>
      {%- liquid
        echo page_title
        unless request.page_type == 'index'
          echo ' | ' | append: shop.name
        endunless
      -%}
    </title>

    {%- liquid
      render 'meta-tags'
      render 'css-typography'
      render 'css-variables'
      render 'custom-styles'
      render 'js-variables'
      render 'js-utils'
      render 'js-modules'
    -%}

    {%- if request.page_type contains 'customers' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    <link href="{{ "theme--critical.css" | asset_url }}" rel="stylesheet" media="all">
    <link
      href="{{ "theme--async.css" | asset_url }}"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    >

    <noscript>
      <style>
        .layout--template > *, .layout--footer-group > * {
          opacity: 1;
        }
      </style>
      <link href="{{ "theme--async.css" | asset_url }}" rel="stylesheet">
    </noscript>

    {{ content_for_header }}

    <script src="https://shopper.ghostretail.com/gp-shopper.js" defer></script>
  </head>

  <body
    class="template--{{ template | split: '.' | first | remove: '_' | replace: '/', '--' }} page--{{ page_title | handle }}"
    data-theme-id="765"
    data-theme-name="Maker"
    data-theme-version="8.4.3"
    data-theme-preset="{{ settings.preset }}"
    data-transition-container="viewport"
    data-logged-in="{% if customer %}true{% else %}false{% endif %}"
    {% if settings.border--enabled %}
      data-show-border
    {% endif %}
  >
    <!--[if IE]>
      <div style="text-align:center;padding:72px 16px;">
        {{ 'general.browser_unsupported' | t }}
      </div>
      <style>
        .layout--viewport { display: none; }
      </style>
    <![endif]-->

    <a data-item="a11y-button" href='#main-content' id="a11y_skip">
      {{- 'general.a11y.skip_main' | t -}}
    </a>

    <div class="layout--viewport" data-drawer-status="closed">
      <div class="layout--main-content">
        <header class="layout--header-group">
          {%- sections 'header-group' -%}
        </header>

        <div class="layout--overlay-group">
          {%- sections 'overlay-group' -%}
        </div>

        <main class="layout--template" id="main-content">
          {{ content_for_layout }}
        </main>

        <footer class="layout--footer-group">
          {%- sections 'footer-group' -%}
        </footer>
      </div>

      {%- liquid
        render 'drawer'
        render 'layout--navigation'
        render 'feedback-bar'
      -%}
    </div>

    {%- render 'icons', icon: 'defs' -%}
  {%- render "ecom_footer"-%}</body>
</html>