
{% render 'gp-head', 'isThemeSection: true' %}
<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-535598115755918230.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-535598115755918230.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-535598115755918230.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-535598115755918230.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-535598115755918230.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-535598115755918230.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-535598115755918230.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-535598115755918230.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-535598115755918230.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-535598115755918230.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-535598115755918230.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-535598115755918230.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-535598115755918230.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-535598115755918230.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-535598115755918230.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-535598115755918230.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-535598115755918230.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-535598115755918230.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-535598115755918230.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-535598115755918230.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-535598115755918230.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-535598115755918230.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-535598115755918230.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-535598115755918230.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-535598115755918230.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-535598115755918230.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-535598115755918230.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-535598115755918230.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-535598115755918230.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-535598115755918230.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-535598115755918230.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-535598115755918230.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-535598115755918230.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-535598115755918230.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-535598115755918230.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-535598115755918230.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-535598115755918230.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-535598115755918230.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-535598115755918230.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-535598115755918230.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-535598115755918230.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-535598115755918230.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-535598115755918230.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-535598115755918230.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-535598115755918230.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-535598115755918230.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-535598115755918230.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-535598115755918230.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-535598115755918230.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-535598115755918230.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-535598115755918230.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-535598115755918230.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-535598115755918230.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-535598115755918230.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-535598115755918230.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-535598115755918230.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-535598115755918230.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-535598115755918230.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-535598115755918230.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-535598115755918230.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-535598115755918230.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-535598115755918230.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-535598115755918230.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-535598115755918230 .-gp-translate-x-1\/2,.gps-535598115755918230 .-gp-translate-y-1\/2,.gps-535598115755918230 .gp-rotate-0,.gps-535598115755918230 .gp-rotate-180,.gps-535598115755918230 .mobile\:gp-rotate-0,.gps-535598115755918230 .mobile\:gp-rotate-180,.gps-535598115755918230 .tablet\:gp-rotate-0,.gps-535598115755918230 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-535598115755918230 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-535598115755918230 .gp-absolute{position:absolute}.gps-535598115755918230 .\!gp-relative{position:relative!important}.gps-535598115755918230 .gp-relative{position:relative}.gps-535598115755918230 .gp-left-0{left:0}.gps-535598115755918230 .gp-left-1\/2{left:50%}.gps-535598115755918230 .gp-right-0{right:0}.gps-535598115755918230 .gp-top-0{top:0}.gps-535598115755918230 .gp-top-1\/2{top:50%}.gps-535598115755918230 .gp-z-1{z-index:1}.gps-535598115755918230 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-535598115755918230 .gp-my-0{margin-bottom:0;margin-top:0}.gps-535598115755918230 .gp-mb-0{margin-bottom:0}.gps-535598115755918230 .gp-block{display:block}.gps-535598115755918230 .\!gp-flex{display:flex!important}.gps-535598115755918230 .gp-flex{display:flex}.gps-535598115755918230 .gp-grid{display:grid}.gps-535598115755918230 .\!gp-hidden{display:none!important}.gps-535598115755918230 .gp-hidden{display:none}.gps-535598115755918230 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-535598115755918230 .gp-aspect-square{aspect-ratio:1/1}.gps-535598115755918230 .gp-h-full{height:100%}.gps-535598115755918230 .\!gp-min-h-full{min-height:100%!important}.gps-535598115755918230 .gp-w-14{width:56px}.gps-535598115755918230 .gp-w-5{width:20px}.gps-535598115755918230 .gp-w-\[12px\]{width:12px}.gps-535598115755918230 .gp-w-full{width:100%}.gps-535598115755918230 .\!gp-max-w-none{max-width:none!important}.gps-535598115755918230 .gp-max-w-full{max-width:100%}.gps-535598115755918230 .gp-shrink-0{flex-shrink:0}.gps-535598115755918230 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-535598115755918230 .-gp-translate-x-1\/2,.gps-535598115755918230 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-535598115755918230 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-535598115755918230 .gp-rotate-0{--tw-rotate:0deg}.gps-535598115755918230 .gp-rotate-0,.gps-535598115755918230 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-535598115755918230 .gp-rotate-180{--tw-rotate:180deg}.gps-535598115755918230 .gp-cursor-pointer{cursor:pointer}.gps-535598115755918230 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-535598115755918230 .\!gp-flex-row{flex-direction:row!important}.gps-535598115755918230 .gp-flex-row{flex-direction:row}.gps-535598115755918230 .gp-flex-col{flex-direction:column}.gps-535598115755918230 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-535598115755918230 .gp-items-center{align-items:center}.gps-535598115755918230 .gp-justify-center{justify-content:center}.gps-535598115755918230 .gp-justify-between{justify-content:space-between}.gps-535598115755918230 .gp-gap-2{gap:8px}.gps-535598115755918230 .gp-gap-y-0{row-gap:0}.gps-535598115755918230 .gp-overflow-hidden{overflow:hidden}.gps-535598115755918230 .gp-rounded{border-radius:4px}.gps-535598115755918230 .gp-rounded-full{border-radius:9999px}.gps-535598115755918230 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-535598115755918230 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-535598115755918230 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-535598115755918230 .gp-text-center{text-align:center}.gps-535598115755918230 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-535598115755918230 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-535598115755918230 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-535598115755918230 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535598115755918230 .gp-duration-200{transition-duration:.2s}.gps-535598115755918230 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-535598115755918230 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}@media (max-width:1024px){.gps-535598115755918230 .tablet\:gp-absolute{position:absolute}.gps-535598115755918230 .tablet\:\!gp-relative{position:relative!important}.gps-535598115755918230 .tablet\:gp-left-0{left:0}.gps-535598115755918230 .tablet\:gp-right-0{right:0}.gps-535598115755918230 .tablet\:gp-block{display:block}.gps-535598115755918230 .tablet\:\!gp-flex{display:flex!important}.gps-535598115755918230 .tablet\:\!gp-hidden{display:none!important}.gps-535598115755918230 .tablet\:gp-hidden{display:none}.gps-535598115755918230 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-535598115755918230 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-535598115755918230 .tablet\:gp-rotate-0,.gps-535598115755918230 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-535598115755918230 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-535598115755918230 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-535598115755918230 .tablet\:gp-flex-row{flex-direction:row}.gps-535598115755918230 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-535598115755918230 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-535598115755918230 .mobile\:gp-absolute{position:absolute}.gps-535598115755918230 .mobile\:\!gp-relative{position:relative!important}.gps-535598115755918230 .mobile\:gp-left-0{left:0}.gps-535598115755918230 .mobile\:gp-right-0{right:0}.gps-535598115755918230 .mobile\:gp-block{display:block}.gps-535598115755918230 .mobile\:\!gp-flex{display:flex!important}.gps-535598115755918230 .mobile\:\!gp-hidden{display:none!important}.gps-535598115755918230 .mobile\:gp-hidden{display:none}.gps-535598115755918230 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-535598115755918230 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-535598115755918230 .mobile\:gp-rotate-0,.gps-535598115755918230 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-535598115755918230 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-535598115755918230 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-535598115755918230 .mobile\:gp-flex-row{flex-direction:row}.gps-535598115755918230 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-535598115755918230 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-535598115755918230 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-535598115755918230 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-535598115755918230 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-535598115755918230 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-535598115755918230 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-535598115755918230 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage id="ggr5RKL8dO" data-id="ggr5RKL8dO"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggr5RKL8dO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggq-spmT6s gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="Col" id="gCFtrlia9R" data-id="gCFtrlia9R"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCFtrlia9R gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCewRop4e8 gp-relative gp-flex gp-flex-col"
    >
      
    <gp-carousel data-id="gJPLHMaYC_"  id="gp-root-carousel-gJPLHMaYC_-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"gJPLHMaYC_-{{section.id}}","setting":{"animationMode":"ease-in","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"gap":"","height":"100px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"100px"}},"arrowCustom":"<svg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n              <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z\"/>\n              </svg>\n              ","arrowCustomColor":"#000000","arrowGapToEachSide":"16","arrowIconSize":{"desktop":100},"autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"childItem":["Slide 2","Slide 3","Slide 4","Slide 1"],"controlOverContent":{"desktop":true},"dot":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16},"dotSize":{"desktop":12},"dotStyle":{"desktop":"inside"},"enableDrag":{"desktop":false},"itemNumber":{"desktop":4,"mobile":1,"tablet":2},"label":true,"loop":{"desktop":true},"navigationStyle":{"desktop":"outside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"rtl":false,"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":false},"sneakPeakOffsetCenter":{"desktop":50},"sneakPeakOffsetForward":{"desktop":50},"sneakPeakType":{"desktop":"center"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"borderContent":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"fullWidth":{"desktop":false,"mobile":false,"tablet":false},"hasActiveShadow":false,"playSpeed":500,"roundedContent":{"radiusType":"none"},"sizeSetting":{"desktop":{"height":"auto","shapeLinked":false,"width":"default"}},"spacing":{"desktop":16}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block gJPLHMaYC_"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:100%;--h-tablet:100%;--h-mobile:100%;gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-carousel-action-back gem-slider-previous gJPLHMaYC_-{{section.id}} gp-carousel-arrow-gJPLHMaYC_ gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-relative  tablet:!gp-flex tablet:!gp-relative  mobile:!gp-flex mobile:!gp-relative "
      style="--left:initial;--top:initial;--right:initial;--bottom:;--left-tablet:initial;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:initial;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:transparent;--w:100px;--h:100px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--c:#000000;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:100px;--h-tablet:100px;--h-mobile:100px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-gJPLHMaYC_ {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gJPLHMaYC_::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      .gp-carousel-arrow-gJPLHMaYC_ {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gJPLHMaYC_::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gJPLHMaYC_ {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gJPLHMaYC_::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-gJPLHMaYC_-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:16px;--cg-tablet:16px;--cg:16px">
          
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      enableLazyloadImage label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:#00000000;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gJPLHMaYC_ gx9VeU7cP0"
      data-index="0"
    >
      <div
        class="gp-w-full",
        style="--shadow:none"
      >
      
    <div
      
      data-id="gVS2kivA_Y"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative gVS2kivA_Y"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--aspect:9/16"
    >
      
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-gVS2kivA_Y"
      class=" gp-w-full lazy"
      style="--aspect:9/16"
      controls
      loop
      
      
      title="Video"
      preload="none"
      data-src="https://cdn.shopify.com/videos/c/o/v/035aa44437c14a4d8af87d8a1d707e3a.mov"
      src=""
      poster="{{ 'gempages_532871831896458163-db2a8b81-12e8-427f-9ba4-29044ed24c00.jpg' | file_url }}"
      playsinline
    >
    
  </video>
    <div
          style="--aspect:9/16"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video"
        >
          <img
            id="video-thumbnail"
            src="{{ 'gempages_532871831896458163-db2a8b81-12e8-427f-9ba4-29044ed24c00.jpg' | file_url }}"
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      enableLazyloadImage label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:#00000000;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gJPLHMaYC_ g91QqlwOJg"
      data-index="1"
    >
      <div
        class="gp-w-full",
        style="--shadow:none"
      >
      
    <div
      
      data-id="gNEvfxGnIV"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative gNEvfxGnIV"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--aspect:9/16"
    >
      
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-gNEvfxGnIV"
      class=" gp-w-full lazy"
      style="--aspect:9/16"
      controls
      loop
      
      
      title="Video"
      preload="none"
      data-src="https://cdn.shopify.com/videos/c/o/v/88d8400c711c47c39d2b8ff12bc44194.mp4"
      src=""
      poster="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/vid2-ss.jpg?v=1728771360"
      playsinline
    >
    <source data-src="https://cdn.shopify.com/videos/c/o/v/88d8400c711c47c39d2b8ff12bc44194.mp4" src="" type="video/mp4"></source>
  </video>
    <div
          style="--aspect:9/16"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video"
        >
          <img
            id="video-thumbnail"
            src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/vid2-ss.jpg?v=1728771360"
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      enableLazyloadImage tag="CarouselItem" label="Carousel Item" type="component"
      style="--bgc:#00000000;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gJPLHMaYC_ AkxawUG9fY"
      data-index="2"
    >
      <div
        class="gp-w-full",
        style="--shadow:none"
      >
      
    <div
      
      data-id="gD2Hv0xKHP"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative gD2Hv0xKHP"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--aspect:9/16"
    >
      
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-gD2Hv0xKHP"
      class=" gp-w-full lazy"
      style="--aspect:9/16"
      controls
      loop
      
      
      title="Video"
      preload="none"
      data-src="https://cdn.shopify.com/videos/c/o/v/85a8ec0d004649aebc7a3f0d3fdcbe87.mp4"
      src=""
      poster="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/vid4-ss.jpg?v=1728771634"
      playsinline
    >
    <source data-src="https://cdn.shopify.com/videos/c/o/v/85a8ec0d004649aebc7a3f0d3fdcbe87.mp4" src="" type="video/mp4"></source>
  </video>
    <div
          style="--aspect:9/16"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video"
        >
          <img
            id="video-thumbnail"
            src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/vid4-ss.jpg?v=1728771634"
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      enableLazyloadImage label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:#00000000;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gJPLHMaYC_ gAcDDEFueh"
      data-index="3"
    >
      <div
        class="gp-w-full",
        style="--shadow:none"
      >
      
       
      
    <div
      enableLazyloadImage parentTag="CarouselItem" id="gB_tx86Z5r" data-id="gB_tx86Z5r"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gB_tx86Z5r gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gKeypI_a89 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="gBm5ZJR6r8"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative gBm5ZJR6r8"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--aspect:9/16"
    >
      
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-gBm5ZJR6r8"
      class=" gp-w-full lazy"
      style="--aspect:9/16"
      controls
      loop
      
      
      title="Video"
      preload="none"
      data-src="https://cdn.shopify.com/videos/c/o/v/2e3790c817f74ff183ae6da6b02fad83.mov"
      src=""
      poster="{{ 'gempages_532871831896458163-32a3f035-5ad8-459e-a30f-d73d73db505f.jpg' | file_url }}"
      playsinline
    >
    
  </video>
    <div
          style="--aspect:9/16"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video"
        >
          <img
            id="video-thumbnail"
            src="{{ 'gempages_532871831896458163-32a3f035-5ad8-459e-a30f-d73d73db505f.jpg' | file_url }}"
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
    </div>
    </div>
   
    
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-carousel-action-next gem-slider-next gJPLHMaYC_-{{section.id}} gp-carousel-arrow-gJPLHMaYC_ gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-relative  tablet:!gp-flex tablet:!gp-relative  mobile:!gp-flex mobile:!gp-relative "
      style="--left:initial;--top:;--right:initial;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:initial;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:initial;--bottom-mobile:initial;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:transparent;--w:100px;--h:100px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--c:#000000;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:100px;--h-tablet:100px;--h-mobile:100px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-gJPLHMaYC_ {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gJPLHMaYC_::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      .gp-carousel-arrow-gJPLHMaYC_ {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gJPLHMaYC_::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gJPLHMaYC_ {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gJPLHMaYC_::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-gJPLHMaYC_-{{section.id}} gp-absolute gp-flex-row gp-left-0 gp-right-0 tablet:gp-absolute tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-absolute mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0"
    style="--bottom:16px;--bottom-tablet:16px;--bottom-mobile:16px;--d:flex;--d-tablet:flex;--d-mobile:flex"
 ></div>
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    <gp-carousel data-id="guqVfPF8hy"  id="gp-root-carousel-guqVfPF8hy-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"guqVfPF8hy-{{section.id}}","setting":{"animationMode":"ease-in","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"gap":"","height":"100px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"100px"}},"arrowCustom":"<svg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n              <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z\"/>\n              </svg>\n              ","arrowCustomColor":"#000000","arrowGapToEachSide":"16","arrowIconSize":{"desktop":100},"autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"childItem":["Slide 3","Slide 2","Slide 4","Slide 1"],"controlOverContent":{"desktop":true},"dot":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16},"dotSize":{"desktop":12},"dotStyle":{"desktop":"inside"},"enableDrag":{"desktop":false},"itemNumber":{"desktop":4,"mobile":1,"tablet":2},"label":true,"loop":{"desktop":true},"navigationStyle":{"desktop":"outside","mobile":"none"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"rtl":false,"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":false},"sneakPeakOffsetCenter":{"desktop":50},"sneakPeakOffsetForward":{"desktop":50},"sneakPeakType":{"desktop":"center"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"borderContent":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"fullWidth":{"desktop":false,"mobile":false,"tablet":false},"hasActiveShadow":false,"playSpeed":500,"roundedContent":{"radiusType":"none"},"sizeSetting":{"desktop":{"height":"auto","shapeLinked":false,"width":"default"}},"spacing":{"desktop":16}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block guqVfPF8hy"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:100%;--h-tablet:100%;--h-mobile:100%;gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-carousel-action-back gem-slider-previous guqVfPF8hy-{{section.id}} gp-carousel-arrow-guqVfPF8hy gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-relative  tablet:!gp-flex tablet:!gp-relative  mobile:!gp-hidden"
      style="--left:initial;--top:initial;--right:initial;--bottom:;--left-tablet:initial;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:initial;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:flex;--d-tablet:flex;--d-mobile:none;background-color:transparent;--w:100px;--h:100px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--c:#000000;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:100px;--h-tablet:100px;--h-mobile:100px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-guqVfPF8hy {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-guqVfPF8hy::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      .gp-carousel-arrow-guqVfPF8hy {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-guqVfPF8hy::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-guqVfPF8hy {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-guqVfPF8hy::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-guqVfPF8hy-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:16px;--cg-tablet:16px;--cg:16px">
          
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      enableLazyloadImage label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:#00000000;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-guqVfPF8hy g4Df2tFokU"
      data-index="0"
    >
      <div
        class="gp-w-full",
        style="--shadow:none"
      >
      
    <div
      
      data-id="gi3HJVxzMS"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative gi3HJVxzMS"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--aspect:9/16"
    >
      
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-gi3HJVxzMS"
      class=" gp-w-full lazy"
      style="--aspect:9/16"
      controls
      loop
      
      
      title="Video"
      preload="none"
      data-src="https://cdn.shopify.com/videos/c/o/v/035aa44437c14a4d8af87d8a1d707e3a.mov"
      src=""
      poster="{{ 'gempages_532871831896458163-db2a8b81-12e8-427f-9ba4-29044ed24c00.jpg' | file_url }}"
      playsinline
    >
    
  </video>
    <div
          style="--aspect:9/16"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video"
        >
          <img
            id="video-thumbnail"
            src="{{ 'gempages_532871831896458163-db2a8b81-12e8-427f-9ba4-29044ed24c00.jpg' | file_url }}"
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      enableLazyloadImage label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:#00000000;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-guqVfPF8hy gspu8NAy4s"
      data-index="1"
    >
      <div
        class="gp-w-full",
        style="--shadow:none"
      >
      
    <div
      
      data-id="gTCzBgBcVD"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative gTCzBgBcVD"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--aspect:9/16"
    >
      
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-gTCzBgBcVD"
      class=" gp-w-full lazy"
      style="--aspect:9/16"
      controls
      loop
      
      
      title="Video"
      preload="none"
      data-src="https://cdn.shopify.com/videos/c/o/v/88d8400c711c47c39d2b8ff12bc44194.mp4"
      src=""
      poster="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/vid2-ss.jpg?v=1728771360"
      playsinline
    >
    <source data-src="https://cdn.shopify.com/videos/c/o/v/88d8400c711c47c39d2b8ff12bc44194.mp4" src="" type="video/mp4"></source>
  </video>
    <div
          style="--aspect:9/16"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video"
        >
          <img
            id="video-thumbnail"
            src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/vid2-ss.jpg?v=1728771360"
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      enableLazyloadImage tag="CarouselItem" label="Carousel Item" type="component"
      style="--bgc:#00000000;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-guqVfPF8hy gKyo2HJ-2f"
      data-index="2"
    >
      <div
        class="gp-w-full",
        style="--shadow:none"
      >
      
    <div
      
      data-id="gWXlHzpTdw"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative gWXlHzpTdw"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--aspect:9/16"
    >
      
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-gWXlHzpTdw"
      class=" gp-w-full lazy"
      style="--aspect:9/16"
      controls
      loop
      
      
      title="Video"
      preload="none"
      data-src="https://cdn.shopify.com/videos/c/o/v/85a8ec0d004649aebc7a3f0d3fdcbe87.mp4"
      src=""
      poster="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/vid4-ss.jpg?v=1728771634"
      playsinline
    >
    <source data-src="https://cdn.shopify.com/videos/c/o/v/85a8ec0d004649aebc7a3f0d3fdcbe87.mp4" src="" type="video/mp4"></source>
  </video>
    <div
          style="--aspect:9/16"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video"
        >
          <img
            id="video-thumbnail"
            src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/vid4-ss.jpg?v=1728771634"
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      enableLazyloadImage label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:#00000000;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-guqVfPF8hy gkG2Kt3C1_"
      data-index="3"
    >
      <div
        class="gp-w-full",
        style="--shadow:none"
      >
      
    <div
      
      data-id="geYi2VVigy"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative geYi2VVigy"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--aspect:9/16"
    >
      
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-geYi2VVigy"
      class=" gp-w-full lazy"
      style="--aspect:9/16"
      controls
      loop
      
      
      title="Video"
      preload="none"
      data-src="https://cdn.shopify.com/videos/c/o/v/2e3790c817f74ff183ae6da6b02fad83.mov"
      src=""
      poster="{{ 'gempages_532871831896458163-2a4f6c9a-1a3c-48e4-9f58-7f0a43e41a94.png' | file_url }}"
      playsinline
    >
    
  </video>
    <div
          style="--aspect:9/16"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video"
        >
          <img
            id="video-thumbnail"
            src="{{ 'gempages_532871831896458163-2a4f6c9a-1a3c-48e4-9f58-7f0a43e41a94.png' | file_url }}"
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-carousel-action-next gem-slider-next guqVfPF8hy-{{section.id}} gp-carousel-arrow-guqVfPF8hy gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-relative  tablet:!gp-flex tablet:!gp-relative  mobile:!gp-hidden"
      style="--left:initial;--top:;--right:initial;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:initial;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:initial;--bottom-mobile:initial;--d:flex;--d-tablet:flex;--d-mobile:none;background-color:transparent;--w:100px;--h:100px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--c:#000000;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:100px;--h-tablet:100px;--h-mobile:100px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-guqVfPF8hy {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-guqVfPF8hy::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      .gp-carousel-arrow-guqVfPF8hy {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-guqVfPF8hy::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-guqVfPF8hy {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-guqVfPF8hy::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-guqVfPF8hy-{{section.id}} gp-absolute gp-flex-row gp-left-0 gp-right-0 tablet:gp-absolute tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-absolute mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0"
    style="--bottom:16px;--bottom-tablet:16px;--bottom-mobile:16px;--d:flex;--d-tablet:flex;--d-mobile:flex"
 ></div>
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    "presets": [{ "name": "Video Carousel 4" }],
    "name": "Video Carousel 4",
    "tag": "section",
    "class": "gps-535598115755918230 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=535598115755918230)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {"en":{}}
  }
{% endschema %}
