

<style>.gps-549790644529595296 .focus\:\!gp-shadow-none,.gps-549790644529595296 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-549790644529595296 .\!gp-g-s-medium{padding:8px 24px!important}.gps-549790644529595296 .gp-fixed{position:fixed}.gps-549790644529595296 .gp-relative{position:relative}.gps-549790644529595296 .gp-top-\[27px\]{top:27px}.gps-549790644529595296 .gp-z-1{z-index:1}.gps-549790644529595296 .gp-z-100{z-index:100}.gps-549790644529595296 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-549790644529595296 .gp-mb-0{margin-bottom:0}.gps-549790644529595296 .gp-flex{display:flex}.gps-549790644529595296 .gp-inline-flex{display:inline-flex}.gps-549790644529595296 .gp-grid{display:grid}.gps-549790644529595296 .\!gp-hidden{display:none!important}.gps-549790644529595296 .gp-hidden{display:none}.gps-549790644529595296 .\!gp-h-auto{height:auto!important}.gps-549790644529595296 .gp-h-full{height:100%}.gps-549790644529595296 .gp-max-w-full{max-width:100%}.gps-549790644529595296 .gp-flex-col{flex-direction:column}.gps-549790644529595296 .gp-items-center{align-items:center}.gps-549790644529595296 .gp-justify-center{justify-content:center}.gps-549790644529595296 .gp-gap-y-0{row-gap:0}.gps-549790644529595296 .gp-overflow-hidden{overflow:hidden}.gps-549790644529595296 .gp-break-words{overflow-wrap:break-word}.gps-549790644529595296 .gp-rounded{border-radius:4px}.gps-549790644529595296 .gp-rounded-none{border-radius:0}.gps-549790644529595296 .gp-bg-g-brand{background-color:var(--g-c-brand)}.gps-549790644529595296 .\!gp-bg-none{background-image:none!important}.gps-549790644529595296 .gp-p-\[16px\]{padding:16px}.gps-549790644529595296 .gp-text-\[14px\]{font-size:14px}.gps-549790644529595296 .gp-leading-normal{line-height:1.5}.gps-549790644529595296 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-549790644529595296 .gp-no-underline{text-decoration-line:none}.gps-549790644529595296 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-549790644529595296 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549790644529595296 .gp-duration-200{transition-duration:.2s}.gps-549790644529595296 .gp-duration-300{transition-duration:.3s}.gps-549790644529595296 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549790644529595296 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-549790644529595296 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}.gps-549790644529595296 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-549790644529595296 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-549790644529595296 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-549790644529595296 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-549790644529595296 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-549790644529595296 .tablet\:\!gp-hidden{display:none!important}.gps-549790644529595296 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-549790644529595296 .mobile\:\!gp-hidden{display:none!important}.gps-549790644529595296 .mobile\:gp-hidden{display:none}}.gps-549790644529595296 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-549790644529595296 .\[\&_p\]\:gp-inline p{display:inline}.gps-549790644529595296 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-549790644529595296 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-549790644529595296 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="i2l434c4df275" data-id="i2l434c4df275"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:var(--g-s-3xl);--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:24px;--pl-mobile:0px;--pb-mobile:24px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:#ffffff;--bgi:url()"
        class="i2l434c4df275 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l434c4df275 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="w-i2l434c4df275" data-id="w-i2l434c4df275"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:493px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2l434c4df275 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l559043d98a gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHmpnIjGqTWd">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gHmpnIjGqTWd "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:25px;--size-tablet:25px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(39, 37, 37);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHmpnIjGqTWd_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="sp-i2l1c4b5ba8f2" data-id="sp-i2l1c4b5ba8f2"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l1c4b5ba8f2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l1c4b5ba8f2 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="sp-i2l1328707330" data-id="sp-i2l1328707330"
        style="--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l1328707330 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l1328707330 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="jPPWYmQqteah">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="jPPWYmQqteah "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:5px;--pl:0px;--pb:10px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:8px;--mr-mobile:0px;--pt-mobile:10px;--pl-mobile:12px;--pb-mobile:5px;--pr-mobile:12px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:41px;--size-tablet:32px;--size-mobile:28px;--lh:40px;--weight:bold;--c:rgb(32, 32, 32);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pb:10px;overflow:hidden"
        >{{ section.settings.gjPPWYmQqteah_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="kDXSeaVgLdDE">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="kDXSeaVgLdDE "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:var(--g-s-s);--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:8px;--pb-mobile:var(--g-s-s);--pr-mobile:8px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(33, 33, 33);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gkDXSeaVgLdDE_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-xl);--pl:var(--g-s-l);--pb:var(--g-s-xl);--pr:var(--g-s-l)" class="gpxtCOfgSy ">
      
    <gp-form
      id="gpxtCOfgSy"
      data-id="gpxtCOfgSy"
      
      data-submit-action='stay-on-page'
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gpxtCOfgSy"
        href="" target=""
      >
      </a>
      {% form 'customer', class: 'gp-form-gpxtCOfgSy ', id: 'contact_form_gpxtCOfgSy' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gpxtCOfgSy"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            {{ section.settings.ggpxtCOfgSy_errorMessage }}
          </div>
        {% endif %}
        <div popover id="my-popover-gpxtCOfgSy">
        <style>
            #my-popover-gpxtCOfgSy::backdrop {
              width: fit-content;
              height: fit-content;
            }
        </style>
        <div
          id="gp-form-success-gpxtCOfgSy"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          {{ section.settings.ggpxtCOfgSy_successMessage }}
        </div></div>
        
       
      
    <div
      enableLazyloadImage="true" parentTag="Newsletter" id="g5b5lLBsbu" data-id="g5b5lLBsbu"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--cg-mobile:0px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5b5lLBsbu gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8TwPCD4WH gp-relative gp-flex gp-flex-col"
    >
      
    <div
    data-id="gQqgQU7caW"
      class="gQqgQU7caW"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <input
        type="email"
        class="gp-form-item !gp-g-s-medium !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--w:313px;--w-tablet:313px;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-2, line-2);--shadow:none"
        placeholder="{{ section.settings.ggQqgQU7caW_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMaMv1zJND gp-relative gp-flex gp-flex-col"
    >
      
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .gpddDbLa6i.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gpddDbLa6i:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
    }

    .gpddDbLa6i:hover .gp-button-icon {
      color: undefined;
    }

     .gpddDbLa6i .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gpddDbLa6i:hover .gp-button-price {
      color: undefined;
    }

    .gpddDbLa6i .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gpddDbLa6i .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gpddDbLa6i:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="submit" data-id="gpddDbLa6i" aria-label="Send"
      
      data-state="idle"
      class="gpddDbLa6i gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-bg-g-brand gp-text-g-text-3"
      style="--hvr-bg:var(--g-c-highlight, highlight);--bg:var(--g-c-brand, brand);--shadow:none;--w:120px;--w-tablet:120px;--w-mobile:120px;--h:48px;--h-tablet:48px;--h-mobile:48px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggpddDbLa6i_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

  
    </div>
    </div>
   
    
      {% endform %}
    </gp-form>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 16",
    "tag": "section",
    "class": "gps-549790644529595296 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=549790644395049888&sectionId=549790644529595296)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggHmpnIjGqTWd_text","label":"ggHmpnIjGqTWd_text","default":"<p><span style=\"font-size:14px;\"><strong>JOIN THE EYELACE MOVEMENT</strong></span></p>"},{"type":"html","id":"gjPPWYmQqteah_text","label":"gjPPWYmQqteah_text","default":"<span style=\"background-color:rgba(252,252,252,0);font-size:35px;\">GET 15% OFF + a&nbsp;</span><br><span style=\"background-color:rgba(252,252,252,0);font-size:35px;\">Free Pair of Lashes*</span>"},{"type":"html","id":"gkDXSeaVgLdDE_text","label":"gkDXSeaVgLdDE_text","default":"<p>Read about the artists behind the scenes at Eyelace, women in business, beauty tips, and much more.&nbsp;</p><p><span style=\"font-size:13px;\"><i>*Free pair of lashes with a purchase of a starter kit.&nbsp;</i></span></p>"},{"type":"html","id":"ggpxtCOfgSy_successMessage","label":"ggpxtCOfgSy_successMessage","default":"Thanks for joining us! Check your inbox for your code."},{"type":"html","id":"ggpxtCOfgSy_errorMessage","label":"ggpxtCOfgSy_errorMessage","default":"Can’t send email. Please try again later."},{"type":"html","id":"ggQqgQU7caW_placeholder","label":"ggQqgQU7caW_placeholder","default":"Email address"},{"type":"html","id":"ggpddDbLa6i_label","label":"ggpddDbLa6i_label","default":"Send"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
