

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-549790644529333152.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-549790644529333152.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-549790644529333152.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-549790644529333152.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-549790644529333152.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-549790644529333152.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-549790644529333152.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-549790644529333152.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-549790644529333152.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-549790644529333152.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-549790644529333152.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-549790644529333152.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-549790644529333152.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-549790644529333152.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-549790644529333152.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-549790644529333152.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-549790644529333152.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-549790644529333152.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-549790644529333152.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-549790644529333152.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-549790644529333152.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-549790644529333152.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-549790644529333152.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-549790644529333152.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-549790644529333152.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-549790644529333152.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-549790644529333152.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-549790644529333152.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-549790644529333152.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-549790644529333152.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-549790644529333152.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-549790644529333152.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-549790644529333152.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-549790644529333152.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-549790644529333152.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-549790644529333152.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-549790644529333152.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-549790644529333152.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-549790644529333152.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-549790644529333152.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-549790644529333152.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-549790644529333152.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-549790644529333152.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-549790644529333152.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-549790644529333152 .gp-relative{position:relative}.gps-549790644529333152 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-549790644529333152 .gp-mb-0{margin-bottom:0}.gps-549790644529333152 .gp-flex{display:flex}.gps-549790644529333152 .gp-grid{display:grid}.gps-549790644529333152 .\!gp-hidden{display:none!important}.gps-549790644529333152 .gp-hidden{display:none}.gps-549790644529333152 .gp-w-full{width:100%}.gps-549790644529333152 .gp-max-w-full{max-width:100%}.gps-549790644529333152 .gp-flex-col{flex-direction:column}.gps-549790644529333152 .gp-gap-y-0{row-gap:0}.gps-549790644529333152 .gp-overflow-hidden{overflow:hidden}.gps-549790644529333152 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549790644529333152 .gp-duration-200{transition-duration:.2s}.gps-549790644529333152 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-549790644529333152 .tablet\:\!gp-hidden{display:none!important}.gps-549790644529333152 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-549790644529333152 .mobile\:\!gp-hidden{display:none!important}.gps-549790644529333152 .mobile\:gp-hidden{display:none}}.gps-549790644529333152 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="i2l99a2684285" data-id="i2l99a2684285"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:rgb(246, 246, 246);--bgi:url()"
        class="i2l99a2684285 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l99a2684285 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="w-i2l99a2684285" data-id="w-i2l99a2684285"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2l99a2684285 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lc95f6944a7 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px" class="gbIQ2hmL2- ">
      
    <div class='gp-flex gp-overflow-hidden' style="border-radius: inherit">
      
  <gp-image-comparison
  data-id="gbIQ2hmL2-"
    gp-data='{"aspectRatio":{"desktop":"16/9"},"defaultRatio":"1920/1080","handle":null,"handleSize":40,"hover":false,"leftImage":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-c82bf50e-fbff-47a8-8eea-b0568443a646.jpg","width":1920,"height":1080,"backupFileKey":"gempages_532871831896458163-c82bf50e-fbff-47a8-8eea-b0568443a646.jpg","storage":"FILE_CONTENT"},"leftImageCss":{},"rightImage":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-3b53beac-e3fb-43eb-aa0d-5a8fc7441eac.jpg","width":1920,"height":1080,"backupFileKey":"gempages_532871831896458163-3b53beac-e3fb-43eb-aa0d-5a8fc7441eac.jpg","storage":"FILE_CONTENT"},"rightImageCss":{},"sliderLineColor":"#ffffff","sliderLineWidth":2,"sliderPositionPercentage":0.5,"componentUid":"gbIQ2hmL2-","vertical":false}'
    class="gp-w-full gp-flex "
    style="--jc:start;--jc-tablet:start;--jc-mobile:start"
  >
  <div id="img-comparison-wrapper-gbIQ2hmL2-" style="--w:100%;--w-tablet:100%;--w-mobile:100%">
    <div
      style="box-sizing:border-box;position:relative;overflow:hidden;height:auto;display:block"
      id="img-comparison-container-gbIQ2hmL2-"
      data-testid="container"
    >
      <img
        data-testid="temp-image"
        alt=""
        title=""
        width="1920"
        height="1080"
        style="--pos:static;--op:0;--aspect:16/9"
      />
      
  <img
      id="right-image-gbIQ2hmL2-" title
      data-testid="right-image"
      draggable="false"
      class="gp_lazyload"
      data-src="{{ "gempages_532871831896458163-3b53beac-e3fb-43eb-aa0d-5a8fc7441eac.jpg" | file_url }}" data-srcset="{{ "gempages_532871831896458163-3b53beac-e3fb-43eb-aa0d-5a8fc7441eac.jpg" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="display:block;height:100%;position:absolute;width:100%;top:0;--objf:cover"
    />
  
      
  <img
      id="left-image-gbIQ2hmL2-" title
      data-testid="left-image"
      draggable="false"
      class="gp_lazyload"
      data-src="{{ "gempages_532871831896458163-c82bf50e-fbff-47a8-8eea-b0568443a646.jpg" | file_url }}" data-srcset="{{ "gempages_532871831896458163-c82bf50e-fbff-47a8-8eea-b0568443a646.jpg" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="display:block;height:100%;position:absolute;width:100%;top:0;--objf:cover"
    />
  
      <div id="image-comparison-slider-gbIQ2hmL2-" style="z-index:2;align-items:center;cursor:ew-resize;display:flex;flex-direction:column;height:100%;justify-content:center;position:absolute;width:40px">
        <div style="display:block;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);flex:0 1 auto;height:100%;width:2px"></div>
        <div style="align-items:center;border:2px solid #ffffff;border-radius:100%;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);box-sizing:border-box;display:flex;flex:1 0 auto;height:40px;justify-content:center;width:40px;transform:none">
          <svg style="margin-right:2px;filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px)" width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 6L6 0V12L0 6Z" fill="white"/>
          </svg>
          <svg style="margin-left:2px;filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px)" width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 6L0 12V0L6 6Z" fill="white"/>
          </svg>
        </div>
        <div style="display:block;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);flex:0 1 auto;height:100%;width:2px"></div>
      </div>
      
      
    </div></div>
  </gp-image-comparison>
  <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-image-comparison.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-549790644529333152 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=549790644395049888&sectionId=549790644529333152)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggbIQ2hmL2-_leftImageLabel","label":"ggbIQ2hmL2-_leftImageLabel","default":"Before"},{"type":"html","id":"ggbIQ2hmL2-_rightImageLabel","label":"ggbIQ2hmL2-_rightImageLabel","default":"After"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
