

<style>@import url('https://fonts.googleapis.com/css?family=Montserrat:400&display=swap');.gps-549790644530119584 .gp-absolute{position:absolute}.gps-549790644530119584 .gp-relative{position:relative}.gps-549790644530119584 .gp-inset-0{inset:0}.gps-549790644530119584 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-549790644530119584 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-549790644530119584 .gp-z-1{z-index:1}.gps-549790644530119584 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-549790644530119584 .gp-mb-0{margin-bottom:0}.gps-549790644530119584 .gp-flex{display:flex}.gps-549790644530119584 .gp-inline-flex{display:inline-flex}.gps-549790644530119584 .gp-grid{display:grid}.gps-549790644530119584 .\!gp-hidden{display:none!important}.gps-549790644530119584 .gp-hidden{display:none}.gps-549790644530119584 .gp-h-full{height:100%}.gps-549790644530119584 .gp-w-full{width:100%}.gps-549790644530119584 .gp-max-w-full{max-width:100%}.gps-549790644530119584 .gp-flex-col{flex-direction:column}.gps-549790644530119584 .gp-items-center{align-items:center}.gps-549790644530119584 .\!gp-justify-center{justify-content:center!important}.gps-549790644530119584 .gp-justify-center{justify-content:center}.gps-549790644530119584 .gp-gap-y-0{row-gap:0}.gps-549790644530119584 .gp-overflow-hidden{overflow:hidden}.gps-549790644530119584 .gp-break-words{overflow-wrap:break-word}.gps-549790644530119584 .gp-rounded-none{border-radius:0}.gps-549790644530119584 .gp-text-center{text-align:center}.gps-549790644530119584 .gp-no-underline{text-decoration-line:none}.gps-549790644530119584 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549790644530119584 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549790644530119584 .gp-duration-200{transition-duration:.2s}.gps-549790644530119584 .gp-duration-300{transition-duration:.3s}.gps-549790644530119584 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549790644530119584 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-549790644530119584 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-549790644530119584 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-549790644530119584 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-549790644530119584 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-549790644530119584 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-549790644530119584 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-549790644530119584 .tablet\:gp-relative{position:relative}.gps-549790644530119584 .tablet\:\!gp-hidden{display:none!important}.gps-549790644530119584 .tablet\:gp-hidden{display:none}.gps-549790644530119584 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-549790644530119584 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-549790644530119584 .mobile\:gp-relative{position:relative}.gps-549790644530119584 .mobile\:\!gp-hidden{display:none!important}.gps-549790644530119584 .mobile\:gp-hidden{display:none}.gps-549790644530119584 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-549790644530119584 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-549790644530119584 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-549790644530119584 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-549790644530119584 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-549790644530119584 .\[\&_p\]\:gp-inline p{display:inline}.gps-549790644530119584 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-549790644530119584 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-549790644530119584 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="i2l80a0dc152d" data-id="i2l80a0dc152d"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:rgb(26, 26, 26)"
        class="i2l80a0dc152d gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_KDIsEISbZolS gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:800px;--h-tablet:500px;--h-mobile:500px;--d:flex;--d-mobile:none;--d-tablet:none;--mt:0px;--ml:auto;--mr:auto">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"fixed","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-4b08f2aa-e7e3-4816-b9d9-ed497c418c16.jpg","width":5509,"height":2797,"backupFileKey":"gempages_532871831896458163-4b08f2aa-e7e3-4816-b9d9-ed497c418c16.jpg","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"fixed","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-4b08f2aa-e7e3-4816-b9d9-ed497c418c16.jpg","width":5509,"height":2797,"backupFileKey":"gempages_532871831896458163-4b08f2aa-e7e3-4816-b9d9-ed497c418c16.jpg","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"fixed","color":"","image":{"backupFileKey":"","height":3313,"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354","width":5891},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"contain","type":"image"}},"uid":"g86OD_xSES","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="g86OD_xSES gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:none;--d-tablet:none;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:800px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="g86OD_xSES"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:800px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_532871831896458163-4b08f2aa-e7e3-4816-b9d9-ed497c418c16_1024x.jpg" | file_url }}" />
      <img
        title
        class="adaptive-hero-banner"
        src="{{ "gempages_532871831896458163-4b08f2aa-e7e3-4816-b9d9-ed497c418c16.jpg" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:800px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:contain;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('{{ "gempages_532871831896458163-4b08f2aa-e7e3-4816-b9d9-ed497c418c16.jpg" | file_url }}');--bgi-tablet:url('{{ "gempages_532871831896458163-4b08f2aa-e7e3-4816-b9d9-ed497c418c16_1024x.jpg" | file_url }}');--bgi-mobile:url('https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354');--duration:0.5s;--scale:110%;--pos:fixed;--pos-tablet:absolute;--pos-mobile:fixed;--h:100vh;--h-tablet:100vh;--h-mobile:100vh;--w:100vw;--w-tablet:100vw;--w-mobile:100vw;--top:0px;--top-tablet:0px;--top-mobile:0px"
            >
            
            
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gOPt9_cmhT gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gU2ReiUHIX" data-id="gU2ReiUHIX"
        style="--mt:auto;--ml:auto;--mb:auto;--mr:1px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:end;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:664px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gU2ReiUHIX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLJMx5ktRG gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gFvtwIiOjY">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gFvtwIiOjY "
        style="--ta:right;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:right">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:51px;--size-tablet:46px;--size-mobile:45px;--lh:150%;--lh-mobile:150%;--weight:bold;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;overflow:hidden"
        >{{ section.settings.ggFvtwIiOjY_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRbwT1Q04q">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gRbwT1Q04q "
        style="--ta:right;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:1.5972710200945857px 1.2036300463040965px 1px rgba(0, 0, 0, 0.6);--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:16px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:100px;overflow:hidden"
        >{{ section.settings.ggRbwT1Q04q_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:right"
    
  >
    <style>
    .g4fkw0w5WM.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 11px;
      border-bottom-right-radius: 11px;
      border-top-left-radius: 11px;
      border-top-right-radius: 11px;
      
    }

    .g4fkw0w5WM:hover::before {
      
      
    }

    .g4fkw0w5WM:hover .gp-button-icon {
      color: undefined;
    }

     .g4fkw0w5WM .gp-button-icon {
      color: rgb(33, 33, 33);
    }

    .g4fkw0w5WM:hover .gp-button-price {
      color: undefined;
    }

    .g4fkw0w5WM .gp-button-price {
      color: rgb(33, 33, 33);
    }

    .g4fkw0w5WM .gp-product-dot-price {
       color: rgb(33, 33, 33);
    }

    .g4fkw0w5WM:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/starter-kit" target="_self" data-id="g4fkw0w5WM" aria-label="GET STARTED"
      
      data-state="idle"
      class="g4fkw0w5WM gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-center"
      style="--hvr-bg:var(--g-c-highlight, highlight);--bg:rgb(254, 254, 254);--bblr:11px;--bbrr:11px;--btlr:11px;--btrr:11px;--shadow:none;--w:120px;--w-tablet:120px;--w-mobile:120px;--h:50px;--h-tablet:50px;--h-mobile:50px;--pl:0px;--pr:0px;--pt:8px;--pb:8px;--c:rgb(33, 33, 33);--size:14px;--size-tablet:14px;--size-mobile:12px;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:14px;--size-tablet:14px;--size-mobile:12px"
      >
        {{ section.settings.gg4fkw0w5WM_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:800px;--h-tablet:500px;--h-mobile:500px;--d:none;--d-mobile:flex;--d-tablet:flex;--mt:0px;--ml:auto;--mr:auto">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"fixed","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-bb51df27-4eaf-4fc8-81ed-c97f07699a44.jpg","width":8372,"height":2866,"backupFileKey":"gempages_532871831896458163-bb51df27-4eaf-4fc8-81ed-c97f07699a44.jpg","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"fixed","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-bb51df27-4eaf-4fc8-81ed-c97f07699a44.jpg","width":8372,"height":2866,"backupFileKey":"gempages_532871831896458163-bb51df27-4eaf-4fc8-81ed-c97f07699a44.jpg","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"fixed","color":"","image":{"backupFileKey":"","height":3313,"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354","width":5891},"position":{"x":0,"y":50},"repeat":"repeat","size":"cover","type":"image"}},"uid":"gJUvlmf9s3","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="gJUvlmf9s3 gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:flex;--d-tablet:flex;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:800px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gJUvlmf9s3"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:800px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_532871831896458163-bb51df27-4eaf-4fc8-81ed-c97f07699a44_1024x.jpg" | file_url }}" />
      <img
        title
        class="adaptive-hero-banner"
        src="{{ "gempages_532871831896458163-bb51df27-4eaf-4fc8-81ed-c97f07699a44.jpg" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:800px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgp:50% 50%;--bgp-mobile:0% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:repeat;--bgi:url('{{ "gempages_532871831896458163-bb51df27-4eaf-4fc8-81ed-c97f07699a44.jpg" | file_url }}');--bgi-tablet:url('{{ "gempages_532871831896458163-bb51df27-4eaf-4fc8-81ed-c97f07699a44_1024x.jpg" | file_url }}');--bgi-mobile:url('https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354');--duration:0.5s;--scale:110%;--pos:fixed;--pos-tablet:absolute;--pos-mobile:fixed;--h:100vh;--h-tablet:100vh;--h-mobile:100vh;--w:100vw;--w-tablet:100vw;--w-mobile:100vw;--top:0px;--top-tablet:0px;--top-mobile:0px"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:25%;--hvr-op:20%"> 
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:500%"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gTwegKnZEd gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gA68J1Q4oh">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gA68J1Q4oh "
        style="--ta:right;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:right">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--ta-mobile:center;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:51px;--size-tablet:46px;--size-mobile:45px;--lh:150%;--lh-mobile:50%;--weight:bold;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;overflow:hidden"
        >{{ section.settings.ggA68J1Q4oh_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gPhu8I7guo" data-id="gPhu8I7guo"
        style="--mt:auto;--ml:auto;--mb:auto;--mr:1px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:end;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:664px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPhu8I7guo gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSucWUVFlw gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g9pIjUQ_FS">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g9pIjUQ_FS "
        style="--ta:right;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:1.5972710200945857px 1.2036300463040965px 1px rgba(0, 0, 0, 0.6);--ta:right;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:16px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg9pIjUQ_FS_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:right;--ta-mobile:center"
    
  >
    <style>
    .g06l_-TuFv.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 11px;
      border-bottom-right-radius: 11px;
      border-top-left-radius: 11px;
      border-top-right-radius: 11px;
      
    }

    .g06l_-TuFv:hover::before {
      
      
    }

    .g06l_-TuFv:hover .gp-button-icon {
      color: undefined;
    }

     .g06l_-TuFv .gp-button-icon {
      color: rgb(33, 33, 33);
    }

    .g06l_-TuFv:hover .gp-button-price {
      color: undefined;
    }

    .g06l_-TuFv .gp-button-price {
      color: rgb(33, 33, 33);
    }

    .g06l_-TuFv .gp-product-dot-price {
       color: rgb(33, 33, 33);
    }

    .g06l_-TuFv:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/starter-kit" target="_self" data-id="g06l_-TuFv" aria-label="GET STARTED"
      
      data-state="idle"
      class="g06l_-TuFv gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-center"
      style="--hvr-bg:var(--g-c-highlight, highlight);--bg:rgb(254, 254, 254);--bblr:11px;--bbrr:11px;--btlr:11px;--btrr:11px;--shadow:none;--w:120px;--w-tablet:120px;--w-mobile:120px;--h:50px;--h-tablet:50px;--h-mobile:50px;--pl:0px;--pr:0px;--pt:8px;--pb:8px;--c:rgb(33, 33, 33);--size:14px;--size-tablet:14px;--size-mobile:12px;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:14px;--size-tablet:14px;--size-mobile:12px"
      >
        {{ section.settings.gg06l_-TuFv_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-549790644530119584 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=549790644395049888&sectionId=549790644530119584)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggFvtwIiOjY_text","label":"ggFvtwIiOjY_text","default":"<span style=\"font-size:55px;\">EYELACE IS THE</span><br><span style=\"font-size:55px;\">BETTER OPTION.</span>"},{"type":"html","id":"ggRbwT1Q04q_text","label":"ggRbwT1Q04q_text","default":"<p>Our single-placement waterline lashes are the first of their kind, designed to sit naturally beneath your lashes for a seamless, elegant look. No mess. No damage. Just effortless beauty—whether you’re wearing makeup or not.</p>"},{"type":"html","id":"gg4fkw0w5WM_label","label":"gg4fkw0w5WM_label","default":"GET STARTED"},{"type":"html","id":"ggA68J1Q4oh_text","label":"ggA68J1Q4oh_text","default":"<span style=\"font-size:27px;\">EYELACE IS THE</span><br><span style=\"font-size:27px;\">BETTER OPTION.</span>"},{"type":"html","id":"gg9pIjUQ_FS_text","label":"gg9pIjUQ_FS_text","default":"<p><span style=\"font-size:13px;\">Our single-placement waterline lashes are the first of their kind, designed to sit naturally beneath your lashes for a seamless, elegant look. No mess. No damage. Just effortless beauty—whether you’re wearing makeup or not.</span></p>"},{"type":"html","id":"gg06l_-TuFv_label","label":"gg06l_-TuFv_label","default":"GET STARTED"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
