

<style>.gps-535350467404759822 .gp-relative{position:relative}.gps-535350467404759822 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-535350467404759822 .gp-mb-0{margin-bottom:0}.gps-535350467404759822 .\!gp-inline{display:inline!important}.gps-535350467404759822 .gp-flex{display:flex}.gps-535350467404759822 .gp-grid{display:grid}.gps-535350467404759822 .\!gp-hidden{display:none!important}.gps-535350467404759822 .gp-hidden{display:none}.gps-535350467404759822 .gp-h-full{height:100%}.gps-535350467404759822 .gp-w-full{width:100%}.gps-535350467404759822 .gp-max-w-full{max-width:100%}.gps-535350467404759822 .gp-flex-col{flex-direction:column}.gps-535350467404759822 .gp-gap-y-0{row-gap:0}.gps-535350467404759822 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535350467404759822 .gp-duration-200{transition-duration:.2s}.gps-535350467404759822 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-535350467404759822 .tablet\:\!gp-hidden{display:none!important}.gps-535350467404759822 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-535350467404759822 .mobile\:\!gp-hidden{display:none!important}.gps-535350467404759822 .mobile\:gp-hidden{display:none}}.gps-535350467404759822 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-535350467404759822 .\[\&_p\]\:gp-inline p{display:inline}.gps-535350467404759822 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-535350467404759822 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="gz0uKH1G3_" data-id="gz0uKH1G3_"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:12px;--pl-mobile:0px;--pb-mobile:12px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:#1E2024"
        class="gz0uKH1G3_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIEYqQHC_K gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g_byMdks-x" data-id="g_byMdks-x"
        style="--mt:30px;--ml:auto;--mb:32px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, auto);--gtc-tablet:minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_byMdks-x gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1l4mX3bx7 gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gGyZDKNnjT">
    <div
      parentTag="Col"
        class="gGyZDKNnjT "
        style="--ta:center;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--ls:2px;--size:12px;--size-tablet:14px;--size-mobile:12px;--weight:bold;--c:rgb(252, 252, 252);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggGyZDKNnjT_text }}</div>
      </div>
    </div>
    </gp-text>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="goAJwSvMox">
    <div
      parentTag="Col"
        class="goAJwSvMox "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:25px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggoAJwSvMox_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gqlJ2VXA-G" data-id="gqlJ2VXA-G"
        style="--mt:0px;--ml:auto;--mb:32px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqlJ2VXA-G gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggkY9ie5e6 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gmDkfBz34k"
    role="presentation"
    class="gp-group/image gmDkfBz34k"
    style="--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      isNotLazyload="true"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_532871831896458163-7701bbe4-e802-450a-b3cd-0eace7c2acff.jpg" | file_url }}" width="854" height="1280" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      style="--aspect:2/3;--aspect-tablet:2/3;--aspect-mobile:2/3;--objf:cover;--objf-mobile:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_532871831896458163-7701bbe4-e802-450a-b3cd-0eace7c2acff.jpg" | file_url }}" data-srcset="{{ 'gempages_532871831896458163-7701bbe4-e802-450a-b3cd-0eace7c2acff.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_532871831896458163-7701bbe4-e802-450a-b3cd-0eace7c2acff.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_532871831896458163-7701bbe4-e802-450a-b3cd-0eace7c2acff.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="854" height="1280" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:2/3;--aspect-tablet:2/3;--aspect-mobile:2/3;--objf:cover;--objf-mobile:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  {%- endif -%}
  
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="glHKlYR2Dh">
    <div
      parentTag="Col"
        class="glHKlYR2Dh "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gglHKlYR2Dh_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guOqytahLM gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gB9nzBocKa"
    role="presentation"
    class="gp-group/image gB9nzBocKa"
    style="--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      isNotLazyload="true"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_532871831896458163-31e11540-f2cd-4895-93ee-6ccca55fc49d.jpg" | file_url }}" width="854" height="1280" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      style="--aspect:2/3;--aspect-tablet:2/3;--aspect-mobile:2/3;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_532871831896458163-31e11540-f2cd-4895-93ee-6ccca55fc49d.jpg" | file_url }}" data-srcset="{{ 'gempages_532871831896458163-31e11540-f2cd-4895-93ee-6ccca55fc49d.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_532871831896458163-31e11540-f2cd-4895-93ee-6ccca55fc49d.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_532871831896458163-31e11540-f2cd-4895-93ee-6ccca55fc49d.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="854" height="1280" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:2/3;--aspect-tablet:2/3;--aspect-mobile:2/3;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  {%- endif -%}
  
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gBL356P7OZ">
    <div
      parentTag="Col"
        class="gBL356P7OZ "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggBL356P7OZ_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIQucgLubc gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gwn07o_sX4"
    role="presentation"
    class="gp-group/image gwn07o_sX4"
    style="--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      isNotLazyload="true"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-08-26_at_2.04.20_PM.png?v=1724695471" width="1094" height="1616" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      style="--aspect:2/3;--aspect-tablet:2/3;--aspect-mobile:2/3;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-08-26_at_2.04.20_PM.png?v=1724695471" data-srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-08-26_at_2.04.20_PM.png?v=1724695471 768w,https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-08-26_at_2.04.20_PM.png?v=1724695471 1024w,https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-08-26_at_2.04.20_PM.png?v=1724695471 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="1094" height="1616" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:2/3;--aspect-tablet:2/3;--aspect-mobile:2/3;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  {%- endif -%}
  
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gERPQIHKGR">
    <div
      parentTag="Col"
        class="gERPQIHKGR "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggERPQIHKGR_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-535350467404759822 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=535138477415596977&sectionId=535350467404759822)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggGyZDKNnjT_text","label":"ggGyZDKNnjT_text","default":"<p>ENHANCING YOUR NATURAL BEAUTY</p>"},{"type":"html","id":"ggoAJwSvMox_text","label":"ggoAJwSvMox_text","default":"EYELACE IS"},{"type":"html","id":"gglHKlYR2Dh_text","label":"gglHKlYR2Dh_text","default":"BOLD"},{"type":"html","id":"ggBL356P7OZ_text","label":"ggBL356P7OZ_text","default":"ELEGANT"},{"type":"html","id":"ggERPQIHKGR_text","label":"ggERPQIHKGR_text","default":"NATURAL"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
