

<style>.gps-534930429602432161 .gp-relative{position:relative}.gps-534930429602432161 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534930429602432161 .gp-mb-0{margin-bottom:0}.gps-534930429602432161 .\!gp-inline{display:inline!important}.gps-534930429602432161 .gp-flex{display:flex}.gps-534930429602432161 .gp-grid{display:grid}.gps-534930429602432161 .\!gp-hidden{display:none!important}.gps-534930429602432161 .gp-hidden{display:none}.gps-534930429602432161 .gp-h-full{height:100%}.gps-534930429602432161 .gp-w-full{width:100%}.gps-534930429602432161 .gp-max-w-full{max-width:100%}.gps-534930429602432161 .gp-flex-col{flex-direction:column}.gps-534930429602432161 .gp-gap-y-0{row-gap:0}.gps-534930429602432161 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534930429602432161 .gp-duration-200{transition-duration:.2s}.gps-534930429602432161 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-534930429602432161 .tablet\:\!gp-hidden{display:none!important}.gps-534930429602432161 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-534930429602432161 .mobile\:\!gp-hidden{display:none!important}.gps-534930429602432161 .mobile\:gp-hidden{display:none}}.gps-534930429602432161 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-534930429602432161 .\[\&_p\]\:gp-inline p{display:inline}.gps-534930429602432161 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-534930429602432161 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l460d457a5c"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:72px;--pl:0px;--pb:72px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(254, 254, 254)"
        class="i2l460d457a5c gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l460d457a5c gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="w-i2l460d457a5c"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2l460d457a5c gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l15b3598353 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="IKjsLBXODAHr "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gIKjsLBXODAHr_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="tyQosYhRFlpO "
        style="--ta:center;--mt:0px;--ml:0px;--mb:32px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:26px;--size-tablet:25px;--size-mobile:23px;--weight:bold;--c:rgb(32, 32, 32);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gtyQosYhRFlpO_text }}</div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="i2l93f6662182"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:28px;--cg-tablet:28px;--pc:center;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(254, 254, 254)"
        class="i2l93f6662182 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l8780e26ac2 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2l7769045852"
        style="--mt:0px;--ml:auto;--mb:12px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l7769045852 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l7769045852 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="rewrap_row_FpvSKkLNhSLq"
        style="--bs:solid;--bw:1px 1px 1px 1px;--bc:rgb(218, 163, 145);--border:[object Object];--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--rounded:[object Object];--mt:0px;--ml:auto;--mb:12px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000"
        class="rewrap_row_FpvSKkLNhSLq gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-UtCgWEcLzMtE gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gCt8HgZSgn"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-02-14_at_9.04.48_AM.png?v=1707919732"
          alt=""
          fetchpriority="high"
          style="--aspect:1770/1158;--aspect-tablet:1770/1158;--aspect-mobile:1770/1158;--objf:cover;--h:185px;--h-tablet:185px;--h-mobile:185px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-02-14_at_9.04.48_AM.png?v=1707919732"
        width="100%"
        alt=""
        style="--aspect:1770/1158;--aspect-tablet:1770/1158;--aspect-mobile:1770/1158;--objf:cover;--h:185px;--h-tablet:185px;--h-mobile:185px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="sp-i2l151c9a1009"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, auto);--gtc-tablet:minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l151c9a1009 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l151c9a1009 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="qJRFEYKKSXkM "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:16px;--c:rgb(32, 32, 32);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gqJRFEYKKSXkM_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="IDFbSoeHSASe "
        style="--ta:center;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:83%;--w-tablet:83%;--w-mobile:83%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:160%;--lh-tablet:180%;--lh-mobile:180%;--c:rgb(38, 38, 38);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gIDFbSoeHSASe_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gHi5I1pkzR "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:16px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:14px;--size-tablet:18px;--size-mobile:16px;--weight:bold;--c:rgb(32, 32, 32);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHi5I1pkzR_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_jBOhuxNSpfWX gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g4XQnYIFeh"
        style="--bs:solid;--bw:1px 1px 1px 1px;--bc:rgb(218, 163, 145);--border:[object Object];--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--rounded:[object Object];--mt:0px;--ml:auto;--mb:12px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000"
        class="g4XQnYIFeh gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7GH1zx4mS gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gKmNTY3i66"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-08-26_at_1.34.06_PM.png?v=1724693658"
          alt=""
          fetchpriority="high"
          style="--aspect:1230/814;--aspect-tablet:1230/814;--aspect-mobile:1230/814;--objf:cover;--h:185px;--h-tablet:185px;--h-mobile:185px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-08-26_at_1.34.06_PM.png?v=1724693658"
        width="100%"
        alt=""
        style="--aspect:1230/814;--aspect-tablet:1230/814;--aspect-mobile:1230/814;--objf:cover;--h:185px;--h-tablet:185px;--h-mobile:185px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="gEUM0Nkldl "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:16px;--c:rgb(32, 32, 32);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggEUM0Nkldl_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gMJhgIGjSY "
        style="--ta:center;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:83%;--w-tablet:83%;--w-mobile:83%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:160%;--lh-tablet:180%;--lh-mobile:180%;--c:rgb(38, 38, 38);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggMJhgIGjSY_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g5nZW9vNk1 "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:16px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:14px;--size-tablet:18px;--size-mobile:16px;--weight:bold;--c:rgb(32, 32, 32);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg5nZW9vNk1_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_WNiaWaYcPwSr gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g-QkV-RHST"
        style="--bs:solid;--bw:1px 1px 1px 1px;--bc:rgb(218, 163, 145);--border:[object Object];--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--rounded:[object Object];--mt:0px;--ml:auto;--mb:12px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000"
        class="g-QkV-RHST gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyQzgKh_Q3 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gtnFBwSvxj"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-08-26_at_1.32.02_PM.png?v=1724693542"
          alt=""
          fetchpriority="high"
          style="--aspect:2420/1580;--aspect-tablet:2420/1580;--aspect-mobile:2420/1580;--objf:cover;--h:185px;--h-tablet:185px;--h-mobile:185px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-08-26_at_1.32.02_PM.png?v=1724693542"
        width="100%"
        alt=""
        style="--aspect:2420/1580;--aspect-tablet:2420/1580;--aspect-mobile:2420/1580;--objf:cover;--h:185px;--h-tablet:185px;--h-mobile:185px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="guoeeR0OOo "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:16px;--pb:0px;--pr:16px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:16px;--c:rgb(32, 32, 32);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gguoeeR0OOo_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gS2YXKzKPK "
        style="--ta:center;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:83%;--w-tablet:83%;--w-mobile:83%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:160%;--lh-tablet:180%;--lh-mobile:180%;--c:rgb(38, 38, 38);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggS2YXKzKPK_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gnMNlGpSfN "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:16px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:14px;--size-tablet:18px;--size-mobile:16px;--weight:bold;--c:rgb(32, 32, 32);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggnMNlGpSfN_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_CCnyMwXPtkbH gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g8iwi8aFE4"
        style="--bs:solid;--bw:1px 1px 1px 1px;--bc:rgb(218, 163, 145);--border:[object Object];--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--rounded:[object Object];--mt:0px;--ml:auto;--mb:12px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000"
        class="g8iwi8aFE4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNpHaBFImf gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gLIxbfOPO1"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-02-14_at_8.59.02_AM.png?v=1707919736"
          alt=""
          fetchpriority="high"
          style="--aspect:1812/1268;--aspect-tablet:1812/1268;--aspect-mobile:1812/1268;--objf:cover;--h:185px;--h-tablet:185px;--h-mobile:185px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-02-14_at_8.59.02_AM.png?v=1707919736"
        width="100%"
        alt=""
        style="--aspect:1812/1268;--aspect-tablet:1812/1268;--aspect-mobile:1812/1268;--objf:cover;--h:185px;--h-tablet:185px;--h-mobile:185px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="gWSKQBYKVZ "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:16px;--pb:0px;--pr:16px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:16px;--c:rgb(32, 32, 32);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggWSKQBYKVZ_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gYtoa07Y22 "
        style="--ta:center;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:83%;--w-tablet:83%;--w-mobile:83%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:rgb(38, 38, 38);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggYtoa07Y22_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gshhAGxDjM "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:16px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:14px;--size-tablet:18px;--size-mobile:16px;--weight:bold;--c:rgb(32, 32, 32);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggshhAGxDjM_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-534930429602432161 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534930429199778977&sectionId=534930429602432161)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gIKjsLBXODAHr_text","label":"gIKjsLBXODAHr_text","default":"<p>THE PERFECT FALSE LASH</p>"},{"type":"html","id":"gtyQosYhRFlpO_text","label":"gtyQosYhRFlpO_text","default":"QUALITY MADE FOR BEAUTY"},{"type":"html","id":"gqJRFEYKKSXkM_text","label":"gqJRFEYKKSXkM_text","default":"Stunning & Natural Look"},{"type":"html","id":"gIDFbSoeHSASe_text","label":"gIDFbSoeHSASe_text","default":"No matter which lash you choose, Eyelace strip lashes are all designed to seamlessly accentuate your natural beauty. The only difference others will notice is how good you look."},{"type":"html","id":"ggHi5I1pkzR_text","label":"ggHi5I1pkzR_text","default":"<p><a href=\"https://eyelace.com/products/starter-kit\"><u>VIEW MORE</u></a></p>"},{"type":"html","id":"ggEUM0Nkldl_text","label":"ggEUM0Nkldl_text","default":"<p>Easy To Apply &amp; Remove</p>"},{"type":"html","id":"ggMJhgIGjSY_text","label":"ggMJhgIGjSY_text","default":"<p>Eyelace false lashes are designed to be easy for anyone to apply and remove. Whether you are on the go or perfecting your look for a shoot, Eyelace lashes will make lash perfection obtainable every wear.</p>"},{"type":"html","id":"gg5nZW9vNk1_text","label":"gg5nZW9vNk1_text","default":"<p><a href=\"https://eyelace.com/products/starter-kit\"><u>VIEW MORE</u></a></p>"},{"type":"html","id":"gguoeeR0OOo_text","label":"gguoeeR0OOo_text","default":"<p>Comfortable For Any Occasion</p>"},{"type":"html","id":"ggS2YXKzKPK_text","label":"ggS2YXKzKPK_text","default":"<p>After applying, you'll forget you're wearing your Eyelace eyelashes. They'll remain right where you've put them and feel weightless and look flawless until the end of the day when you take them off—just as easily!</p>"},{"type":"html","id":"ggnMNlGpSfN_text","label":"ggnMNlGpSfN_text","default":"<p><a href=\"https://eyelace.com/products/starter-kit\"><u>VIEW MORE</u></a></p>"},{"type":"html","id":"ggWSKQBYKVZ_text","label":"ggWSKQBYKVZ_text","default":"<p>Non-Damaging to Your Natural Lash Line</p>"},{"type":"html","id":"ggYtoa07Y22_text","label":"ggYtoa07Y22_text","default":"<p>Extensions require harsh chemicals to be removed; can permanently damage your ability to grow lashes as they sit directly on your follicles; and inhibit thorough daily hygiene. Eyelace lashes are safe for your natural eyelashes, skin, eyelids, and eyes.</p>"},{"type":"html","id":"ggshhAGxDjM_text","label":"ggshhAGxDjM_text","default":"<p><a href=\"https://eyelace.com/products/starter-kit\"><u>VIEW MORE</u></a></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
