

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534930429367551137.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534930429367551137.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-534930429367551137.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534930429367551137.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534930429367551137.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-534930429367551137.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534930429367551137.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534930429367551137.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534930429367551137.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534930429367551137.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534930429367551137.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-534930429367551137.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534930429367551137.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534930429367551137.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534930429367551137.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534930429367551137.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534930429367551137.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534930429367551137.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-534930429367551137.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-534930429367551137.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-534930429367551137.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534930429367551137.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-534930429367551137.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534930429367551137.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-534930429367551137.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-534930429367551137.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-534930429367551137.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-534930429367551137.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-534930429367551137.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-534930429367551137.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-534930429367551137.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-534930429367551137.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-534930429367551137.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534930429367551137.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-534930429367551137.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534930429367551137.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534930429367551137.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534930429367551137.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534930429367551137.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534930429367551137.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534930429367551137.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-534930429367551137.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-534930429367551137.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-534930429367551137.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-534930429367551137.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534930429367551137.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-534930429367551137.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-534930429367551137.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-534930429367551137.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-534930429367551137.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-534930429367551137.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-534930429367551137.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-534930429367551137.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-534930429367551137.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-534930429367551137.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-534930429367551137.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-534930429367551137.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-534930429367551137.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-534930429367551137.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-534930429367551137.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534930429367551137.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534930429367551137.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-534930429367551137.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-534930429367551137.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-534930429367551137.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-534930429367551137.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-534930429367551137.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-534930429367551137.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-534930429367551137.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-534930429367551137.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-534930429367551137.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-534930429367551137.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-534930429367551137.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534930429367551137.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534930429367551137.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-534930429367551137.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-534930429367551137.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-534930429367551137.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-534930429367551137.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-534930429367551137 .gp-absolute{position:absolute}.gps-534930429367551137 .gp-relative{position:relative}.gps-534930429367551137 .gp-inset-0{inset:0}.gps-534930429367551137 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-534930429367551137 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-534930429367551137 .gp-z-1{z-index:1}.gps-534930429367551137 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534930429367551137 .gp-mb-0{margin-bottom:0}.gps-534930429367551137 .gp-flex{display:flex}.gps-534930429367551137 .gp-grid{display:grid}.gps-534930429367551137 .\!gp-hidden{display:none!important}.gps-534930429367551137 .gp-hidden{display:none}.gps-534930429367551137 .gp-h-full{height:100%}.gps-534930429367551137 .gp-w-full{width:100%}.gps-534930429367551137 .gp-max-w-full{max-width:100%}.gps-534930429367551137 .gp-flex-col{flex-direction:column}.gps-534930429367551137 .gp-items-center{align-items:center}.gps-534930429367551137 .\!gp-justify-center{justify-content:center!important}.gps-534930429367551137 .gp-gap-y-0{row-gap:0}.gps-534930429367551137 .gp-overflow-hidden{overflow:hidden}.gps-534930429367551137 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534930429367551137 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534930429367551137 .gp-duration-200{transition-duration:.2s}.gps-534930429367551137 .gp-duration-300{transition-duration:.3s}.gps-534930429367551137 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-534930429367551137 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-534930429367551137 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1024px){.gps-534930429367551137 .tablet\:gp-relative{position:relative}.gps-534930429367551137 .tablet\:\!gp-hidden{display:none!important}.gps-534930429367551137 .tablet\:gp-hidden{display:none}.gps-534930429367551137 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-534930429367551137 .mobile\:gp-relative{position:relative}.gps-534930429367551137 .mobile\:\!gp-hidden{display:none!important}.gps-534930429367551137 .mobile\:gp-hidden{display:none}.gps-534930429367551137 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-534930429367551137 .mobile\:\!gp-justify-center,.gps-534930429367551137 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-534930429367551137 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-534930429367551137 .\[\&_p\]\:gp-inline p{display:inline}.gps-534930429367551137 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-534930429367551137 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="i2lefde28c2b3" data-id="i2lefde28c2b3"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(205, 205, 205);--bgi:url()"
        class="i2lefde28c2b3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_VlhAIVHOWHnL gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:750px;--h-tablet:500px;--h-mobile:500px;--d:flex;--d-tablet:flex;--d-mobile:flex;--mt:0px;--ml:auto;--mb:0px;--mr:auto">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"size":"cover","type":"image","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg","width":2000,"height":1000,"backupFileKey":"gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg","storage":"FILE_CONTENT"},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"},"tablet":{"size":"cover","type":"image","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg","width":2000,"height":1000,"backupFileKey":"gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg","storage":"FILE_CONTENT"},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"},"mobile":{"size":"cover","type":"image","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg","width":2000,"height":1000,"backupFileKey":"gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg","storage":"FILE_CONTENT"},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"}},"uid":"rewrap_row_VlhAIVHOWHnL","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[7,5],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="rewrap_row_VlhAIVHOWHnL gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:750px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="rewrap_row_VlhAIVHOWHnL"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:750px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078_768x.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078_1024x.jpg" | file_url }}" />
      <img
        title
        class="adaptive-hero-banner"
        src="{{ "gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:750px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('{{ "gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg" | file_url }}');--bgi-tablet:url('{{ "gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078_1024x.jpg" | file_url }}');--bgi-mobile:url('{{ "gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078_768x.jpg" | file_url }}');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#1E2024;--hvr-bgc:#00000000;--top:0;--left:0;--op:20%;--hvr-op:20%"> 
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o:0"
      class="c-hb-rewrap_row_VlhAIVHOWHnL gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="sp-c-nsw-i2l5b16e6cf25" data-id="sp-c-nsw-i2l5b16e6cf25"
        style="--mt:auto;--ml:1px;--mb:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:630px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-c-nsw-i2l5b16e6cf25 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2l5b16e6cf25 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="OBPdRtisfDbP">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="OBPdRtisfDbP "
        style="--ta:left;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--size:12px;--size-tablet:14px;--size-mobile:12px;--weight:bold;--c:rgb(33, 33, 33);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gOBPdRtisfDbP_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="TycOCyfZjiCR">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="TycOCyfZjiCR "
        style="--ta:left;--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:50px;--size-tablet:46px;--size-mobile:41px;--weight:bold;--c:rgb(34, 34, 34);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;overflow:hidden"
        >{{ section.settings.gTycOCyfZjiCR_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="TXfKrDmiSvWu">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="TXfKrDmiSvWu "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(37, 37, 37);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gTXfKrDmiSvWu_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center;--o:1;--d-mobile:none"
      class="gB_IaLrC83 gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXw.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw9aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw2aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXx-p7K4KLg.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-534930429367551137 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534930429199778977&sectionId=534930429367551137)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gOBPdRtisfDbP_text","label":"gOBPdRtisfDbP_text","default":"<p>BECAUSE YOU'RE BEAUTIFUL</p>"},{"type":"html","id":"gTycOCyfZjiCR_text","label":"gTycOCyfZjiCR_text","default":"LASH COLLECTION"},{"type":"html","id":"gTXfKrDmiSvWu_text","label":"gTXfKrDmiSvWu_text","default":"Seven innovatively designed, unique waterline lashes that augment your natural lashes while seamlessly blending in with them for a stunningly elegant, natural lash effect."}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
