

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534637098083288225.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-534637098083288225.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534637098083288225.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534637098083288225.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534637098083288225.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534637098083288225.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534637098083288225.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534637098083288225.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534637098083288225.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534637098083288225.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534637098083288225.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534637098083288225.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534637098083288225.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-534637098083288225.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-534637098083288225.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-534637098083288225.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534637098083288225.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-534637098083288225.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534637098083288225.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-534637098083288225.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-534637098083288225.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-534637098083288225.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-534637098083288225.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-534637098083288225.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-534637098083288225.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-534637098083288225.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-534637098083288225.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534637098083288225.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534637098083288225.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534637098083288225.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534637098083288225.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534637098083288225.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534637098083288225.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534637098083288225.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-534637098083288225.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-534637098083288225.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534637098083288225.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-534637098083288225.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-534637098083288225.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-534637098083288225.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-534637098083288225.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-534637098083288225.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-534637098083288225.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-534637098083288225.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-534637098083288225.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534637098083288225.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534637098083288225.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-534637098083288225.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-534637098083288225.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-534637098083288225.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-534637098083288225.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-534637098083288225.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-534637098083288225.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-534637098083288225.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534637098083288225.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534637098083288225.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-534637098083288225.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-534637098083288225 .gp-relative{position:relative}.gps-534637098083288225 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534637098083288225 .gp-mb-0{margin-bottom:0}.gps-534637098083288225 .\!gp-inline{display:inline!important}.gps-534637098083288225 .gp-flex{display:flex}.gps-534637098083288225 .gp-grid{display:grid}.gps-534637098083288225 .\!gp-hidden{display:none!important}.gps-534637098083288225 .gp-hidden{display:none}.gps-534637098083288225 .gp-h-full{height:100%}.gps-534637098083288225 .gp-w-full{width:100%}.gps-534637098083288225 .gp-max-w-full{max-width:100%}.gps-534637098083288225 .gp-flex-col{flex-direction:column}.gps-534637098083288225 .gp-gap-y-0{row-gap:0}.gps-534637098083288225 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534637098083288225 .gp-duration-200{transition-duration:.2s}.gps-534637098083288225 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-534637098083288225 .tablet\:\!gp-hidden{display:none!important}.gps-534637098083288225 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-534637098083288225 .mobile\:\!gp-hidden{display:none!important}.gps-534637098083288225 .mobile\:gp-hidden{display:none}}.gps-534637098083288225 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-534637098083288225 .\[\&_p\]\:gp-inline p{display:inline}.gps-534637098083288225 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-534637098083288225 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="i2lacd2480397" data-id="i2lacd2480397"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#1E2024;--bgi:url()"
        class="i2lacd2480397 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2lacd2480397 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="w-i2lacd2480397" data-id="w-i2lacd2480397"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2lacd2480397 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l4ef5257053 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="sp-i2lc92df333c7" data-id="sp-i2lc92df333c7"
        style="--mt:30px;--ml:auto;--mb:32px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, auto);--gtc-tablet:minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2lc92df333c7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lc92df333c7 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="UNbtMwzyTibW">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="UNbtMwzyTibW "
        style="--ta:center;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--ls:2px;--size:10px;--size-tablet:14px;--size-mobile:12px;--c:rgb(252, 252, 252);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gUNbtMwzyTibW_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="hpDpEIdsJjlG">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="hpDpEIdsJjlG "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:25px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ghpDpEIdsJjlG_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="i2l3f1ede7367" data-id="i2l3f1ede7367"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="i2l3f1ede7367 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lea4cd219a9 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="rewrap_row_YfJMLujdZUid"
    role="presentation"
    class="gp-group/image rewrap_row_YfJMLujdZUid"
    style="--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-10_at_1.46.39_PM.png?v=1725990411" data-srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-10_at_1.46.39_PM.png?v=1725990411" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA3MCIgaGVpZ2h0PSIxNjA4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDcwLTE2MDgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwNzAiIGhlaWdodD0iMTYwOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA3MCIgaGVpZ2h0PSIxNjA4IiBmaWxsPSJ1cmwoI2ctMTA3MC0xNjA4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA3MCIgdG89IjEwNzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="1070" height="1608" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:2/3;--aspect-tablet:2/3;--aspect-mobile:2/3;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="LTiShOSAJSsw">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="LTiShOSAJSsw "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gLTiShOSAJSsw_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2laacb05b640 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="rewrap_row_crFURReglodA"
    role="presentation"
    class="gp-group/image rewrap_row_crFURReglodA"
    style="--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-27_at_1.43.44_PM.png?v=1727459055" data-srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-27_at_1.43.44_PM.png?v=1727459055" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE5MiIgaGVpZ2h0PSIxNzcyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMTkyLTE3NzIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjExOTIiIGhlaWdodD0iMTc3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE5MiIgaGVpZ2h0PSIxNzcyIiBmaWxsPSJ1cmwoI2ctMTE5Mi0xNzcyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTE5MiIgdG89IjExOTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="1192" height="1772" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:2/3;--aspect-tablet:2/3;--aspect-mobile:2/3;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="KiYMPZxuDYWl">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="KiYMPZxuDYWl "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gKiYMPZxuDYWl_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l9b7290803b gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="rewrap_row_XMRqwvyJtDOg"
    role="presentation"
    class="gp-group/image rewrap_row_XMRqwvyJtDOg"
    style="--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-08-26_at_2.04.20_PM.png?v=1724695471" data-srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-08-26_at_2.04.20_PM.png?v=1724695471" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA5NCIgaGVpZ2h0PSIxNjE2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDk0LTE2MTYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwOTQiIGhlaWdodD0iMTYxNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA5NCIgaGVpZ2h0PSIxNjE2IiBmaWxsPSJ1cmwoI2ctMTA5NC0xNjE2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA5NCIgdG89IjEwOTQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="1094" height="1616" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:2/3;--aspect-tablet:2/3;--aspect-mobile:2/3;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="FHOrEImpksak">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="FHOrEImpksak "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gFHOrEImpksak_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXw.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw9aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw2aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXx-p7K4KLg.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-534637098083288225 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534637097848407201&sectionId=534637098083288225)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gUNbtMwzyTibW_text","label":"gUNbtMwzyTibW_text","default":"<p>ENHANCING YOUR NATURAL BEAUTY</p>"},{"type":"html","id":"ghpDpEIdsJjlG_text","label":"ghpDpEIdsJjlG_text","default":"EYELACE IS"},{"type":"html","id":"gLTiShOSAJSsw_text","label":"gLTiShOSAJSsw_text","default":"BOLD"},{"type":"html","id":"gKiYMPZxuDYWl_text","label":"gKiYMPZxuDYWl_text","default":"ELEGANT"},{"type":"html","id":"gFHOrEImpksak_text","label":"gFHOrEImpksak_text","default":"NATURAL"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
