

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534637097949070497.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534637097949070497.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-534637097949070497.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534637097949070497.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534637097949070497.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-534637097949070497.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534637097949070497.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534637097949070497.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534637097949070497.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534637097949070497.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534637097949070497.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-534637097949070497.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534637097949070497.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-534637097949070497.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534637097949070497.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-534637097949070497.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534637097949070497.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-534637097949070497.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534637097949070497.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534637097949070497.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534637097949070497.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-534637097949070497.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-534637097949070497.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-534637097949070497.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-534637097949070497.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-534637097949070497.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534637097949070497.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-534637097949070497.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534637097949070497.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-534637097949070497.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-534637097949070497.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-534637097949070497.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-534637097949070497.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-534637097949070497.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534637097949070497.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534637097949070497.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534637097949070497.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534637097949070497.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534637097949070497.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534637097949070497.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-534637097949070497.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534637097949070497.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-534637097949070497.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-534637097949070497.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-534637097949070497.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-534637097949070497.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-534637097949070497.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-534637097949070497.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534637097949070497.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534637097949070497.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-534637097949070497.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-534637097949070497.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-534637097949070497.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-534637097949070497.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-534637097949070497.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534637097949070497.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534637097949070497.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-534637097949070497.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-534637097949070497 .-gp-rotate-90,.gps-534637097949070497 .gp-rotate-180,.gps-534637097949070497 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-534637097949070497 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-534637097949070497 .gp-relative{position:relative}.gps-534637097949070497 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534637097949070497 .gp-mb-0{margin-bottom:0}.gps-534637097949070497 .gp-flex{display:flex}.gps-534637097949070497 .gp-inline-flex{display:inline-flex}.gps-534637097949070497 .gp-grid{display:grid}.gps-534637097949070497 .\!gp-hidden{display:none!important}.gps-534637097949070497 .gp-hidden{display:none}.gps-534637097949070497 .gp-min-h-0{min-height:0}.gps-534637097949070497 .gp-w-full{width:100%}.gps-534637097949070497 .gp-max-w-full{max-width:100%}.gps-534637097949070497 .-gp-rotate-90{--tw-rotate:-90deg}.gps-534637097949070497 .-gp-rotate-90,.gps-534637097949070497 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-534637097949070497 .gp-rotate-180{--tw-rotate:180deg}.gps-534637097949070497 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-534637097949070497 .gp-cursor-pointer{cursor:pointer}.gps-534637097949070497 .gp-flex-col{flex-direction:column}.gps-534637097949070497 .gp-items-center{align-items:center}.gps-534637097949070497 .gp-justify-center{justify-content:center}.gps-534637097949070497 .gp-gap-y-0{row-gap:0}.gps-534637097949070497 .gp-overflow-hidden{overflow:hidden}.gps-534637097949070497 .gp-overflow-clip{overflow:clip}.gps-534637097949070497 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534637097949070497 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534637097949070497 .gp-duration-200{transition-duration:.2s}.gps-534637097949070497 .gp-duration-500{transition-duration:.5s}.gps-534637097949070497 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-534637097949070497 .tablet\:\!gp-hidden{display:none!important}.gps-534637097949070497 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-534637097949070497 .mobile\:\!gp-hidden{display:none!important}.gps-534637097949070497 .mobile\:gp-hidden{display:none}}.gps-534637097949070497 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-534637097949070497 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-534637097949070497 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-534637097949070497 .\[\&_p\]\:gp-inline p{display:inline}.gps-534637097949070497 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-534637097949070497 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l962c7361be"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(34, 34, 34)"
        class="i2l962c7361be gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l962c7361be gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="w-i2l962c7361be"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:651px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2l962c7361be gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2la276b03886 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="DewGRuubUHhL "
        style="--ta:center;--mt:0px;--ml:0px;--mb:32px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:26px;--size-tablet:25px;--size-mobile:23px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gDewGRuubUHhL_text }}</div>
      </div>
    </div><div style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px" class="tzDUJFotkppD ">
      
    <gp-accordion
      uid="tzDUJFotkppD"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:16px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit;overflow:hidden"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":true,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"\n          <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z\"></path></svg>\n          ","iconExpand":"\n          <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"m231.904 155.52 -153.472 175.392c-18.112 20.704 -3.392 53.088 24.096 53.088h306.944a32 32 0 0 0 24.096 -53.088l-153.472 -175.36a32 32 0 0 0 -48.192 0z\"></path></svg>","iconCollapseSize":16,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"tzDUJFotkppD","childListNumber":[],"chidlrenUid":["i2lbef508173e","RqKGonmvqCZc","UCjeSUscBcGD","accordion_item-row-tocFbzifVHaZ","YLbNUWGJOzyn","nEdkVDTEFZfD","dWOyUFhrlHOc","accordion_item-row-SiXwJjDRQevR","accordion_item-row-GHirzLnqjkNn","udabfYMozDEN"]},"styles":{"bgColor":{"normal":"transparent","hover":"transparent","active":"transparent"},"color":{"normal":"rgb(255, 255, 255)"},"headerBorder":{"normal":{"border":"solid","width":"0px 0px 1px 0px","position":"bottom","color":"#121212","isCustom":true,"borderWidth":"1px"},"hover":{"border":"solid","width":"0px 0px 1px 0px","position":"bottom","color":"#121212","isCustom":true,"borderWidth":"1px"},"active":{"border":"solid","width":"0px 0px 1px 0px","position":"bottom","color":"#121212","isCustom":true,"borderWidth":"1px"}},"textColor":{"normal":"rgb(255, 255, 255)"},"iconColor":{"normal":"#121212","hover":"#121212","active":"#121212"},"contentSizePadding":{"desktop":{"padding":{"type":"medium","top":"8px","left":"24px","bottom":"8px","right":"24px"},"gap":"16px"}},"headerContentPadding":{"desktop":{"padding":{"type":"medium","top":"8px","left":"24px","bottom":"8px","right":"24px"}}},"widthHeightSize":{"desktop":{"height":"auto","width":"651px"}}},"uid":"tzDUJFotkppD"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-0:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-0:hover .gp-icon.gp-accordion-item-hover 
     {
        color:  !important
      }
    .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-0:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-0:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:651px;--w-tablet:651px;--w-mobile:651px;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="0"
      class="tzDUJFotkppD gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="i2lbef508173e"
        id="i2lbef508173e"
        data-index="0"
        class="tzDUJFotkppD gp-accordion-item-tzDUJFotkppD-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:rgb(255, 255, 255);--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-0:hover .gp-collapsible-icon, .tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-0:hover .gp-icon {
                  color: undefined
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:rgb(255, 255, 255);width:16px;height:16px"
            data-index="0"
            class="tzDUJFotkppD gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        
      >
      <div  >
        <span
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gtzDUJFotkppD_childItem_0 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="i2lbef508173e"
        data-index="0"
        data-show="false"
        class="tzDUJFotkppD gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="i2lbef508173e"
        data-index="0"
        class="tzDUJFotkppD gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="accordion_item-col-i2lbef508173e gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="accordion-item-body-text-i2lbef508173e "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gaccordion-item-body-text-i2lbef508173e_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-1:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-1:hover .gp-icon.gp-accordion-item-hover 
     {
        color:  !important
      }
    .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-1:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-1:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:651px;--w-tablet:651px;--w-mobile:651px;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="1"
      class="tzDUJFotkppD gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="RqKGonmvqCZc"
        id="RqKGonmvqCZc"
        data-index="1"
        class="tzDUJFotkppD gp-accordion-item-tzDUJFotkppD-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:rgb(255, 255, 255);--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-1:hover .gp-collapsible-icon, .tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-1:hover .gp-icon {
                  color: undefined
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:rgb(255, 255, 255);width:16px;height:16px"
            data-index="1"
            class="tzDUJFotkppD gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        
      >
      <div  >
        <span
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gtzDUJFotkppD_childItem_1 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="RqKGonmvqCZc"
        data-index="1"
        data-show="false"
        class="tzDUJFotkppD gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="RqKGonmvqCZc"
        data-index="1"
        class="tzDUJFotkppD gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="accordion_item-col-RqKGonmvqCZc gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="accordion-item-body-text-RqKGonmvqCZc "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gaccordion-item-body-text-RqKGonmvqCZc_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-2:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-2:hover .gp-icon.gp-accordion-item-hover 
     {
        color:  !important
      }
    .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-2:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-2:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:651px;--w-tablet:651px;--w-mobile:651px;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="2"
      class="tzDUJFotkppD gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="UCjeSUscBcGD"
        id="UCjeSUscBcGD"
        data-index="2"
        class="tzDUJFotkppD gp-accordion-item-tzDUJFotkppD-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:rgb(255, 255, 255);--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-2:hover .gp-collapsible-icon, .tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-2:hover .gp-icon {
                  color: undefined
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:rgb(255, 255, 255);width:16px;height:16px"
            data-index="2"
            class="tzDUJFotkppD gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        
      >
      <div  >
        <span
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gtzDUJFotkppD_childItem_2 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="UCjeSUscBcGD"
        data-index="2"
        data-show="false"
        class="tzDUJFotkppD gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="UCjeSUscBcGD"
        data-index="2"
        class="tzDUJFotkppD gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="accordion_item-col-UCjeSUscBcGD gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="accordion-item-body-text-UCjeSUscBcGD "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gaccordion-item-body-text-UCjeSUscBcGD_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-3:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-3:hover .gp-icon.gp-accordion-item-hover 
     {
        color:  !important
      }
    .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-3:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-3:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:651px;--w-tablet:651px;--w-mobile:651px;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="3"
      class="tzDUJFotkppD gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="accordion_item-row-tocFbzifVHaZ"
        id="accordion_item-row-tocFbzifVHaZ"
        data-index="3"
        class="tzDUJFotkppD gp-accordion-item-tzDUJFotkppD-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:rgb(255, 255, 255);--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-3:hover .gp-collapsible-icon, .tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-3:hover .gp-icon {
                  color: undefined
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:rgb(255, 255, 255);width:16px;height:16px"
            data-index="3"
            class="tzDUJFotkppD gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        
      >
      <div  >
        <span
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gtzDUJFotkppD_childItem_3 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="accordion_item-row-tocFbzifVHaZ"
        data-index="3"
        data-show="false"
        class="tzDUJFotkppD gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="accordion_item-row-tocFbzifVHaZ"
        data-index="3"
        class="tzDUJFotkppD gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="accordion_item-col-accordion_item-row-tocFbzifVHaZ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="accordion-item-body-text-accordion_item-row-tocFbzifVHaZ "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gaccordion-item-body-text-accordion_item-row-tocFbzifVHaZ_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-4:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-4:hover .gp-icon.gp-accordion-item-hover 
     {
        color:  !important
      }
    .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-4:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-4:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:651px;--w-tablet:651px;--w-mobile:651px;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="4"
      class="tzDUJFotkppD gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="YLbNUWGJOzyn"
        id="YLbNUWGJOzyn"
        data-index="4"
        class="tzDUJFotkppD gp-accordion-item-tzDUJFotkppD-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:rgb(255, 255, 255);--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-4:hover .gp-collapsible-icon, .tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-4:hover .gp-icon {
                  color: undefined
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:rgb(255, 255, 255);width:16px;height:16px"
            data-index="4"
            class="tzDUJFotkppD gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        
      >
      <div  >
        <span
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gtzDUJFotkppD_childItem_4 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="YLbNUWGJOzyn"
        data-index="4"
        data-show="false"
        class="tzDUJFotkppD gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="YLbNUWGJOzyn"
        data-index="4"
        class="tzDUJFotkppD gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="accordion_item-col-YLbNUWGJOzyn gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="accordion-item-body-text-YLbNUWGJOzyn "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gaccordion-item-body-text-YLbNUWGJOzyn_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-5:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-5:hover .gp-icon.gp-accordion-item-hover 
     {
        color:  !important
      }
    .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-5:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-5:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:651px;--w-tablet:651px;--w-mobile:651px;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="5"
      class="tzDUJFotkppD gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="nEdkVDTEFZfD"
        id="nEdkVDTEFZfD"
        data-index="5"
        class="tzDUJFotkppD gp-accordion-item-tzDUJFotkppD-5 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:rgb(255, 255, 255);--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-5:hover .gp-collapsible-icon, .tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-5:hover .gp-icon {
                  color: undefined
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:rgb(255, 255, 255);width:16px;height:16px"
            data-index="5"
            class="tzDUJFotkppD gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        
      >
      <div  >
        <span
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gtzDUJFotkppD_childItem_5 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="nEdkVDTEFZfD"
        data-index="5"
        data-show="false"
        class="tzDUJFotkppD gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="nEdkVDTEFZfD"
        data-index="5"
        class="tzDUJFotkppD gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="accordion_item-col-nEdkVDTEFZfD gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="accordion-item-body-text-nEdkVDTEFZfD "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gaccordion-item-body-text-nEdkVDTEFZfD_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-6:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-6:hover .gp-icon.gp-accordion-item-hover 
     {
        color:  !important
      }
    .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-6:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-6:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:651px;--w-tablet:651px;--w-mobile:651px;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="6"
      class="tzDUJFotkppD gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="dWOyUFhrlHOc"
        id="dWOyUFhrlHOc"
        data-index="6"
        class="tzDUJFotkppD gp-accordion-item-tzDUJFotkppD-6 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:rgb(255, 255, 255);--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-6:hover .gp-collapsible-icon, .tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-6:hover .gp-icon {
                  color: undefined
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:rgb(255, 255, 255);width:16px;height:16px"
            data-index="6"
            class="tzDUJFotkppD gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        
      >
      <div  >
        <span
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gtzDUJFotkppD_childItem_6 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="dWOyUFhrlHOc"
        data-index="6"
        data-show="false"
        class="tzDUJFotkppD gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="dWOyUFhrlHOc"
        data-index="6"
        class="tzDUJFotkppD gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="accordion_item-col-dWOyUFhrlHOc gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="accordion-item-body-text-dWOyUFhrlHOc "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gaccordion-item-body-text-dWOyUFhrlHOc_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-7:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-7:hover .gp-icon.gp-accordion-item-hover 
     {
        color:  !important
      }
    .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-7:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-7:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:651px;--w-tablet:651px;--w-mobile:651px;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="7"
      class="tzDUJFotkppD gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="accordion_item-row-SiXwJjDRQevR"
        id="accordion_item-row-SiXwJjDRQevR"
        data-index="7"
        class="tzDUJFotkppD gp-accordion-item-tzDUJFotkppD-7 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:rgb(255, 255, 255);--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-7:hover .gp-collapsible-icon, .tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-7:hover .gp-icon {
                  color: undefined
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:rgb(255, 255, 255);width:16px;height:16px"
            data-index="7"
            class="tzDUJFotkppD gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        
      >
      <div  >
        <span
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gtzDUJFotkppD_childItem_7 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="accordion_item-row-SiXwJjDRQevR"
        data-index="7"
        data-show="false"
        class="tzDUJFotkppD gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="accordion_item-row-SiXwJjDRQevR"
        data-index="7"
        class="tzDUJFotkppD gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="accordion_item-col-accordion_item-row-SiXwJjDRQevR gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="accordion-item-body-text-accordion_item-row-SiXwJjDRQevR "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gaccordion-item-body-text-accordion_item-row-SiXwJjDRQevR_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-8:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-8:hover .gp-icon.gp-accordion-item-hover 
     {
        color:  !important
      }
    .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-8:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-8:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:651px;--w-tablet:651px;--w-mobile:651px;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="8"
      class="tzDUJFotkppD gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="accordion_item-row-GHirzLnqjkNn"
        id="accordion_item-row-GHirzLnqjkNn"
        data-index="8"
        class="tzDUJFotkppD gp-accordion-item-tzDUJFotkppD-8 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:rgb(255, 255, 255);--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-8:hover .gp-collapsible-icon, .tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-8:hover .gp-icon {
                  color: undefined
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:rgb(255, 255, 255);width:16px;height:16px"
            data-index="8"
            class="tzDUJFotkppD gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        
      >
      <div  >
        <span
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gtzDUJFotkppD_childItem_8 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="accordion_item-row-GHirzLnqjkNn"
        data-index="8"
        data-show="false"
        class="tzDUJFotkppD gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="accordion_item-row-GHirzLnqjkNn"
        data-index="8"
        class="tzDUJFotkppD gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="accordion_item-col-accordion_item-row-GHirzLnqjkNn gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="accordion-item-body-text-accordion_item-row-GHirzLnqjkNn "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gaccordion-item-body-text-accordion_item-row-GHirzLnqjkNn_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-9:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-9:hover .gp-icon.gp-accordion-item-hover 
     {
        color:  !important
      }
    .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-9:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-tzDUJFotkppD-9:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:651px;--w-tablet:651px;--w-mobile:651px;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="9"
      class="tzDUJFotkppD gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="udabfYMozDEN"
        id="udabfYMozDEN"
        data-index="9"
        class="tzDUJFotkppD gp-accordion-item-tzDUJFotkppD-9 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:rgb(255, 255, 255);--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-9:hover .gp-collapsible-icon, .tzDUJFotkppD.gp-accordion-item-tzDUJFotkppD-9:hover .gp-icon {
                  color: undefined
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:rgb(255, 255, 255);width:16px;height:16px"
            data-index="9"
            class="tzDUJFotkppD gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        
      >
      <div  >
        <span
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gtzDUJFotkppD_childItem_9 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="udabfYMozDEN"
        data-index="9"
        data-show="false"
        class="tzDUJFotkppD gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="udabfYMozDEN"
        data-index="9"
        class="tzDUJFotkppD gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="accordion_item-col-udabfYMozDEN gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="accordion-item-body-text-udabfYMozDEN "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gaccordion-item-body-text-udabfYMozDEN_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 17",
    "tag": "section",
    "class": "gps-534637097949070497 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534637097848407201&sectionId=534637097949070497)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gDewGRuubUHhL_text","label":"gDewGRuubUHhL_text","default":"FAQS"},{"type":"html","id":"gtzDUJFotkppD_childItem_0","label":"gtzDUJFotkppD_childItem_0","default":"WHAT ARE EYELACE LASHES MADE FROM?"},{"type":"html","id":"gtzDUJFotkppD_childItem_1","label":"gtzDUJFotkppD_childItem_1","default":"HOW DO I APPLY EYELACE LASHES?"},{"type":"html","id":"gtzDUJFotkppD_childItem_2","label":"gtzDUJFotkppD_childItem_2","default":"CAN I REUSE EYELACE LASHES?"},{"type":"html","id":"gtzDUJFotkppD_childItem_3","label":"gtzDUJFotkppD_childItem_3","default":"Accordion Item 4"},{"type":"html","id":"gtzDUJFotkppD_childItem_4","label":"gtzDUJFotkppD_childItem_4","default":"HOW DO I REMOVE EYELACE LASHES?"},{"type":"html","id":"gtzDUJFotkppD_childItem_5","label":"gtzDUJFotkppD_childItem_5","default":"CAN I WEAR EYELACE LASHES WITH GLASSES?"},{"type":"html","id":"gtzDUJFotkppD_childItem_6","label":"gtzDUJFotkppD_childItem_6","default":"HOW LONG DO EYELACE LASHES LAST?"},{"type":"html","id":"gtzDUJFotkppD_childItem_7","label":"gtzDUJFotkppD_childItem_7","default":"Accordion Item 8"},{"type":"html","id":"gtzDUJFotkppD_childItem_8","label":"gtzDUJFotkppD_childItem_8","default":"Accordion Item 9"},{"type":"html","id":"gtzDUJFotkppD_childItem_9","label":"gtzDUJFotkppD_childItem_9","default":"ARE EYELACE LASHES CRUELTY-FREE?"},{"type":"html","id":"gaccordion-item-body-text-i2lbef508173e_text","label":"gaccordion-item-body-text-i2lbef508173e_text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."},{"type":"html","id":"gaccordion-item-body-text-RqKGonmvqCZc_text","label":"gaccordion-item-body-text-RqKGonmvqCZc_text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."},{"type":"html","id":"gaccordion-item-body-text-UCjeSUscBcGD_text","label":"gaccordion-item-body-text-UCjeSUscBcGD_text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."},{"type":"html","id":"gaccordion-item-body-text-accordion_item-row-tocFbzifVHaZ_text","label":"gaccordion-item-body-text-accordion_item-row-tocFbzifVHaZ_text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."},{"type":"html","id":"gaccordion-item-body-text-YLbNUWGJOzyn_text","label":"gaccordion-item-body-text-YLbNUWGJOzyn_text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."},{"type":"html","id":"gaccordion-item-body-text-nEdkVDTEFZfD_text","label":"gaccordion-item-body-text-nEdkVDTEFZfD_text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."},{"type":"html","id":"gaccordion-item-body-text-dWOyUFhrlHOc_text","label":"gaccordion-item-body-text-dWOyUFhrlHOc_text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."},{"type":"html","id":"gaccordion-item-body-text-accordion_item-row-SiXwJjDRQevR_text","label":"gaccordion-item-body-text-accordion_item-row-SiXwJjDRQevR_text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."},{"type":"html","id":"gaccordion-item-body-text-accordion_item-row-GHirzLnqjkNn_text","label":"gaccordion-item-body-text-accordion_item-row-GHirzLnqjkNn_text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."},{"type":"html","id":"gaccordion-item-body-text-udabfYMozDEN_text","label":"gaccordion-item-body-text-udabfYMozDEN_text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
