

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534171384494949130.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-534171384494949130.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534171384494949130.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-534171384494949130.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534171384494949130.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534171384494949130.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534171384494949130.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534171384494949130.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534171384494949130.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534171384494949130.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534171384494949130.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-534171384494949130.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534171384494949130.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-534171384494949130.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534171384494949130.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534171384494949130.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534171384494949130.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534171384494949130.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534171384494949130.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-534171384494949130.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-534171384494949130.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-534171384494949130.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534171384494949130.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-534171384494949130.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534171384494949130.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-534171384494949130.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-534171384494949130.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-534171384494949130.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-534171384494949130.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-534171384494949130.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-534171384494949130.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534171384494949130.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534171384494949130.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534171384494949130.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534171384494949130.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534171384494949130.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534171384494949130.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534171384494949130.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-534171384494949130.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-534171384494949130.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-534171384494949130.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534171384494949130.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-534171384494949130.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-534171384494949130.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-534171384494949130.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-534171384494949130.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-534171384494949130.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-534171384494949130.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-534171384494949130.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-534171384494949130.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-534171384494949130.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-534171384494949130.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-534171384494949130.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-534171384494949130.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-534171384494949130.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534171384494949130.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534171384494949130.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-534171384494949130.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-534171384494949130.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-534171384494949130.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-534171384494949130.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-534171384494949130.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-534171384494949130.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-534171384494949130.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-534171384494949130.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-534171384494949130.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-534171384494949130.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534171384494949130.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534171384494949130.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-534171384494949130.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-534171384494949130.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-534171384494949130.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-534171384494949130.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-534171384494949130 .gp-absolute{position:absolute}.gps-534171384494949130 .gp-relative{position:relative}.gps-534171384494949130 .gp-z-1{z-index:1}.gps-534171384494949130 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534171384494949130 .gp-mb-0{margin-bottom:0}.gps-534171384494949130 .gp-flex{display:flex}.gps-534171384494949130 .gp-inline-flex{display:inline-flex}.gps-534171384494949130 .gp-grid{display:grid}.gps-534171384494949130 .\!gp-hidden{display:none!important}.gps-534171384494949130 .gp-hidden{display:none}.gps-534171384494949130 .gp-h-full{height:100%}.gps-534171384494949130 .gp-w-full{width:100%}.gps-534171384494949130 .gp-max-w-full{max-width:100%}.gps-534171384494949130 .gp-flex-col{flex-direction:column}.gps-534171384494949130 .gp-items-center{align-items:center}.gps-534171384494949130 .\!gp-justify-center{justify-content:center!important}.gps-534171384494949130 .gp-justify-center{justify-content:center}.gps-534171384494949130 .gp-gap-y-0{row-gap:0}.gps-534171384494949130 .gp-overflow-hidden{overflow:hidden}.gps-534171384494949130 .gp-break-words{overflow-wrap:break-word}.gps-534171384494949130 .gp-rounded-none{border-radius:0}.gps-534171384494949130 .gp-no-underline{text-decoration-line:none}.gps-534171384494949130 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534171384494949130 .gp-duration-200{transition-duration:.2s}.gps-534171384494949130 .gp-duration-300{transition-duration:.3s}.gps-534171384494949130 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534171384494949130 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-534171384494949130 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-534171384494949130 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-534171384494949130 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-534171384494949130 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-534171384494949130 .tablet\:gp-relative{position:relative}.gps-534171384494949130 .tablet\:\!gp-hidden{display:none!important}.gps-534171384494949130 .tablet\:gp-hidden{display:none}.gps-534171384494949130 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-534171384494949130 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-534171384494949130 .mobile\:gp-relative{position:relative}.gps-534171384494949130 .mobile\:\!gp-hidden{display:none!important}.gps-534171384494949130 .mobile\:gp-hidden{display:none}.gps-534171384494949130 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-534171384494949130 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-534171384494949130 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-534171384494949130 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-534171384494949130 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-534171384494949130 .\[\&_p\]\:gp-inline p{display:inline}.gps-534171384494949130 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-534171384494949130 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-534171384494949130 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l41c794a3ff"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(253, 253, 253)"
        class="i2l41c794a3ff gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l41c794a3ff gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="w-i2l41c794a3ff"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2l41c794a3ff gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2la740e7a865 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2l935351e0f8"
        style="--mt:0px;--ml:auto;--mb:28px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l935351e0f8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l935351e0f8 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2lbec4583c46"
        style="--mt:0px;--ml:auto;--mb:28px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(254, 254, 254)"
        class="sp-i2lbec4583c46 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lbec4583c46 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="UbWVLmnRDFrm "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:12px;--size-tablet:14px;--size-mobile:12px;--c:rgb(33, 33, 33);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gUbWVLmnRDFrm_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="glIRgvTdcrzI "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:25px;--size-mobile:23px;--c:rgb(33, 33, 33);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gglIRgvTdcrzI_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="RyJXmOHQOKAp "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:19px;--size-tablet:18px;--size-mobile:16px;--c:rgb(33, 33, 33);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gRyJXmOHQOKAp_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="tGaZiloqInjf "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:19px;--size-tablet:18px;--size-mobile:16px;--c:rgb(33, 33, 33);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gtGaZiloqInjf_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="i2l65c8b5ff98"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="i2l65c8b5ff98 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_pjapMWjIrWUT gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:393px;--h-tablet:500px;--h-mobile:500px;--d:flex;--d-tablet:flex;--d-mobile:flex;--mt:0px;--ml:auto;--mb:0px;--mr:auto">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"size":"cover","type":"image","color":"","image":{"src":"https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageyewmzfxdyu.png","width":789,"height":393},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"},"tablet":{"size":"cover","type":"image","color":"","image":{"src":"https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageyewmzfxdyu.png","width":789,"height":393},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"},"mobile":{"size":"cover","type":"image","color":"","image":{"src":"https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageyewmzfxdyu.png","width":789,"height":393},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"}},"uid":"rewrap_row_pjapMWjIrWUT","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{}}'
        
        class="rewrap_row_pjapMWjIrWUT gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:393px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:393px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          title
          class="adaptive-hero-banner"
          src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageyewmzfxdyu.png"
          alt=""
          fetchpriority="high"
          style="--aspect:789/393;--aspect-tablet:789/393;--aspect-mobile:789/393;--d:none;--d-tablet:none;--d-mobile:none;--h:393px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      
      
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageyewmzfxdyu.png"
        width="100%"
        alt=""
        style="--aspect:789/393;--aspect-tablet:789/393;--aspect-mobile:789/393;--d:none;--d-tablet:none;--d-mobile:none;--h:393px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax"
              style="--bgi:url(https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageyewmzfxdyu.png);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
              </div>  
               </div>
            </div>
            
          </div>
          
          
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="c-hb-rewrap_row_pjapMWjIrWUT gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="r-c-nsw-i2l9dda83c6d0"
        style="--mt:auto;--ml:auto;--mb:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:355px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="r-c-nsw-i2l9dda83c6d0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2l9dda83c6d0 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="AyrCEHGshNDj "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:25px;--size-mobile:23px;--c:rgb(253, 251, 251);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gAyrCEHGshNDj_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="NwJdXKJvHviq "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:25px;--size-mobile:23px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gNwJdXKJvHviq_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_oCfjKlfUhBPU gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:394px;--h-tablet:500px;--h-mobile:500px;--d:flex;--d-tablet:flex;--d-mobile:flex;--mt:0px;--ml:auto;--mb:0px;--mr:auto">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"size":"cover","type":"image","color":"","image":{"src":"https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageenxzhhfqoa.png","width":379,"height":394},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"},"tablet":{"size":"cover","type":"image","color":"","image":{"src":"https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageenxzhhfqoa.png","width":379,"height":394},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"},"mobile":{"size":"cover","type":"image","color":"","image":{"src":"https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageenxzhhfqoa.png","width":379,"height":394},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"}},"uid":"rewrap_row_oCfjKlfUhBPU","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{}}'
        
        class="rewrap_row_oCfjKlfUhBPU gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:394px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:394px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          title
          class="adaptive-hero-banner"
          src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageenxzhhfqoa.png"
          alt=""
          fetchpriority="high"
          style="--aspect:379/394;--aspect-tablet:379/394;--aspect-mobile:379/394;--d:none;--d-tablet:none;--d-mobile:none;--h:394px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      
      
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageenxzhhfqoa.png"
        width="100%"
        alt=""
        style="--aspect:379/394;--aspect-tablet:379/394;--aspect-mobile:379/394;--d:none;--d-tablet:none;--d-mobile:none;--h:394px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax"
              style="--bgi:url(https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageenxzhhfqoa.png);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
              </div>  
               </div>
            </div>
            
          </div>
          
          
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="c-hb-rewrap_row_oCfjKlfUhBPU gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="r-c-nsw-i2l1bc8ef2f46"
        style="--mt:auto;--ml:auto;--mb:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:352px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="r-c-nsw-i2l1bc8ef2f46 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2l1bc8ef2f46 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="ZQbSCeZzYuGv "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:25px;--size-mobile:23px;--c:rgb(255, 255, 254);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gZQbSCeZzYuGv_text }}</div>
      </div>
    </div>
  <gp-button >
  <div
    
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    
  >
    <style>
    .EGcUwyzzBXhp.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .EGcUwyzzBXhp:hover::before {
      
      
    }

    .EGcUwyzzBXhp:hover .gp-button-icon {
      color: undefined;
    }

     .EGcUwyzzBXhp .gp-button-icon {
      color: rgb(6, 7, 6);
    }

    .EGcUwyzzBXhp:hover .gp-button-price {
      color: undefined;
    }

    .EGcUwyzzBXhp .gp-button-price {
      color: rgb(6, 7, 6);
    }

    .EGcUwyzzBXhp .gp-product-dot-price {
       color: rgb(6, 7, 6);
    }

    .EGcUwyzzBXhp:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="EGcUwyzzBXhp" aria-label="APPLY TODAY"
      
      data-state="idle"
      class="EGcUwyzzBXhp gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight"
      style="--bg:rgb(188, 185, 176);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:rgb(6, 7, 6);--size:24px;--size-tablet:25px;--size-mobile:23px;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:24px;--size-tablet:25px;--size-mobile:23px"
      >
        {{ section.settings.gEGcUwyzzBXhp_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="i2l52cf640fdf"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="i2l52cf640fdf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_CDhskZhDAuht gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:395px;--h-tablet:500px;--h-mobile:500px;--d:flex;--d-tablet:flex;--d-mobile:flex;--mt:0px;--ml:auto;--mb:0px;--mr:auto">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"size":"cover","type":"image","color":"","image":{"src":"https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagegrbmfbebcm.png","width":380,"height":395},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"},"tablet":{"size":"cover","type":"image","color":"","image":{"src":"https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagegrbmfbebcm.png","width":380,"height":395},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"},"mobile":{"size":"cover","type":"image","color":"","image":{"src":"https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagegrbmfbebcm.png","width":380,"height":395},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"}},"uid":"rewrap_row_CDhskZhDAuht","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{}}'
        
        class="rewrap_row_CDhskZhDAuht gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:395px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:395px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          title
          class="adaptive-hero-banner"
          src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagegrbmfbebcm.png"
          alt=""
          fetchpriority="high"
          style="--aspect:380/395;--aspect-tablet:380/395;--aspect-mobile:380/395;--d:none;--d-tablet:none;--d-mobile:none;--h:395px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      
      
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagegrbmfbebcm.png"
        width="100%"
        alt=""
        style="--aspect:380/395;--aspect-tablet:380/395;--aspect-mobile:380/395;--d:none;--d-tablet:none;--d-mobile:none;--h:395px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax"
              style="--bgi:url(https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagegrbmfbebcm.png);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
              </div>  
               </div>
            </div>
            
          </div>
          
          
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="c-hb-rewrap_row_CDhskZhDAuht gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="r-c-nsw-i2l41aa6fe2fb"
        style="--mt:auto;--ml:auto;--mb:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:260px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="r-c-nsw-i2l41aa6fe2fb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2l41aa6fe2fb gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="JSKYgKUOYhuo "
        style="--ta:center;--mt:0px;--ml:0px;--mb:28px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:25px;--size-mobile:23px;--c:rgb(0, 1, 27);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gJSKYgKUOYhuo_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="DUWGRdxSiDlP "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:25px;--size-mobile:23px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gDUWGRdxSiDlP_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_KeSQcFLNeFqU gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:394px;--h-tablet:500px;--h-mobile:500px;--d:flex;--d-tablet:flex;--d-mobile:flex;--mt:0px;--ml:auto;--mb:0px;--mr:auto">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"size":"cover","type":"image","color":"","image":{"src":"https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageylqnpixrsu.png","width":790,"height":394},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"},"tablet":{"size":"cover","type":"image","color":"","image":{"src":"https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageylqnpixrsu.png","width":790,"height":394},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"},"mobile":{"size":"cover","type":"image","color":"","image":{"src":"https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageylqnpixrsu.png","width":790,"height":394},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"}},"uid":"rewrap_row_KeSQcFLNeFqU","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{}}'
        
        class="rewrap_row_KeSQcFLNeFqU gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:394px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:394px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          title
          class="adaptive-hero-banner"
          src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageylqnpixrsu.png"
          alt=""
          fetchpriority="high"
          style="--aspect:790/394;--aspect-tablet:790/394;--aspect-mobile:790/394;--d:none;--d-tablet:none;--d-mobile:none;--h:394px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      
      
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageylqnpixrsu.png"
        width="100%"
        alt=""
        style="--aspect:790/394;--aspect-tablet:790/394;--aspect-mobile:790/394;--d:none;--d-tablet:none;--d-mobile:none;--h:394px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax"
              style="--bgi:url(https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageylqnpixrsu.png);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
              </div>  
               </div>
            </div>
            
          </div>
          
          
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="c-hb-rewrap_row_KeSQcFLNeFqU gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="r-c-nsw-i2lce2e9a84a2"
        style="--mt:auto;--ml:auto;--mb:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:651px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="r-c-nsw-i2lce2e9a84a2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2lce2e9a84a2 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="TUYLhUVuEeTN "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:39px;--size-tablet:41px;--size-mobile:36px;--c:rgb(41, 26, 12);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gTUYLhUVuEeTN_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="JQNvGNroQojO "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:25px;--size-mobile:23px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gJQNvGNroQojO_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-534171384494949130 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534164834787263461&sectionId=534171384494949130)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gUbWVLmnRDFrm_text","label":"gUbWVLmnRDFrm_text","default":"MORE THAN A LA SH"},{"type":"html","id":"gglIRgvTdcrzI_text","label":"gglIRgvTdcrzI_text","default":"BECOME PART OF OUR GROWING COMMUNITY"},{"type":"html","id":"gRyJXmOHQOKAp_text","label":"gRyJXmOHQOKAp_text","default":"Eyelace believes in being more than just an eyelash, a cosmetic intervention, or a financial transaction. We want to be a community that inspires,"},{"type":"html","id":"gtGaZiloqInjf_text","label":"gtGaZiloqInjf_text","default":"supports, & connects women across the globe. Share your unique beauty and story; become part of our community today!"},{"type":"html","id":"gAyrCEHGshNDj_text","label":"gAyrCEHGshNDj_text","default":"View Our Community Videos"},{"type":"html","id":"gNwJdXKJvHviq_text","label":"gNwJdXKJvHviq_text","default":"VIEW NOW"},{"type":"html","id":"gZQbSCeZzYuGv_text","label":"gZQbSCeZzYuGv_text","default":"rtist"},{"type":"html","id":"gEGcUwyzzBXhp_label","label":"gEGcUwyzzBXhp_label","default":"APPLY TODAY"},{"type":"html","id":"gJSKYgKUOYhuo_text","label":"gJSKYgKUOYhuo_text","default":"ubm"},{"type":"html","id":"gDUWGRdxSiDlP_text","label":"gDUWGRdxSiDlP_text","default":"EARNMORE"},{"type":"html","id":"gTUYLhUVuEeTN_text","label":"gTUYLhUVuEeTN_text","default":"Contribute Photos &"},{"type":"html","id":"gJQNvGNroQojO_text","label":"gJQNvGNroQojO_text","default":"SHAREPIX &"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
