

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-549793278803837856.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-549793278803837856.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-549793278803837856.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-549793278803837856.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-549793278803837856.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-549793278803837856.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-549793278803837856.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-549793278803837856.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-549793278803837856.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-549793278803837856.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-549793278803837856.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-549793278803837856.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-549793278803837856.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-549793278803837856.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-549793278803837856.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-549793278803837856.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-549793278803837856.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-549793278803837856.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-549793278803837856.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-549793278803837856.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-549793278803837856.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-549793278803837856.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-549793278803837856.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-549793278803837856.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-549793278803837856.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-549793278803837856.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-549793278803837856.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-549793278803837856.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-549793278803837856.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-549793278803837856.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-549793278803837856.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-549793278803837856.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-549793278803837856.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-549793278803837856.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-549793278803837856.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-549793278803837856.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-549793278803837856.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-549793278803837856.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-549793278803837856.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-549793278803837856.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-549793278803837856.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-549793278803837856.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-549793278803837856.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-549793278803837856.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-549793278803837856.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-549793278803837856.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-549793278803837856.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-549793278803837856.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-549793278803837856.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-549793278803837856.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-549793278803837856.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-549793278803837856.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-549793278803837856.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-549793278803837856.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-549793278803837856.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-549793278803837856.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-549793278803837856.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-549793278803837856.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-549793278803837856.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-549793278803837856.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-549793278803837856.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-549793278803837856.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-549793278803837856.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-549793278803837856.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-549793278803837856.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-549793278803837856.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-549793278803837856.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-549793278803837856.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-549793278803837856.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-549793278803837856.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-549793278803837856.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-549793278803837856.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-549793278803837856.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-549793278803837856.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-549793278803837856.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-549793278803837856.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-549793278803837856.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-549793278803837856.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-549793278803837856.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-549793278803837856.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-549793278803837856 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-549793278803837856 .gp-relative{position:relative}.gps-549793278803837856 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-549793278803837856 .gp-mb-0{margin-bottom:0}.gps-549793278803837856 .gp-block{display:block}.gps-549793278803837856 .gp-flex{display:flex}.gps-549793278803837856 .gp-inline-flex{display:inline-flex}.gps-549793278803837856 .gp-grid{display:grid}.gps-549793278803837856 .gp-contents{display:contents}.gps-549793278803837856 .\!gp-hidden{display:none!important}.gps-549793278803837856 .gp-hidden{display:none}.gps-549793278803837856 .gp-h-full{height:100%}.gps-549793278803837856 .gp-w-full{width:100%}.gps-549793278803837856 .gp-max-w-full{max-width:100%}.gps-549793278803837856 .gp-flex-none{flex:none}.gps-549793278803837856 .gp-flex-col{flex-direction:column}.gps-549793278803837856 .gp-items-center{align-items:center}.gps-549793278803837856 .gp-justify-center{justify-content:center}.gps-549793278803837856 .gp-gap-y-0{row-gap:0}.gps-549793278803837856 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549793278803837856 .gp-duration-200{transition-duration:.2s}.gps-549793278803837856 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-549793278803837856 .tablet\:gp-block{display:block}.gps-549793278803837856 .tablet\:\!gp-hidden{display:none!important}.gps-549793278803837856 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-549793278803837856 .mobile\:gp-block{display:block}.gps-549793278803837856 .mobile\:\!gp-hidden{display:none!important}.gps-549793278803837856 .mobile\:gp-hidden{display:none}.gps-549793278803837856 .mobile\:gp-justify-center{justify-content:center}}.gps-549793278803837856 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-549793278803837856 .\[\&_p\]\:gp-inline p{display:inline}.gps-549793278803837856 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-549793278803837856 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gTp6SHGUSE" data-id="gTp6SHGUSE"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--radius:var(--g-radius-small);--pt:40px;--pl:0px;--pb:40px;--pr:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTp6SHGUSE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="goPTHEg-qy gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="ggTVYxOemr" data-id="ggTVYxOemr"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:0px;--pb:0px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--cg:30px;--cg-mobile:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggTVYxOemr gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--jc-tablet:start;--o:0"
      class="gz9-k2E7VZ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g3CsXiems2">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g3CsXiems2 "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:0px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h3
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--c:#242424;--fs:normal;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.gg3CsXiems2_text | replace: '$locationOrigin', locationOrigin }}</h3>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gdbSCWdyBp" data-id="gdbSCWdyBp"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#E2E2E2;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-xl);--mb-mobile:0px;--mb-tablet:var(--g-s-xl);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdbSCWdyBp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="g1gEOsJXXN gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gIYLbH6usb"
    role="presentation"
    class="gp-group/image gIYLbH6usb"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl);--ta:center;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:center;--jc-mobile:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_532871831896458163-be8a69be-2b4d-4632-b819-073c2f60936c_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTQ1IiBoZWlnaHQ9Ijk0NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTQ1LTk0NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTQ1IiBoZWlnaHQ9Ijk0NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTQ1IiBoZWlnaHQ9Ijk0NSIgZmlsbD0idXJsKCNnLTk0NS05NDUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05NDUiIHRvPSI5NDUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_532871831896458163-3ed52abe-15fa-4ad1-8e3e-9575236cef4a_1024x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNjc1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjY3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIGZpbGw9InVybCgjZy0xMjAwLTY3NSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNjc1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjY3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIGZpbGw9InVybCgjZy0xMjAwLTY3NSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_532871831896458163-3ed52abe-15fa-4ad1-8e3e-9575236cef4a.jpg" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:500/500;--aspect-mobile:120/120;--objf:cover;--w:500px;--w-tablet:48px;--w-mobile:120px;--h:auto;--h-tablet:auto;--h-mobile:auto;--btrr:999999px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--radiusType:custom"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghyQ3cg8iB">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ghyQ3cg8iB "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#424242;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:120%;word-break:break-word;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:4px;--pb-mobile:4px;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.gghyQ3cg8iB_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-tablet:start"
      class="gzGoh-rIap gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g1H2kLkvy3">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g1H2kLkvy3 "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h3
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--c:#242424;--fs:normal;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--ls:normal;--size:22px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;word-break:break-word;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.gg1H2kLkvy3_text | replace: '$locationOrigin', locationOrigin }}</h3>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gHn56fdXJS" data-id="gHn56fdXJS"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#E2E2E2;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-xl);--mb-mobile:0px;--mb-tablet:var(--g-s-xl);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHn56fdXJS gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gsUgaiOta4 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g9Sk5c5tcE"
    role="presentation"
    class="gp-group/image g9Sk5c5tcE"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl);--ta:center;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:center;--jc-mobile:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_532871831896458163-dd0377ef-6293-4267-a60d-855e8c9076b1_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTQ1IiBoZWlnaHQ9Ijk0NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTQ1LTk0NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTQ1IiBoZWlnaHQ9Ijk0NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTQ1IiBoZWlnaHQ9Ijk0NSIgZmlsbD0idXJsKCNnLTk0NS05NDUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05NDUiIHRvPSI5NDUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_532871831896458163-98a48e11-7f7c-4810-8474-0a839c9e2f00_1024x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNjc1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjY3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIGZpbGw9InVybCgjZy0xMjAwLTY3NSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNjc1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjY3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIGZpbGw9InVybCgjZy0xMjAwLTY3NSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_532871831896458163-98a48e11-7f7c-4810-8474-0a839c9e2f00.jpg" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:500/500;--aspect-mobile:500/500;--objf:cover;--w:500px;--w-tablet:48px;--w-mobile:120px;--h:auto;--h-tablet:auto;--h-mobile:auto;--btrr:999999px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--radiusType:custom"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gPkBA-Pkl5">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gPkBA-Pkl5 "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#424242;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:120%;--lh-tablet:180%;--lh-mobile:120%;word-break:break-word;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:4px;--pb-mobile:4px;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.ggPkBA-Pkl5_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-tablet:start"
      class="gHoCm1u-aA gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHyJ3qu618">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gHyJ3qu618 "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h3
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--c:#242424;--fs:normal;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.ggHyJ3qu618_text | replace: '$locationOrigin', locationOrigin }}</h3>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gczY9wnmN2" data-id="gczY9wnmN2"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#E2E2E2;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-xl);--mb-mobile:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gczY9wnmN2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gp5O_bKfFU gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gvcBxMjk7s"
    role="presentation"
    class="gp-group/image gvcBxMjk7s"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl);--ta:center;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:center;--jc-mobile:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_532871831896458163-d8b20544-a6cd-4d74-aa8b-5ac8fdf42640_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTQ1IiBoZWlnaHQ9Ijk0NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTQ1LTk0NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTQ1IiBoZWlnaHQ9Ijk0NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTQ1IiBoZWlnaHQ9Ijk0NSIgZmlsbD0idXJsKCNnLTk0NS05NDUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05NDUiIHRvPSI5NDUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_532871831896458163-e6cdbf8e-f029-4c1d-a117-4fddc062c2d2_1024x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNjc1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjY3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIGZpbGw9InVybCgjZy0xMjAwLTY3NSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNjc1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjY3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIGZpbGw9InVybCgjZy0xMjAwLTY3NSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_532871831896458163-e6cdbf8e-f029-4c1d-a117-4fddc062c2d2.jpg" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:500/500;--aspect-mobile:500/500;--objf:cover;--w:500px;--w-tablet:48px;--w-mobile:120px;--h:auto;--h-tablet:auto;--h-mobile:auto;--btrr:999999px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--radiusType:custom"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g-T_PGd2l_">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g-T_PGd2l_ "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#424242;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:120%;--lh-tablet:180%;--lh-mobile:120%;word-break:break-word;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:4px;--pb-mobile:4px;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.gg-T_PGd2l__text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:33px;--mb:33px;--pt:var(--g-s-l);--pb:16px;--mt-mobile:0px;--mb-mobile:33px;--pt-mobile:var(--g-s-l);--pb-mobile:16px" class="gCJ8ekIXJ7 ">
      
    <div
    data-id="gCJ8ekIXJ7"
      class="gp-flex gp-justify-center mobile:gp-justify-center"
    >
      <div
        style="--w:70px;--w-tablet:70px;--w-mobile:70px;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--t:gp-rotate(0deg);--bc:#242424"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:70px;--w-tablet:70px;--w-mobile:70px;--bc:#242424;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:70px;--w-tablet:70px;--w-mobile:70px;--bc:#242424;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:70px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:70px;--w-tablet:70px;--w-mobile:70px;--bc:#242424;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:70px"
    ></div>
  
      </div>
    </div>
  
      </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gbRiMWDjP-">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gbRiMWDjP- "
        style="--tt:default;--ta:center;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--ml:0px;--mb:24px;--pl:0px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--pr-tablet:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--c:#242424;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:41px;--size-tablet:41px;--size-mobile:36px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;--pl:0px;--pr:0px;--pt:4px;--pb:4px;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.ggbRiMWDjP-_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-549793278803837856 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=549790644395049888&sectionId=549793278803837856)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg3CsXiems2_text","label":"gg3CsXiems2_text","default":"<span style=\"font-size:14px;\"><strong>MASCARA?</strong></span>"},{"type":"html","id":"gghyQ3cg8iB_text","label":"gghyQ3cg8iB_text","default":"<p><span style=\"font-size:13px;\">❌ Clumpy, flaky, &amp; messy.&nbsp;</span></p>"},{"type":"html","id":"gg1H2kLkvy3_text","label":"gg1H2kLkvy3_text","default":"<span style=\"font-size:14px;\"><strong>STRIP LASHES?</strong></span>"},{"type":"html","id":"ggPkBA-Pkl5_text","label":"ggPkBA-Pkl5_text","default":"<p><span style=\"font-size:13px;\">❌ &nbsp;Chunky, unnatural, &amp; uncomfy.</span></p>"},{"type":"html","id":"ggHyJ3qu618_text","label":"ggHyJ3qu618_text","default":"<span style=\"font-size:14px;\">LASH EXTENSIONS?</span>"},{"type":"html","id":"gg-T_PGd2l__text","label":"gg-T_PGd2l__text","default":"<p><span style=\"font-size:13px;\">❌ &nbsp;Pricey, time-consuming,</span></p><p><span style=\"font-size:13px;\">&amp; damaging.</span></p>"},{"type":"html","id":"ggbRiMWDjP-_text","label":"ggbRiMWDjP-_text","default":"We Hear You. <strong>And We've Created a Solution!</strong>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
