

<style>.gps-535138477717586865 .gp-relative{position:relative}.gps-535138477717586865 .gp-z-1{z-index:1}.gps-535138477717586865 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-535138477717586865 .gp-mb-0{margin-bottom:0}.gps-535138477717586865 .gp-flex{display:flex}.gps-535138477717586865 .gp-inline-flex{display:inline-flex}.gps-535138477717586865 .gp-grid{display:grid}.gps-535138477717586865 .\!gp-hidden{display:none!important}.gps-535138477717586865 .gp-hidden{display:none}.gps-535138477717586865 .gp-h-full{height:100%}.gps-535138477717586865 .gp-max-w-full{max-width:100%}.gps-535138477717586865 .gp-flex-col{flex-direction:column}.gps-535138477717586865 .gp-items-center{align-items:center}.gps-535138477717586865 .gp-justify-center{justify-content:center}.gps-535138477717586865 .gp-gap-y-0{row-gap:0}.gps-535138477717586865 .gp-overflow-hidden{overflow:hidden}.gps-535138477717586865 .gp-break-words{overflow-wrap:break-word}.gps-535138477717586865 .gp-rounded-none{border-radius:0}.gps-535138477717586865 .gp-no-underline{text-decoration-line:none}.gps-535138477717586865 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535138477717586865 .gp-duration-200{transition-duration:.2s}.gps-535138477717586865 .gp-duration-300{transition-duration:.3s}.gps-535138477717586865 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535138477717586865 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-535138477717586865 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-535138477717586865 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-535138477717586865 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-535138477717586865 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-535138477717586865 .tablet\:\!gp-hidden{display:none!important}.gps-535138477717586865 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-535138477717586865 .mobile\:\!gp-hidden{display:none!important}.gps-535138477717586865 .mobile\:gp-hidden{display:none}}.gps-535138477717586865 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-535138477717586865 .\[\&_p\]\:gp-inline p{display:inline}.gps-535138477717586865 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-535138477717586865 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-535138477717586865 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="i2l06688b94af" data-id="i2l06688b94af"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:rgb(34, 34, 34)"
        class="i2l06688b94af gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_azNfKYlDzyHC gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="rewrap_row_azNfKYlDzyHC" data-id="rewrap_row_azNfKYlDzyHC"
        style="--bs:solid;--bw:1px 1px 1px 1px;--bc:rgb(34, 34, 34);--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:52px;--pl:16px;--pb:48px;--pr:16px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:48px;--pl-mobile:16px;--pb-mobile:48px;--pr-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:700px;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(34, 34, 34)"
        class="rewrap_row_azNfKYlDzyHC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="i2lc1d65d0c8f gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="WgSQvULvzgBR">
    <div
      parentTag="Col"
        class="WgSQvULvzgBR "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--size:14px;--size-tablet:14px;--size-mobile:12px;--weight:bold;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gWgSQvULvzgBR_text }}</div>
      </div>
    </div>
    </gp-text>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="cbnpbLioUXgW">
    <div
      parentTag="Col"
        class="cbnpbLioUXgW "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:28px;--size-tablet:32px;--size-mobile:29px;--weight:bold;--c:rgb(255, 255, 255);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gcbnpbLioUXgW_text }}</h2>
      </div>
    </div>
    </gp-text>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="DiopGXDZGXVS">
    <div
      parentTag="Col"
        class="DiopGXDZGXVS "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:16px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gDiopGXDZGXVS_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    
  >
    <style>
    .pLOucZyCszLv.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 9px;
      border-bottom-right-radius: 9px;
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
      
    }

    .pLOucZyCszLv:hover::before {
      
      
    }

    .pLOucZyCszLv:hover .gp-button-icon {
      color: undefined;
    }

     .pLOucZyCszLv .gp-button-icon {
      color: rgb(33, 33, 33);
    }

    .pLOucZyCszLv:hover .gp-button-price {
      color: undefined;
    }

    .pLOucZyCszLv .gp-button-price {
      color: rgb(33, 33, 33);
    }

    .pLOucZyCszLv .gp-product-dot-price {
       color: rgb(33, 33, 33);
    }

    .pLOucZyCszLv:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="pLOucZyCszLv" aria-label="CONTACT US"
      
      data-state="idle"
      class="pLOucZyCszLv gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight"
      style="--bg:rgb(254, 254, 254);--hvr-bg:var(--g-c-highlight, highlight);--bblr:9px;--bbrr:9px;--btlr:9px;--btrr:9px;--shadow:none;--w:120px;--w-tablet:120px;--w-mobile:120px;--h:45px;--h-tablet:45px;--h-mobile:45px;--pl:0px;--pr:0px;--pt:8px;--pb:8px;--c:rgb(33, 33, 33);--size:13px;--size-tablet:14px;--size-mobile:12px;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--weight:400"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:13px;--size-tablet:14px;--size-mobile:12px"
      >
        {{ section.settings.gpLOucZyCszLv_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 20",
    "tag": "section",
    "class": "gps-535138477717586865 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=535138477415596977&sectionId=535138477717586865)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gWgSQvULvzgBR_text","label":"gWgSQvULvzgBR_text","default":"ISSUES OR CONCERNS"},{"type":"html","id":"gcbnpbLioUXgW_text","label":"gcbnpbLioUXgW_text","default":"Any questions or concerns about your Eyelace?"},{"type":"html","id":"gDiopGXDZGXVS_text","label":"gDiopGXDZGXVS_text","default":"<p>We're passionate about providing the assistance and resources our customers need to create bold and beautiful looks. If you have any questions, concerns, or comments, please do not hesitate to contact us.</p>"},{"type":"html","id":"gpLOucZyCszLv_label","label":"gpLOucZyCszLv_label","default":"CONTACT US"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
