

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534171312822682378.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-534171312822682378.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534171312822682378.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-534171312822682378.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534171312822682378.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534171312822682378.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534171312822682378.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534171312822682378.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534171312822682378.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534171312822682378.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534171312822682378.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-534171312822682378.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-534171312822682378.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534171312822682378.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-534171312822682378.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-534171312822682378.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-534171312822682378.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534171312822682378.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-534171312822682378.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-534171312822682378.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-534171312822682378.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534171312822682378.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534171312822682378.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534171312822682378.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534171312822682378.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-534171312822682378.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-534171312822682378.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-534171312822682378.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534171312822682378.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-534171312822682378.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534171312822682378.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-534171312822682378.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-534171312822682378.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-534171312822682378.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-534171312822682378.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-534171312822682378.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-534171312822682378.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534171312822682378.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534171312822682378.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534171312822682378.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534171312822682378.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534171312822682378.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534171312822682378.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534171312822682378.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-534171312822682378.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-534171312822682378.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-534171312822682378.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-534171312822682378.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534171312822682378.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-534171312822682378.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-534171312822682378.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-534171312822682378.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-534171312822682378.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-534171312822682378.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-534171312822682378.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-534171312822682378.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-534171312822682378.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-534171312822682378.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-534171312822682378.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-534171312822682378.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-534171312822682378.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-534171312822682378.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534171312822682378.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534171312822682378.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-534171312822682378.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-534171312822682378.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-534171312822682378.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-534171312822682378.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-534171312822682378.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-534171312822682378.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-534171312822682378.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-534171312822682378.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-534171312822682378.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-534171312822682378.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534171312822682378.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534171312822682378.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-534171312822682378.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-534171312822682378.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-534171312822682378.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-534171312822682378.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-534171312822682378 .gp-absolute{position:absolute}.gps-534171312822682378 .gp-relative{position:relative}.gps-534171312822682378 .gp-z-1{z-index:1}.gps-534171312822682378 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534171312822682378 .gp-mb-0{margin-bottom:0}.gps-534171312822682378 .gp-flex{display:flex}.gps-534171312822682378 .gp-inline-flex{display:inline-flex}.gps-534171312822682378 .gp-grid{display:grid}.gps-534171312822682378 .\!gp-hidden{display:none!important}.gps-534171312822682378 .gp-hidden{display:none}.gps-534171312822682378 .gp-h-full{height:100%}.gps-534171312822682378 .gp-w-full{width:100%}.gps-534171312822682378 .gp-max-w-full{max-width:100%}.gps-534171312822682378 .gp-flex-col{flex-direction:column}.gps-534171312822682378 .gp-items-center{align-items:center}.gps-534171312822682378 .\!gp-justify-end{justify-content:flex-end!important}.gps-534171312822682378 .\!gp-justify-center{justify-content:center!important}.gps-534171312822682378 .gp-justify-center{justify-content:center}.gps-534171312822682378 .gp-gap-y-0{row-gap:0}.gps-534171312822682378 .gp-overflow-hidden{overflow:hidden}.gps-534171312822682378 .gp-break-words{overflow-wrap:break-word}.gps-534171312822682378 .gp-rounded-none{border-radius:0}.gps-534171312822682378 .gp-text-center{text-align:center}.gps-534171312822682378 .gp-no-underline{text-decoration-line:none}.gps-534171312822682378 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534171312822682378 .gp-duration-200{transition-duration:.2s}.gps-534171312822682378 .gp-duration-300{transition-duration:.3s}.gps-534171312822682378 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534171312822682378 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-534171312822682378 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-534171312822682378 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-534171312822682378 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-534171312822682378 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-534171312822682378 .tablet\:gp-relative{position:relative}.gps-534171312822682378 .tablet\:\!gp-hidden{display:none!important}.gps-534171312822682378 .tablet\:gp-hidden{display:none}.gps-534171312822682378 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-534171312822682378 .tablet\:\!gp-justify-end{justify-content:flex-end!important}.gps-534171312822682378 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-534171312822682378 .mobile\:gp-relative{position:relative}.gps-534171312822682378 .mobile\:\!gp-hidden{display:none!important}.gps-534171312822682378 .mobile\:gp-hidden{display:none}.gps-534171312822682378 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-534171312822682378 .mobile\:\!gp-justify-end{justify-content:flex-end!important}.gps-534171312822682378 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-534171312822682378 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-534171312822682378 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-534171312822682378 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-534171312822682378 .\[\&_p\]\:gp-inline p{display:inline}.gps-534171312822682378 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-534171312822682378 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-534171312822682378 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2lb8cf3e41d0"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(101, 101, 101)"
        class="i2lb8cf3e41d0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_ZGBmLrEmNaFE gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:764px;--h-tablet:500px;--h-mobile:500px;--d:flex;--d-tablet:flex;--d-mobile:flex;--mt:0px;--ml:auto;--mb:0px;--mr:auto">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"size":"cover","type":"video","color":"","image":{"src":"","width":1439,"height":764,"backupFileKey":""},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll","videoType":"html5","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/0b0507be6d5343f39027f9c2e6f1626d.mp4","video":""},"tablet":{"size":"cover","type":"video","color":"","image":{"src":"","width":1439,"height":764,"backupFileKey":""},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll","videoType":"html5","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/0b0507be6d5343f39027f9c2e6f1626d.mp4","video":""},"mobile":{"size":"cover","type":"video","color":"","image":{"src":"","width":1439,"height":764,"backupFileKey":""},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll","videoType":"html5","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/0b0507be6d5343f39027f9c2e6f1626d.mp4","video":""}},"uid":"rewrap_row_ZGBmLrEmNaFE","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{}}'
        
        class="rewrap_row_ZGBmLrEmNaFE gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:764px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
          style="--h:764px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          title
          class="adaptive-hero-banner"
          src=""
          alt=""
          fetchpriority="high"
          style="--aspect:1439/764;--aspect-tablet:1439/764;--aspect-mobile:1439/764;--d:none;--d-tablet:none;--d-mobile:none;--h:764px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      
      
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src=""
        width="100%"
        alt=""
        style="--aspect:1439/764;--aspect-tablet:1439/764;--aspect-mobile:1439/764;--d:none;--d-tablet:none;--d-mobile:none;--h:764px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax"
              style="--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
              </div>  
              
    
    <video
      id="gp-video-rewrap_row_ZGBmLrEmNaFE"
      class="lazy gp-w-full gp-relative"
      
      
      
      muted
      autoplay
      title="Video"
      preload="metadata"
      data-src=""
      poster=""
      playsinline
    >
      
    </video>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
   </div>
            </div>
            
          </div>
          
          
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:end"
      class="c-hb-rewrap_row_ZGBmLrEmNaFE gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-c-nsw-i2lde6460101f"
        style="--mt:auto;--ml:auto;--mb:28px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:557px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-c-nsw-i2lde6460101f gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2lde6460101f gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="iBJDUvtSoxcF "
        style="--ta:center;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--size:12px;--size-tablet:14px;--size-mobile:12px;--weight:bold;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.giBJDUvtSoxcF_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="SnwopAUuFmdw "
        style="--ta:center;--mt:var(--g-s-s);--ml:0px;--mb:var(--g-s-s);--mr:0px;--pt:var(--g-s-s);--pl:0px;--pb:var(--g-s-s);--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:68px;--size-tablet:52px;--size-mobile:46px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gSnwopAUuFmdw_text }}</h1>
      </div>
    </div>
    <div
      parentTag="Col"
        class="kwohIsruxMAv "
        style="--ta:center;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:16px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gkwohIsruxMAv_text }}</div>
      </div>
    </div>
  <gp-button >
  <div
    
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    
  >
    <style>
    .uAfuhxEHwjGN.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 11px;
      border-bottom-right-radius: 11px;
      border-top-left-radius: 11px;
      border-top-right-radius: 11px;
      
    }

    .uAfuhxEHwjGN:hover::before {
      
      
    }

    .uAfuhxEHwjGN:hover .gp-button-icon {
      color: undefined;
    }

     .uAfuhxEHwjGN .gp-button-icon {
      color: rgb(33, 33, 33);
    }

    .uAfuhxEHwjGN:hover .gp-button-price {
      color: undefined;
    }

    .uAfuhxEHwjGN .gp-button-price {
      color: rgb(33, 33, 33);
    }

    .uAfuhxEHwjGN .gp-product-dot-price {
       color: rgb(33, 33, 33);
    }

    .uAfuhxEHwjGN:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/starter-kit" target="_self" data-id="uAfuhxEHwjGN" aria-label="SHOP NOW"
      
      data-state="idle"
      class="uAfuhxEHwjGN gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-center"
      style="--bg:rgb(254, 254, 254);--hvr-bg:var(--g-c-highlight, highlight);--bblr:11px;--bbrr:11px;--btlr:11px;--btrr:11px;--shadow:none;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:45px;--h-tablet:45px;--h-mobile:45px;--pl:0px;--pr:0px;--pt:8px;--pb:8px;--c:rgb(33, 33, 33);--size:12px;--size-tablet:14px;--size-mobile:12px;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:12px;--size-tablet:14px;--size-mobile:12px"
      >
        {{ section.settings.guAfuhxEHwjGN_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXw.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw9aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw2aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXx-p7K4KLg.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-534171312822682378 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534164834787263461&sectionId=534171312822682378)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"giBJDUvtSoxcF_text","label":"giBJDUvtSoxcF_text","default":"<p>WELCOME TO</p>"},{"type":"html","id":"gSnwopAUuFmdw_text","label":"gSnwopAUuFmdw_text","default":"EYELACE"},{"type":"html","id":"gkwohIsruxMAv_text","label":"gkwohIsruxMAv_text","default":"<p>Where you will experience the most natural, elegant, single-placement Faux Lash on the market.</p>"},{"type":"html","id":"guAfuhxEHwjGN_label","label":"guAfuhxEHwjGN_label","default":"SHOP NOW"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
