

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534118371243853036.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534118371243853036.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-534118371243853036.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534118371243853036.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534118371243853036.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534118371243853036.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534118371243853036.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534118371243853036.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534118371243853036.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534118371243853036.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-534118371243853036.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534118371243853036.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-534118371243853036.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534118371243853036.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534118371243853036.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534118371243853036.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534118371243853036.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534118371243853036.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-534118371243853036.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-534118371243853036.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-534118371243853036.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534118371243853036.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-534118371243853036.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534118371243853036.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-534118371243853036.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-534118371243853036.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-534118371243853036.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-534118371243853036.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534118371243853036.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534118371243853036.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534118371243853036.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534118371243853036.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534118371243853036.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534118371243853036.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534118371243853036.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-534118371243853036.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-534118371243853036.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534118371243853036.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-534118371243853036.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-534118371243853036.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-534118371243853036.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-534118371243853036.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-534118371243853036.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534118371243853036.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534118371243853036.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-534118371243853036.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-534118371243853036.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-534118371243853036.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-534118371243853036.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-534118371243853036.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-534118371243853036.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-534118371243853036.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534118371243853036.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534118371243853036.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-534118371243853036.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-534118371243853036 .focus\:\!gp-shadow-none,.gps-534118371243853036 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-534118371243853036 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-534118371243853036 .\!gp-g-s-medium{padding:8px 24px!important}.gps-534118371243853036 .gp-fixed{position:fixed}.gps-534118371243853036 .gp-relative{position:relative}.gps-534118371243853036 .gp-top-\[27px\]{top:27px}.gps-534118371243853036 .gp-z-1{z-index:1}.gps-534118371243853036 .gp-z-100{z-index:100}.gps-534118371243853036 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534118371243853036 .gp-mb-0{margin-bottom:0}.gps-534118371243853036 .gp-flex{display:flex}.gps-534118371243853036 .gp-inline-flex{display:inline-flex}.gps-534118371243853036 .gp-grid{display:grid}.gps-534118371243853036 .\!gp-hidden{display:none!important}.gps-534118371243853036 .gp-hidden{display:none}.gps-534118371243853036 .\!gp-h-auto{height:auto!important}.gps-534118371243853036 .gp-h-full{height:100%}.gps-534118371243853036 .gp-max-w-full{max-width:100%}.gps-534118371243853036 .gp-flex-col{flex-direction:column}.gps-534118371243853036 .gp-items-center{align-items:center}.gps-534118371243853036 .gp-justify-center{justify-content:center}.gps-534118371243853036 .gp-gap-y-0{row-gap:0}.gps-534118371243853036 .gp-overflow-hidden{overflow:hidden}.gps-534118371243853036 .gp-break-words{overflow-wrap:break-word}.gps-534118371243853036 .gp-rounded{border-radius:4px}.gps-534118371243853036 .gp-rounded-none{border-radius:0}.gps-534118371243853036 .gp-bg-g-brand{background-color:var(--g-c-brand)}.gps-534118371243853036 .\!gp-bg-none{background-image:none!important}.gps-534118371243853036 .gp-p-\[16px\]{padding:16px}.gps-534118371243853036 .gp-text-\[14px\]{font-size:14px}.gps-534118371243853036 .gp-leading-normal{line-height:1.5}.gps-534118371243853036 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-534118371243853036 .gp-no-underline{text-decoration-line:none}.gps-534118371243853036 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-534118371243853036 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534118371243853036 .gp-duration-200{transition-duration:.2s}.gps-534118371243853036 .gp-duration-300{transition-duration:.3s}.gps-534118371243853036 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534118371243853036 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-534118371243853036 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}.gps-534118371243853036 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-534118371243853036 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-534118371243853036 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-534118371243853036 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-534118371243853036 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-534118371243853036 .tablet\:\!gp-hidden{display:none!important}.gps-534118371243853036 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-534118371243853036 .mobile\:\!gp-hidden{display:none!important}.gps-534118371243853036 .mobile\:gp-hidden{display:none}}.gps-534118371243853036 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-534118371243853036 .\[\&_p\]\:gp-inline p{display:inline}.gps-534118371243853036 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-534118371243853036 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-534118371243853036 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gAChGwRQnM" data-id="gAChGwRQnM"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#E6CABE;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAChGwRQnM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gfhni2z0cu gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gwQJdN79Rx" data-id="gwQJdN79Rx"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwQJdN79Rx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gkO5jYoUkZ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRm3qfGZLf">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gRm3qfGZLf "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Cormorant, 'Cormorant'), var(--g-font-heading, heading);--size:32px;--size-tablet:32px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggRm3qfGZLf_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    <div gp-el-wrapper style="--pt:var(--g-s-xl);--pl:var(--g-s-l);--pb:var(--g-s-xl);--pr:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%" class="gXN3flNNDQ ">
      
    <gp-form
      id="gXN3flNNDQ"
      data-id="gXN3flNNDQ"
      
      data-submit-action='stay-on-page'
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gXN3flNNDQ"
        href="" target=""
      >
      </a>
      {% form 'customer', class: 'gp-form-gXN3flNNDQ ', id: 'contact_form_gXN3flNNDQ' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gXN3flNNDQ"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            {{ section.settings.ggXN3flNNDQ_errorMessage }}
          </div>
        {% endif %}
        <div popover id="my-popover-gXN3flNNDQ">
        <style>
            #my-popover-gXN3flNNDQ::backdrop {
              width: fit-content;
              height: fit-content;
            }
        </style>
        <div
          id="gp-form-success-gXN3flNNDQ"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          {{ section.settings.ggXN3flNNDQ_successMessage }}
        </div></div>
        
       
      
    <div
      enableLazyloadImage="true" parentTag="Newsletter" id="gyELx3B8vC" data-id="gyELx3B8vC"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:0px;--cg-mobile:0px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gyELx3B8vC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="giz9dUb6X6 gp-relative gp-flex gp-flex-col"
    >
      
    <div
    data-id="gG_EaWTbNe"
      class="gG_EaWTbNe"
      style="--d:block;--d-tablet:block;--d-mobile:block;--op:100%;--ta:left"
    >
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-1 !gp-g-s-medium !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--w:313px;--w-tablet:313px;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-2, line-2);--shadow:none"
        placeholder="{{ section.settings.ggG_EaWTbNe_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gqpVaG6Z7l gp-relative gp-flex gp-flex-col"
    >
      
    
  <gp-button >
  <div
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:left"
    
  >
    <style>
    .gGwcbooLlV.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gGwcbooLlV:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
    }

    .gGwcbooLlV:hover .gp-button-icon {
      color: undefined;
    }

     .gGwcbooLlV .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gGwcbooLlV:hover .gp-button-price {
      color: undefined;
    }

    .gGwcbooLlV .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gGwcbooLlV .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gGwcbooLlV:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="submit" data-id="gGwcbooLlV" aria-label="Send"
      
      data-state="idle"
      class="gGwcbooLlV gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-bg-g-brand hover:gp-bg-g-highlight gp-text-g-text-3 gp-g-paragraph-1"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--shadow:none;--w:120px;--w-tablet:120px;--w-mobile:120px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.ggGwcbooLlV_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

  
    </div>
    </div>
   
    
      {% endform %}
    </gp-form>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v21/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFhFTc7Nq6w.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v21/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFhFTc75q6y-r0Yr5dBWC.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v21/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFhFTc7dq6y-r0Yr5dBWC.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v21/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFhFTc7xq6y-r0Yr5dBWC.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v21/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFhFTc71q6y-r0Yr5dBWC.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v21/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFhFTc7Nq6y-r0Yr5dA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-534118371243853036 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534053421406225162&sectionId=534118371243853036)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggRm3qfGZLf_text","label":"ggRm3qfGZLf_text","default":"<p>Sign up for a notification of our launch date and receive a launch discount code!</p>"},{"type":"html","id":"ggXN3flNNDQ_successMessage","label":"ggXN3flNNDQ_successMessage","default":"Thanks for contacting us. We'll get back to you as soon as possible."},{"type":"html","id":"ggXN3flNNDQ_errorMessage","label":"ggXN3flNNDQ_errorMessage","default":"Can’t send email. Please try again later."},{"type":"html","id":"ggG_EaWTbNe_placeholder","label":"ggG_EaWTbNe_placeholder","default":"Email"},{"type":"html","id":"ggGwcbooLlV_label","label":"ggGwcbooLlV_label","default":"Send"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
