

<style>@import url('https://fonts.googleapis.com/css?family=Montserrat:400&display=swap');.gps-549801813725938737 .gp-absolute{position:absolute}.gps-549801813725938737 .gp-relative{position:relative}.gps-549801813725938737 .gp-z-1{z-index:1}.gps-549801813725938737 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-549801813725938737 .gp-mb-0{margin-bottom:0}.gps-549801813725938737 .gp-flex{display:flex}.gps-549801813725938737 .gp-inline-flex{display:inline-flex}.gps-549801813725938737 .gp-grid{display:grid}.gps-549801813725938737 .\!gp-hidden{display:none!important}.gps-549801813725938737 .gp-hidden{display:none}.gps-549801813725938737 .gp-h-full{height:100%}.gps-549801813725938737 .gp-w-full{width:100%}.gps-549801813725938737 .gp-max-w-full{max-width:100%}.gps-549801813725938737 .gp-flex-col{flex-direction:column}.gps-549801813725938737 .gp-items-center{align-items:center}.gps-549801813725938737 .\!gp-justify-center{justify-content:center!important}.gps-549801813725938737 .gp-justify-center{justify-content:center}.gps-549801813725938737 .gp-gap-y-0{row-gap:0}.gps-549801813725938737 .gp-overflow-hidden{overflow:hidden}.gps-549801813725938737 .gp-break-words{overflow-wrap:break-word}.gps-549801813725938737 .gp-rounded-none{border-radius:0}.gps-549801813725938737 .gp-text-center{text-align:center}.gps-549801813725938737 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-549801813725938737 .gp-no-underline{text-decoration-line:none}.gps-549801813725938737 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549801813725938737 .gp-duration-200{transition-duration:.2s}.gps-549801813725938737 .gp-duration-300{transition-duration:.3s}.gps-549801813725938737 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549801813725938737 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-549801813725938737 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-549801813725938737 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-549801813725938737 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-549801813725938737 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-549801813725938737 .tablet\:gp-relative{position:relative}.gps-549801813725938737 .tablet\:\!gp-hidden{display:none!important}.gps-549801813725938737 .tablet\:gp-hidden{display:none}.gps-549801813725938737 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-549801813725938737 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-549801813725938737 .mobile\:gp-relative{position:relative}.gps-549801813725938737 .mobile\:\!gp-hidden{display:none!important}.gps-549801813725938737 .mobile\:gp-hidden{display:none}.gps-549801813725938737 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-549801813725938737 .mobile\:\!gp-justify-end{justify-content:flex-end!important}.gps-549801813725938737 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-549801813725938737 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-549801813725938737 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-549801813725938737 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-549801813725938737 .\[\&_p\]\:gp-inline p{display:inline}.gps-549801813725938737 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-549801813725938737 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-549801813725938737 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g-PjU8a2mx" data-id="g-PjU8a2mx"
        style="--blockPadding:base;--pt:0px;--pb:0px;--mt-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-PjU8a2mx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gLrp1Cuoz- gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gyhO51ZUr_" data-id="gyhO51ZUr_"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gyhO51ZUr_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gjw6bsOAZk gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-end" style="--h:600px;--h-tablet:500px;--h-mobile:500px;--d:none;--d-mobile:flex;--d-tablet:flex;--mt:0px;--ml:auto;--mr:auto">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"","image":{"backupFileKey":"gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg","height":1000,"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg","storage":"FILE_CONTENT","width":2000},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"","image":{"backupFileKey":"gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg","height":1000,"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg","storage":"FILE_CONTENT","width":2000},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-87e0c2cf-78dd-4ad6-a5d7-c091a35713b9.jpg","width":1307,"height":928,"backupFileKey":"gempages_532871831896458163-87e0c2cf-78dd-4ad6-a5d7-c091a35713b9.jpg","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"repeat-y","size":"cover","type":"image"}},"uid":"rewrap_row_VlhAIVHOWHnL","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"center"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="rewrap_row_VlhAIVHOWHnL gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:flex;--d-tablet:flex;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:600px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:200%"
        data-id="rewrap_row_VlhAIVHOWHnL"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:600px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_532871831896458163-87e0c2cf-78dd-4ad6-a5d7-c091a35713b9_768x.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078_1024x.jpg" | file_url }}" />
      <img
        title
        class="adaptive-hero-banner"
        src="{{ "gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:600px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:200%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:repeat-y;--bgi:url('{{ "gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg" | file_url }}');--bgi-tablet:url('{{ "gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078_1024x.jpg" | file_url }}');--bgi-mobile:url('{{ "gempages_532871831896458163-87e0c2cf-78dd-4ad6-a5d7-c091a35713b9_768x.jpg" | file_url }}');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o:0"
      class="c-hb-rewrap_row_VlhAIVHOWHnL gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="sp-c-nsw-i2l5b16e6cf25" data-id="sp-c-nsw-i2l5b16e6cf25"
        style="--mt:auto;--ml:1px;--mb:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:630px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-c-nsw-i2l5b16e6cf25 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2l5b16e6cf25 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="TycOCyfZjiCR">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="TycOCyfZjiCR "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:46px;--size-tablet:46px;--size-mobile:41px;--weight:bold;--c:rgb(34, 34, 34);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;overflow:hidden"
        >{{ section.settings.gTycOCyfZjiCR_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="TXfKrDmiSvWu">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="TXfKrDmiSvWu "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:100px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:17px;--size-tablet:18px;--size-mobile:16px;--lh:200%;--lh-tablet:130%;--lh-mobile:100%;--c:rgb(37, 37, 37);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        >{{ section.settings.gTXfKrDmiSvWu_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--pt:20px;--pl:30px;--mb-mobile:0px;--pt-mobile:20px;--pl-mobile:30px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:left"
    
  >
    <style>
    .glUpBiyE0w.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 11px;
      border-bottom-right-radius: 11px;
      border-top-left-radius: 11px;
      border-top-right-radius: 11px;
      
    }

    .glUpBiyE0w:hover::before {
      
      
    }

    .glUpBiyE0w:hover .gp-button-icon {
      color: undefined;
    }

     .glUpBiyE0w .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .glUpBiyE0w:hover .gp-button-price {
      color: undefined;
    }

    .glUpBiyE0w .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .glUpBiyE0w .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .glUpBiyE0w:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/starter-kit" target="_self" data-id="glUpBiyE0w" aria-label="<p>START HERE</p>"
      
      data-state="idle"
      class="glUpBiyE0w gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-g-text-3 gp-text-center"
      style="--bg:#C3A298;--hvr-bg:var(--g-c-highlight, highlight);--bblr:11px;--bbrr:11px;--btlr:11px;--btrr:11px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.gglUpBiyE0w_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-549801813725938737 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=549790644395049888&sectionId=549801813725938737)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gTycOCyfZjiCR_text","label":"gTycOCyfZjiCR_text","default":"<span style=\"font-size:33px;\">WHY EYELACE?</span>"},{"type":"html","id":"gTXfKrDmiSvWu_text","label":"gTXfKrDmiSvWu_text","default":"<ul><li><span style=\"font-size:12px;\"><strong>First-of-its-Kind:</strong> Revolutionary waterline lashes.</span></li><li><span style=\"font-size:12px;\"><strong>Natural Look:</strong> Enhances your beauty with or without makeup.</span></li><li><span style=\"font-size:12px;\"><strong>Damage-Free:</strong> Our lashes protect your natural lash line.</span></li><li><span style=\"font-size:12px;\"><strong>Effortless:</strong> Designed for busy women who want a polished look.</span></li></ul>"},{"type":"html","id":"gglUpBiyE0w_label","label":"gglUpBiyE0w_label","default":"<p>START HERE</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
