

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534637098033022113.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534637098033022113.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-534637098033022113.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534637098033022113.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534637098033022113.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534637098033022113.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534637098033022113.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534637098033022113.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534637098033022113.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534637098033022113.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-534637098033022113.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-534637098033022113.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534637098033022113.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-534637098033022113.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-534637098033022113.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534637098033022113.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-534637098033022113.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-534637098033022113.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-534637098033022113.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534637098033022113.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534637098033022113.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534637098033022113.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534637098033022113.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-534637098033022113.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-534637098033022113.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-534637098033022113.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534637098033022113.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-534637098033022113.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534637098033022113.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-534637098033022113.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-534637098033022113.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-534637098033022113.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-534637098033022113.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-534637098033022113.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-534637098033022113.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534637098033022113.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534637098033022113.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534637098033022113.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534637098033022113.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534637098033022113.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534637098033022113.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534637098033022113.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-534637098033022113.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-534637098033022113.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-534637098033022113.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-534637098033022113.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534637098033022113.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-534637098033022113.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-534637098033022113.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-534637098033022113.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-534637098033022113.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-534637098033022113.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-534637098033022113.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-534637098033022113.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-534637098033022113.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-534637098033022113.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-534637098033022113.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-534637098033022113.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-534637098033022113.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-534637098033022113.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534637098033022113.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534637098033022113.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-534637098033022113.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-534637098033022113.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-534637098033022113.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-534637098033022113.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-534637098033022113.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-534637098033022113.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-534637098033022113.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-534637098033022113.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-534637098033022113.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-534637098033022113.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534637098033022113.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534637098033022113.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-534637098033022113.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-534637098033022113.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-534637098033022113.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-534637098033022113.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-534637098033022113 .gp-absolute{position:absolute}.gps-534637098033022113 .gp-relative{position:relative}.gps-534637098033022113 .gp-z-1{z-index:1}.gps-534637098033022113 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534637098033022113 .gp-mb-0{margin-bottom:0}.gps-534637098033022113 .gp-flex{display:flex}.gps-534637098033022113 .gp-inline-flex{display:inline-flex}.gps-534637098033022113 .gp-grid{display:grid}.gps-534637098033022113 .\!gp-hidden{display:none!important}.gps-534637098033022113 .gp-hidden{display:none}.gps-534637098033022113 .gp-h-full{height:100%}.gps-534637098033022113 .gp-w-full{width:100%}.gps-534637098033022113 .gp-max-w-full{max-width:100%}.gps-534637098033022113 .gp-flex-col{flex-direction:column}.gps-534637098033022113 .gp-items-center{align-items:center}.gps-534637098033022113 .\!gp-justify-center{justify-content:center!important}.gps-534637098033022113 .gp-justify-center{justify-content:center}.gps-534637098033022113 .gp-gap-y-0{row-gap:0}.gps-534637098033022113 .gp-overflow-hidden{overflow:hidden}.gps-534637098033022113 .gp-break-words{overflow-wrap:break-word}.gps-534637098033022113 .gp-rounded-none{border-radius:0}.gps-534637098033022113 .gp-text-center{text-align:center}.gps-534637098033022113 .gp-no-underline{text-decoration-line:none}.gps-534637098033022113 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534637098033022113 .gp-duration-200{transition-duration:.2s}.gps-534637098033022113 .gp-duration-300{transition-duration:.3s}.gps-534637098033022113 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534637098033022113 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-534637098033022113 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-534637098033022113 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-534637098033022113 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-534637098033022113 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-534637098033022113 .tablet\:gp-relative{position:relative}.gps-534637098033022113 .tablet\:\!gp-hidden{display:none!important}.gps-534637098033022113 .tablet\:gp-hidden{display:none}.gps-534637098033022113 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-534637098033022113 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-534637098033022113 .mobile\:gp-relative{position:relative}.gps-534637098033022113 .mobile\:\!gp-hidden{display:none!important}.gps-534637098033022113 .mobile\:gp-hidden{display:none}.gps-534637098033022113 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-534637098033022113 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-534637098033022113 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-534637098033022113 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-534637098033022113 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-534637098033022113 .\[\&_p\]\:gp-inline p{display:inline}.gps-534637098033022113 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-534637098033022113 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-534637098033022113 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="i2l80a0dc152d" data-id="i2l80a0dc152d"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(26, 26, 26);--bgi:url()"
        class="i2l80a0dc152d gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_KDIsEISbZolS gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:800px;--h-tablet:500px;--h-mobile:500px;--d:flex;--d-tablet:flex;--d-mobile:flex;--mt:0px;--ml:auto;--mb:0px;--mr:auto">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"size":"cover","type":"image","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354","width":5891,"height":3313,"backupFileKey":""},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"fixed"},"tablet":{"size":"cover","type":"image","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354","width":5891,"height":3313,"backupFileKey":""},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"fixed"},"mobile":{"size":"cover","type":"image","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354","width":5891,"height":3313,"backupFileKey":""},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"fixed"}},"uid":"rewrap_row_KDIsEISbZolS","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="rewrap_row_KDIsEISbZolS gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:800px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="rewrap_row_KDIsEISbZolS"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:800px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354" />
      <source media="(max-width: 1024px)" srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:800px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354');--bgi-tablet:url('https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354');--bgi-mobile:url('https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354');--duration:0.5s;--scale:110%;--pos:fixed;--pos-tablet:absolute;--pos-mobile:absolute;--h:100vh;--h-tablet:100vh;--h-mobile:100vh;--w:100vw;--w-tablet:100vw;--w-mobile:100vw;--top:0px;--top-tablet:0px;--top-mobile:0px"
            >
            
            
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="c-hb-rewrap_row_KDIsEISbZolS gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="sp-c-nsw-i2l15b6b2202f" data-id="sp-c-nsw-i2l15b6b2202f"
        style="--mt:auto;--ml:auto;--mb:auto;--mr:1px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:end;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:664px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-c-nsw-i2l15b6b2202f gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2l15b6b2202f gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="DYSNzwOoLpVY">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="DYSNzwOoLpVY "
        style="--ta:right;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:12px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gDYSNzwOoLpVY_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="NEgCJygxTcVh">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="NEgCJygxTcVh "
        style="--ta:right;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:right">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:51px;--size-tablet:46px;--size-mobile:41px;--weight:bold;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;overflow:hidden"
        >{{ section.settings.gNEgCJygxTcVh_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="vIGcIsYUzdNh">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="vIGcIsYUzdNh "
        style="--ta:right;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:16px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gvIGcIsYUzdNh_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:right"
    
  >
    <style>
    .RXCcKdMtAGoN.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 11px;
      border-bottom-right-radius: 11px;
      border-top-left-radius: 11px;
      border-top-right-radius: 11px;
      
    }

    .RXCcKdMtAGoN:hover::before {
      
      
    }

    .RXCcKdMtAGoN:hover .gp-button-icon {
      color: undefined;
    }

     .RXCcKdMtAGoN .gp-button-icon {
      color: rgb(33, 33, 33);
    }

    .RXCcKdMtAGoN:hover .gp-button-price {
      color: undefined;
    }

    .RXCcKdMtAGoN .gp-button-price {
      color: rgb(33, 33, 33);
    }

    .RXCcKdMtAGoN .gp-product-dot-price {
       color: rgb(33, 33, 33);
    }

    .RXCcKdMtAGoN:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/starter-kit" target="_self" data-id="RXCcKdMtAGoN" aria-label="GET STARTED"
      
      data-state="idle"
      class="RXCcKdMtAGoN gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-center"
      style="--bg:rgb(254, 254, 254);--hvr-bg:var(--g-c-highlight, highlight);--bblr:11px;--bbrr:11px;--btlr:11px;--btrr:11px;--shadow:none;--w:120px;--w-tablet:120px;--w-mobile:120px;--h:50px;--h-tablet:50px;--h-mobile:50px;--pl:0px;--pr:0px;--pt:8px;--pb:8px;--c:rgb(33, 33, 33);--size:14px;--size-tablet:14px;--size-mobile:12px;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:14px;--size-tablet:14px;--size-mobile:12px"
      >
        {{ section.settings.gRXCcKdMtAGoN_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXw.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw9aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw2aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXx-p7K4KLg.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-534637098033022113 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534637097848407201&sectionId=534637098033022113)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gDYSNzwOoLpVY_text","label":"gDYSNzwOoLpVY_text","default":"BE BOLD; BE BEAUTIFUL"},{"type":"html","id":"gNEgCJygxTcVh_text","label":"gNEgCJygxTcVh_text","default":"STARTER KIT"},{"type":"html","id":"gvIGcIsYUzdNh_text","label":"gvIGcIsYUzdNh_text","default":"<p>A whole new experience in lashes, our Starter Kit features a collection of all of our lashes and accessories along with detailed instructions for use in one convenient box. Try yours today!</p>"},{"type":"html","id":"gRXCcKdMtAGoN_label","label":"gRXCcKdMtAGoN_label","default":"GET STARTED"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
