

<style>@import url('https://fonts.googleapis.com/css?family=Montserrat:400&display=swap');.gps-535138477667320753 .gp-invisible{visibility:hidden}.gps-535138477667320753 .gp-absolute{position:absolute}.gps-535138477667320753 .gp-relative{position:relative}.gps-535138477667320753 .gp-z-1{z-index:1}.gps-535138477667320753 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-535138477667320753 .gp-mb-0{margin-bottom:0}.gps-535138477667320753 .gp-flex{display:flex}.gps-535138477667320753 .gp-inline-flex{display:inline-flex}.gps-535138477667320753 .gp-grid{display:grid}.gps-535138477667320753 .\!gp-hidden{display:none!important}.gps-535138477667320753 .gp-hidden{display:none}.gps-535138477667320753 .gp-h-full{height:100%}.gps-535138477667320753 .gp-w-full{width:100%}.gps-535138477667320753 .gp-max-w-full{max-width:100%}.gps-535138477667320753 .gp-flex-col{flex-direction:column}.gps-535138477667320753 .gp-items-center{align-items:center}.gps-535138477667320753 .\!gp-justify-center{justify-content:center!important}.gps-535138477667320753 .gp-justify-center{justify-content:center}.gps-535138477667320753 .gp-gap-y-0{row-gap:0}.gps-535138477667320753 .gp-overflow-hidden{overflow:hidden}.gps-535138477667320753 .gp-break-words{overflow-wrap:break-word}.gps-535138477667320753 .gp-rounded-none{border-radius:0}.gps-535138477667320753 .gp-text-center{text-align:center}.gps-535138477667320753 .gp-no-underline{text-decoration-line:none}.gps-535138477667320753 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535138477667320753 .gp-duration-200{transition-duration:.2s}.gps-535138477667320753 .gp-duration-300{transition-duration:.3s}.gps-535138477667320753 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535138477667320753 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-535138477667320753 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-535138477667320753 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-535138477667320753 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-535138477667320753 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-535138477667320753 .tablet\:gp-relative{position:relative}.gps-535138477667320753 .tablet\:\!gp-hidden{display:none!important}.gps-535138477667320753 .tablet\:gp-hidden{display:none}.gps-535138477667320753 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-535138477667320753 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-535138477667320753 .mobile\:gp-relative{position:relative}.gps-535138477667320753 .mobile\:\!gp-hidden{display:none!important}.gps-535138477667320753 .mobile\:gp-hidden{display:none}.gps-535138477667320753 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-535138477667320753 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-535138477667320753 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-535138477667320753 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-535138477667320753 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-535138477667320753 .\[\&_p\]\:gp-inline p{display:inline}.gps-535138477667320753 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-535138477667320753 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-535138477667320753 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="i2l80a0dc152d" data-id="i2l80a0dc152d"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:rgb(26, 26, 26)"
        class="i2l80a0dc152d gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_KDIsEISbZolS gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:800px;--h-tablet:500px;--h-mobile:500px;--d:flex;--d-tablet:flex;--d-mobile:flex;--mt:0px;--ml:auto;--mb:0px;--mr:auto">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"size":"cover","type":"image","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354","width":5891,"height":3313,"backupFileKey":""},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"fixed","video":"","videoHtml5":""},"tablet":{"size":"cover","type":"image","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354","width":5891,"height":3313,"backupFileKey":""},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"fixed","video":"","videoHtml5":""},"mobile":{"size":"contain","type":"image","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354","width":5891,"height":3313,"backupFileKey":""},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"fixed","video":"","videoHtml5":"","loop":""}},"uid":"rewrap_row_KDIsEISbZolS","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{}}'
        
        class="rewrap_row_KDIsEISbZolS gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:800px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="rewrap_row_KDIsEISbZolS"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:800px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354" />
        <source media="(max-width: 1023px)" srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354" />
        <img
          title
          class="adaptive-hero-banner"
          src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354"
          alt=""
          fetchpriority="high"
          style="--aspect:5891/3313;--aspect-tablet:5891/3313;--aspect-mobile:5891/3313;--d:none;--d-tablet:none;--d-mobile:none;--h:800px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354"
        width="100%"
        alt=""
        style="--aspect:5891/3313;--aspect-tablet:5891/3313;--aspect-mobile:5891/3313;--d:none;--d-tablet:none;--d-mobile:none;--h:800px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:contain;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-tablet:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-mobile:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--duration:0.5s;--scale:110%;--pos:fixed;--pos-tablet:absolute;--pos-mobile:fixed;--h:100vh;--h-tablet:100vh;--h-mobile:100vh;--w:100vw;--w-tablet:100vw;--w-mobile:100vw;--top:0px;--top-tablet:0px;--top-mobile:0px"
             >
             
  {%- liquid
    assign isFetchPriorityHigh = true 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb"
      src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354" width="2237" height="1678" alt="lazy image mobile"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354" data-srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354 768w,https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354 1024w,https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
  {%- liquid
    assign isFetchPriorityHigh = true 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  "
      src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354" width="2237" height="1678" alt="lazy image desktop"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354" data-srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354 768w,https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354 1024w,https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
  {%- liquid
    assign isFetchPriorityHigh = true 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl "
      src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354" width="2237" height="1678" alt="lazy image tablet"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354" data-srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354 768w,https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354 1024w,https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_13_2024_1_34_27_PM.png?v=1726249354 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
              </div>  
               </div>
            </div>
            
          </div>
          
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="c-hb-rewrap_row_KDIsEISbZolS gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="sp-c-nsw-i2l15b6b2202f" data-id="sp-c-nsw-i2l15b6b2202f"
        style="--mt:auto;--ml:auto;--mb:auto;--mr:1px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:end;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:664px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-c-nsw-i2l15b6b2202f gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2l15b6b2202f gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="NEgCJygxTcVh">
    <div
      parentTag="Col"
        class="NEgCJygxTcVh "
        style="--ta:right;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:right">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:51px;--size-tablet:46px;--size-mobile:41px;--weight:bold;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;overflow:hidden"
        >{{ section.settings.gNEgCJygxTcVh_text }}</h2>
      </div>
    </div>
    </gp-text>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="vIGcIsYUzdNh">
    <div
      parentTag="Col"
        class="vIGcIsYUzdNh "
        style="--ta:right;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:16px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gvIGcIsYUzdNh_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:right"
    
  >
    <style>
    .RXCcKdMtAGoN.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 11px;
      border-bottom-right-radius: 11px;
      border-top-left-radius: 11px;
      border-top-right-radius: 11px;
      
    }

    .RXCcKdMtAGoN:hover::before {
      
      
    }

    .RXCcKdMtAGoN:hover .gp-button-icon {
      color: undefined;
    }

     .RXCcKdMtAGoN .gp-button-icon {
      color: rgb(33, 33, 33);
    }

    .RXCcKdMtAGoN:hover .gp-button-price {
      color: undefined;
    }

    .RXCcKdMtAGoN .gp-button-price {
      color: rgb(33, 33, 33);
    }

    .RXCcKdMtAGoN .gp-product-dot-price {
       color: rgb(33, 33, 33);
    }

    .RXCcKdMtAGoN:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/starter-kit" target="_self" data-id="RXCcKdMtAGoN" aria-label="GET STARTED"
      
      data-state="idle"
      class="RXCcKdMtAGoN gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-center"
      style="--bg:rgb(254, 254, 254);--hvr-bg:var(--g-c-highlight, highlight);--bblr:11px;--bbrr:11px;--btlr:11px;--btrr:11px;--shadow:none;--w:120px;--w-tablet:120px;--w-mobile:120px;--h:50px;--h-tablet:50px;--h-mobile:50px;--pl:0px;--pr:0px;--pt:8px;--pb:8px;--c:rgb(33, 33, 33);--size:14px;--size-tablet:14px;--size-mobile:12px;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:14px;--size-tablet:14px;--size-mobile:12px"
      >
        {{ section.settings.gRXCcKdMtAGoN_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-535138477667320753 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=535138477415596977&sectionId=535138477667320753)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gNEgCJygxTcVh_text","label":"gNEgCJygxTcVh_text","default":"<br><br>STARTER KIT"},{"type":"html","id":"gvIGcIsYUzdNh_text","label":"gvIGcIsYUzdNh_text","default":"<p>A whole new experience in lashes, our Starter Kit features a collection of all of our lashes and accessories along with detailed instructions for use in one convenient box. Try yours today!</p>"},{"type":"html","id":"gRXCcKdMtAGoN_label","label":"gRXCcKdMtAGoN_label","default":"GET STARTED"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
