

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534747059698271033.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-534747059698271033.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534747059698271033.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-534747059698271033.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534747059698271033.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534747059698271033.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534747059698271033.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534747059698271033.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534747059698271033.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534747059698271033.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534747059698271033.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-534747059698271033.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-534747059698271033.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534747059698271033.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-534747059698271033.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-534747059698271033.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534747059698271033.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-534747059698271033.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-534747059698271033.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-534747059698271033.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534747059698271033.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534747059698271033.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534747059698271033.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534747059698271033.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-534747059698271033.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-534747059698271033.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-534747059698271033.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534747059698271033.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-534747059698271033.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534747059698271033.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-534747059698271033.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-534747059698271033.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-534747059698271033.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-534747059698271033.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-534747059698271033.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-534747059698271033.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-534747059698271033.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-534747059698271033.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534747059698271033.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534747059698271033.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534747059698271033.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534747059698271033.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534747059698271033.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534747059698271033.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534747059698271033.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-534747059698271033.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-534747059698271033.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-534747059698271033.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-534747059698271033.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534747059698271033.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-534747059698271033.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-534747059698271033.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-534747059698271033.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-534747059698271033.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-534747059698271033.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-534747059698271033.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-534747059698271033.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-534747059698271033.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534747059698271033.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534747059698271033.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-534747059698271033.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-534747059698271033.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-534747059698271033.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-534747059698271033.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-534747059698271033.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-534747059698271033.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-534747059698271033.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534747059698271033.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534747059698271033.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-534747059698271033.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-534747059698271033 .gp-relative{position:relative}.gps-534747059698271033 .gp-z-1{z-index:1}.gps-534747059698271033 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534747059698271033 .gp-mb-0{margin-bottom:0}.gps-534747059698271033 .gp-flex{display:flex}.gps-534747059698271033 .gp-inline-flex{display:inline-flex}.gps-534747059698271033 .gp-grid{display:grid}.gps-534747059698271033 .\!gp-hidden{display:none!important}.gps-534747059698271033 .gp-hidden{display:none}.gps-534747059698271033 .gp-h-full{height:100%}.gps-534747059698271033 .gp-w-full{width:100%}.gps-534747059698271033 .gp-max-w-full{max-width:100%}.gps-534747059698271033 .gp-flex-col{flex-direction:column}.gps-534747059698271033 .gp-items-center{align-items:center}.gps-534747059698271033 .gp-justify-center{justify-content:center}.gps-534747059698271033 .gp-gap-y-0{row-gap:0}.gps-534747059698271033 .gp-overflow-hidden{overflow:hidden}.gps-534747059698271033 .gp-break-words{overflow-wrap:break-word}.gps-534747059698271033 .gp-rounded-none{border-radius:0}.gps-534747059698271033 .gp-text-center{text-align:center}.gps-534747059698271033 .gp-no-underline{text-decoration-line:none}.gps-534747059698271033 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534747059698271033 .gp-duration-200{transition-duration:.2s}.gps-534747059698271033 .gp-duration-300{transition-duration:.3s}.gps-534747059698271033 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534747059698271033 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-534747059698271033 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-534747059698271033 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-534747059698271033 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-534747059698271033 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-534747059698271033 .tablet\:\!gp-hidden{display:none!important}.gps-534747059698271033 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-534747059698271033 .mobile\:\!gp-hidden{display:none!important}.gps-534747059698271033 .mobile\:gp-hidden{display:none}}.gps-534747059698271033 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-534747059698271033 .\[\&_p\]\:gp-inline p{display:inline}.gps-534747059698271033 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-534747059698271033 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-534747059698271033 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="i2l99a2684285" data-id="i2l99a2684285"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(246, 246, 246);--bgi:url()"
        class="i2l99a2684285 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l99a2684285 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="w-i2l99a2684285" data-id="w-i2l99a2684285"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2l99a2684285 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lc95f6944a7 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="YsVkclBvhalv">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="YsVkclBvhalv "
        style="--ta:center;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--size:13px;--size-tablet:14px;--size-mobile:12px;--weight:bold;--c:rgb(33, 33, 33);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gYsVkclBvhalv_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ZmTFwbnVCsPr">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ZmTFwbnVCsPr "
        style="--ta:center;--mt:0px;--ml:0px;--mb:32px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:30px;--size-tablet:25px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:rgb(32, 32, 32);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gZmTFwbnVCsPr_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--mb:32px" class="gbIQ2hmL2- ">
      
    <div class='gp-flex gp-overflow-hidden' style="border-radius: inherit">
      
  <gp-image-comparison
  data-id="gbIQ2hmL2-"
    gp-data='{"aspectRatio":{"desktop":"16/9"},"defaultRatio":"1792/1260","handle":null,"handleSize":40,"hover":false,"leftImage":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-02-14_at_9.04.19_AM_4ef43b86-9e82-40f0-8da2-babff22e4f29.png?v=1727423107","width":1792,"height":1260,"backupFileKey":""},"leftImageCss":{},"rightImage":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-08-22_at_3.31.07_PM.png?v=1724355082","width":1824,"height":1070,"backupFileKey":""},"rightImageCss":{},"sliderLineColor":"#ffffff","sliderLineWidth":2,"sliderPositionPercentage":0.5,"componentUid":"gbIQ2hmL2-","vertical":false}'
    class="gp-w-full gp-flex "
    style="--jc:start;--jc-tablet:start;--jc-mobile:start"
  >
  <div id="img-comparison-wrapper-gbIQ2hmL2-" style="--w:100%;--w-tablet:100%;--w-mobile:100%">
    <div
      style="box-sizing:border-box;position:relative;overflow:hidden;height:auto;display:block"
      id="img-comparison-container-gbIQ2hmL2-"
      data-testid="container"
    >
      <img
        data-testid="temp-image"
        alt=""
        title=""
        width="1792"
        height="1260"
        style="--pos:static;--op:0;--aspect:16/9"
      />
      
  <img
      id="right-image-gbIQ2hmL2-" title
      data-testid="right-image"
      draggable="false"
      class="gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-08-22_at_3.31.07_PM.png?v=1724355082" data-srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-08-22_at_3.31.07_PM.png?v=1724355082" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="display:block;height:100%;position:absolute;width:100%;top:0;--objf:cover"
    />
  
      
  <img
      id="left-image-gbIQ2hmL2-" title
      data-testid="left-image"
      draggable="false"
      class="gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-02-14_at_9.04.19_AM_4ef43b86-9e82-40f0-8da2-babff22e4f29.png?v=1727423107" data-srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-02-14_at_9.04.19_AM_4ef43b86-9e82-40f0-8da2-babff22e4f29.png?v=1727423107" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="display:block;height:100%;position:absolute;width:100%;top:0;--objf:cover"
    />
  
      <div id="image-comparison-slider-gbIQ2hmL2-" style="z-index:2;align-items:center;cursor:ew-resize;display:flex;flex-direction:column;height:100%;justify-content:center;position:absolute;width:40px">
        <div style="display:block;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);flex:0 1 auto;height:100%;width:2px"></div>
        <div style="align-items:center;border:2px solid #ffffff;border-radius:100%;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);box-sizing:border-box;display:flex;flex:1 0 auto;height:40px;justify-content:center;width:40px;transform:none">
          <svg style="margin-right:2px;filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px)" width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 6L6 0V12L0 6Z" fill="white"/>
          </svg>
          <svg style="margin-left:2px;filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px)" width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 6L0 12V0L6 6Z" fill="white"/>
          </svg>
        </div>
        <div style="display:block;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);flex:0 1 auto;height:100%;width:2px"></div>
      </div>
      
      
    </div></div>
  </gp-image-comparison>
  <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-image-comparison.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
  <gp-button >
  <div
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    
  >
    <style>
    .KOrHvByJaIWK.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 11px;
      border-bottom-right-radius: 11px;
      border-top-left-radius: 11px;
      border-top-right-radius: 11px;
      
    }

    .KOrHvByJaIWK:hover::before {
      
      
    }

    .KOrHvByJaIWK:hover .gp-button-icon {
      color: undefined;
    }

     .KOrHvByJaIWK .gp-button-icon {
      color: rgb(33, 33, 33);
    }

    .KOrHvByJaIWK:hover .gp-button-price {
      color: undefined;
    }

    .KOrHvByJaIWK .gp-button-price {
      color: rgb(33, 33, 33);
    }

    .KOrHvByJaIWK .gp-product-dot-price {
       color: rgb(33, 33, 33);
    }

    .KOrHvByJaIWK:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/lashes-collection" target="_self" data-id="KOrHvByJaIWK" aria-label="SHOP NOW"
      
      data-state="idle"
      class="KOrHvByJaIWK gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-center"
      style="--bg:rgb(229, 201, 189);--hvr-bg:var(--g-c-highlight, highlight);--bblr:11px;--bbrr:11px;--btlr:11px;--btrr:11px;--shadow:none;--w:120px;--w-tablet:120px;--w-mobile:120px;--h:45px;--h-tablet:45px;--h-mobile:45px;--pl:0px;--pr:0px;--pt:8px;--pb:8px;--c:rgb(33, 33, 33);--size:14px;--size-tablet:14px;--size-mobile:12px;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:14px;--size-tablet:14px;--size-mobile:12px"
      >
        {{ section.settings.gKOrHvByJaIWK_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-534747059698271033 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534747059446612793&sectionId=534747059698271033)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gYsVkclBvhalv_text","label":"gYsVkclBvhalv_text","default":"<p>Stunning Lashes For Everyone</p>"},{"type":"html","id":"gZmTFwbnVCsPr_text","label":"gZmTFwbnVCsPr_text","default":"BECAUSE YOU'RE BEAUTIFUL"},{"type":"html","id":"ggbIQ2hmL2-_leftImageLabel","label":"ggbIQ2hmL2-_leftImageLabel","default":"Before"},{"type":"html","id":"ggbIQ2hmL2-_rightImageLabel","label":"ggbIQ2hmL2-_rightImageLabel","default":"After"},{"type":"html","id":"gKOrHvByJaIWK_label","label":"gKOrHvByJaIWK_label","default":"SHOP NOW"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
