

<style>@import url('https://fonts.googleapis.com/css?family=Montserrat:400&display=swap');.gps-534930429367551137 .gp-absolute{position:absolute}.gps-534930429367551137 .gp-relative{position:relative}.gps-534930429367551137 .gp-inset-0{inset:0}.gps-534930429367551137 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-534930429367551137 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-534930429367551137 .gp-z-1{z-index:1}.gps-534930429367551137 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534930429367551137 .gp-mb-0{margin-bottom:0}.gps-534930429367551137 .gp-flex{display:flex}.gps-534930429367551137 .gp-grid{display:grid}.gps-534930429367551137 .\!gp-hidden{display:none!important}.gps-534930429367551137 .gp-hidden{display:none}.gps-534930429367551137 .gp-h-full{height:100%}.gps-534930429367551137 .gp-w-full{width:100%}.gps-534930429367551137 .gp-max-w-full{max-width:100%}.gps-534930429367551137 .gp-flex-col{flex-direction:column}.gps-534930429367551137 .gp-items-center{align-items:center}.gps-534930429367551137 .\!gp-justify-center{justify-content:center!important}.gps-534930429367551137 .gp-gap-y-0{row-gap:0}.gps-534930429367551137 .gp-overflow-hidden{overflow:hidden}.gps-534930429367551137 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534930429367551137 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534930429367551137 .gp-duration-200{transition-duration:.2s}.gps-534930429367551137 .gp-duration-300{transition-duration:.3s}.gps-534930429367551137 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-534930429367551137 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-534930429367551137 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1023px){.gps-534930429367551137 .tablet\:gp-relative{position:relative}.gps-534930429367551137 .tablet\:\!gp-hidden{display:none!important}.gps-534930429367551137 .tablet\:gp-hidden{display:none}.gps-534930429367551137 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-534930429367551137 .mobile\:gp-relative{position:relative}.gps-534930429367551137 .mobile\:\!gp-hidden{display:none!important}.gps-534930429367551137 .mobile\:gp-hidden{display:none}.gps-534930429367551137 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-534930429367551137 .mobile\:\!gp-justify-center,.gps-534930429367551137 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-534930429367551137 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-534930429367551137 .\[\&_p\]\:gp-inline p{display:inline}.gps-534930429367551137 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-534930429367551137 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2lefde28c2b3"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(205, 205, 205)"
        class="i2lefde28c2b3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_VlhAIVHOWHnL gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:750px;--h-tablet:500px;--h-mobile:500px;--d:flex;--d-tablet:flex;--d-mobile:flex;--mt:0px;--ml:auto;--mb:0px;--mr:auto">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"size":"cover","type":"image","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg","width":2000,"height":1000,"backupFileKey":"gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg","storage":"FILE_CONTENT"},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll","video":"","videoHtml5":""},"tablet":{"size":"cover","type":"image","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg","width":2000,"height":1000,"backupFileKey":"gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg","storage":"FILE_CONTENT"},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll","video":"","videoHtml5":""},"mobile":{"size":"cover","type":"image","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg","width":2000,"height":1000,"backupFileKey":"gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg","storage":"FILE_CONTENT"},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll","video":"","videoHtml5":""}},"uid":"rewrap_row_VlhAIVHOWHnL","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[7,5],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{}}'
        
        class="rewrap_row_VlhAIVHOWHnL gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:750px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:750px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          title
          class="adaptive-hero-banner"
          src="{{ "gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:2000/1000;--aspect-tablet:2000/1000;--aspect-mobile:2000/1000;--d:none;--d-tablet:none;--d-mobile:none;--h:750px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      
      
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:2000/1000;--aspect-tablet:2000/1000;--aspect-mobile:2000/1000;--d:none;--d-tablet:none;--d-mobile:none;--h:750px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax"
              style="--bgi:url({{ "gempages_532871831896458163-2bdca6dd-bd11-4ee5-bdd5-79bd554f4078.jpg" | file_url }});--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
              </div>  
               </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#1E2024;--hvr-bgc:#00000000;--top:0;--left:0;--op:20%;--hvr-op:20%"
          > </div>
          </div>
          
          
      
      
    <div
      id
        style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0"
      class="c-hb-rewrap_row_VlhAIVHOWHnL gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-c-nsw-i2l5b16e6cf25"
        style="--mt:auto;--ml:1px;--mb:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:630px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-c-nsw-i2l5b16e6cf25 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2l5b16e6cf25 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="OBPdRtisfDbP "
        style="--ta:left;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--size:12px;--size-tablet:14px;--size-mobile:12px;--weight:bold;--c:rgb(33, 33, 33);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gOBPdRtisfDbP_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="TycOCyfZjiCR "
        style="--ta:left;--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:50px;--size-tablet:46px;--size-mobile:41px;--weight:bold;--c:rgb(34, 34, 34);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;overflow:hidden"
        >{{ section.settings.gTycOCyfZjiCR_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="TXfKrDmiSvWu "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(37, 37, 37);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gTXfKrDmiSvWu_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center;--o:1;--d-mobile:none"
      class="gB_IaLrC83 gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-534930429367551137 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534930429199778977&sectionId=534930429367551137)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gOBPdRtisfDbP_text","label":"gOBPdRtisfDbP_text","default":"<p>BECAUSE YOU'RE BEAUTIFUL</p>"},{"type":"html","id":"gTycOCyfZjiCR_text","label":"gTycOCyfZjiCR_text","default":"LASH COLLECTION"},{"type":"html","id":"gTXfKrDmiSvWu_text","label":"gTXfKrDmiSvWu_text","default":"Seven innovatively designed, unique waterline lashes that augment your natural lashes while seamlessly blending in with them for a stunningly elegant, natural lash effect."}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
