

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-549790644529660832.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-549790644529660832.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-549790644529660832.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-549790644529660832.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-549790644529660832.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-549790644529660832.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-549790644529660832.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-549790644529660832.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-549790644529660832.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-549790644529660832.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-549790644529660832.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-549790644529660832.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-549790644529660832.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-549790644529660832.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-549790644529660832.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-549790644529660832.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-549790644529660832.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-549790644529660832.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-549790644529660832.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-549790644529660832.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-549790644529660832.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-549790644529660832.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-549790644529660832.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-549790644529660832.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-549790644529660832.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-549790644529660832.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-549790644529660832.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-549790644529660832.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-549790644529660832.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-549790644529660832.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-549790644529660832.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-549790644529660832.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-549790644529660832.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-549790644529660832.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-549790644529660832.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-549790644529660832.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-549790644529660832.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-549790644529660832.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-549790644529660832.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-549790644529660832.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-549790644529660832.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-549790644529660832.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-549790644529660832.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-549790644529660832.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-549790644529660832.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-549790644529660832.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-549790644529660832.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-549790644529660832.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-549790644529660832.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-549790644529660832.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-549790644529660832.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-549790644529660832.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-549790644529660832.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-549790644529660832.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-549790644529660832.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-549790644529660832.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-549790644529660832.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-549790644529660832.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-549790644529660832.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-549790644529660832.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-549790644529660832.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-549790644529660832.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-549790644529660832.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-549790644529660832.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-549790644529660832.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-549790644529660832.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-549790644529660832.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-549790644529660832.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-549790644529660832.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-549790644529660832.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-549790644529660832.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-549790644529660832.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-549790644529660832.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-549790644529660832.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-549790644529660832.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-549790644529660832.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-549790644529660832.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-549790644529660832.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-549790644529660832.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-549790644529660832.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-549790644529660832.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-549790644529660832.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-549790644529660832.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-549790644529660832.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-549790644529660832.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-549790644529660832.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-549790644529660832 .gp-invisible{visibility:hidden}.gps-549790644529660832 .gp-absolute{position:absolute}.gps-549790644529660832 .gp-relative{position:relative}.gps-549790644529660832 .gp-inset-0{inset:0}.gps-549790644529660832 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-549790644529660832 .gp-top-0{top:0}.gps-549790644529660832 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-549790644529660832 .gp-z-1{z-index:1}.gps-549790644529660832 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-549790644529660832 .gp-mb-0{margin-bottom:0}.gps-549790644529660832 .gp-flex{display:flex}.gps-549790644529660832 .gp-inline-flex{display:inline-flex}.gps-549790644529660832 .gp-grid{display:grid}.gps-549790644529660832 .\!gp-hidden{display:none!important}.gps-549790644529660832 .gp-hidden{display:none}.gps-549790644529660832 .gp-h-full{height:100%}.gps-549790644529660832 .gp-w-full{width:100%}.gps-549790644529660832 .gp-max-w-full{max-width:100%}.gps-549790644529660832 .gp-flex-col{flex-direction:column}.gps-549790644529660832 .gp-items-center{align-items:center}.gps-549790644529660832 .\!gp-justify-center{justify-content:center!important}.gps-549790644529660832 .gp-justify-center{justify-content:center}.gps-549790644529660832 .gp-gap-y-0{row-gap:0}.gps-549790644529660832 .gp-overflow-hidden{overflow:hidden}.gps-549790644529660832 .gp-break-words{overflow-wrap:break-word}.gps-549790644529660832 .gp-rounded-none{border-radius:0}.gps-549790644529660832 .gp-text-center{text-align:center}.gps-549790644529660832 .gp-no-underline{text-decoration-line:none}.gps-549790644529660832 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549790644529660832 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549790644529660832 .gp-duration-200{transition-duration:.2s}.gps-549790644529660832 .gp-duration-300{transition-duration:.3s}.gps-549790644529660832 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549790644529660832 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-549790644529660832 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-549790644529660832 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-549790644529660832 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-549790644529660832 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-549790644529660832 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-549790644529660832 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-549790644529660832 .tablet\:gp-absolute{position:absolute}.gps-549790644529660832 .tablet\:\!gp-hidden{display:none!important}.gps-549790644529660832 .tablet\:gp-hidden{display:none}.gps-549790644529660832 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-549790644529660832 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-549790644529660832 .mobile\:gp-relative{position:relative}.gps-549790644529660832 .mobile\:\!gp-hidden{display:none!important}.gps-549790644529660832 .mobile\:gp-hidden{display:none}.gps-549790644529660832 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-549790644529660832 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-549790644529660832 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-549790644529660832 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-549790644529660832 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-549790644529660832 .\[\&_p\]\:gp-inline p{display:inline}.gps-549790644529660832 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-549790644529660832 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-549790644529660832 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="i2lb8cf3e41d0" data-id="i2lb8cf3e41d0"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:rgb(101, 101, 101);--bgi:url()"
        class="i2lb8cf3e41d0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_ZGBmLrEmNaFE gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:500px;--d:flex;--d-tablet:none;--d-mobile:none">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-f3c3e14d-e5b1-4a31-bac0-7bccca2ede36.jpg","width":6083,"height":3931,"backupFileKey":"gempages_532871831896458163-f3c3e14d-e5b1-4a31-bac0-7bccca2ede36.jpeg","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","lazyLoad":false},"tablet":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-f3c3e14d-e5b1-4a31-bac0-7bccca2ede36.jpg","width":6083,"height":3931,"backupFileKey":"gempages_532871831896458163-f3c3e14d-e5b1-4a31-bac0-7bccca2ede36.jpeg","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-f3c3e14d-e5b1-4a31-bac0-7bccca2ede36.jpg","width":6083,"height":3931,"backupFileKey":"gempages_532871831896458163-f3c3e14d-e5b1-4a31-bac0-7bccca2ede36.jpeg","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","lazyLoad":false}},"uid":"gJnCt_9Aiz","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"}}'
        gp-href=""
        
        class="gJnCt_9Aiz gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:none;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
        data-id="gJnCt_9Aiz"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:auto;--h-tablet:auto;--h-mobile:500px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_532871831896458163-f3c3e14d-e5b1-4a31-bac0-7bccca2ede36_768x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjA4MyIgaGVpZ2h0PSI2MDgzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy02MDgzLTYwODMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjYwODMiIGhlaWdodD0iNjA4MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjA4MyIgaGVpZ2h0PSI2MDgzIiBmaWxsPSJ1cmwoI2ctNjA4My02MDgzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNjA4MyIgdG89IjYwODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_532871831896458163-f3c3e14d-e5b1-4a31-bac0-7bccca2ede36_1024x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjA4MyIgaGVpZ2h0PSI2MDgzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy02MDgzLTYwODMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjYwODMiIGhlaWdodD0iNjA4MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjA4MyIgaGVpZ2h0PSI2MDgzIiBmaWxsPSJ1cmwoI2ctNjA4My02MDgzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNjA4MyIgdG89IjYwODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjA4MyIgaGVpZ2h0PSIzOTMxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy02MDgzLTM5MzEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjYwODMiIGhlaWdodD0iMzkzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjA4MyIgaGVpZ2h0PSIzOTMxIiBmaWxsPSJ1cmwoI2ctNjA4My0zOTMxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNjA4MyIgdG89IjYwODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_532871831896458163-f3c3e14d-e5b1-4a31-bac0-7bccca2ede36.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjA4MyIgaGVpZ2h0PSIzOTMxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy02MDgzLTM5MzEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjYwODMiIGhlaWdodD0iMzkzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjA4MyIgaGVpZ2h0PSIzOTMxIiBmaWxsPSJ1cmwoI2ctNjA4My0zOTMxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNjA4MyIgdG89IjYwODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--bgi-tablet:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjA4MyIgaGVpZ2h0PSI2MDgzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy02MDgzLTYwODMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjYwODMiIGhlaWdodD0iNjA4MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjA4MyIgaGVpZ2h0PSI2MDgzIiBmaWxsPSJ1cmwoI2ctNjA4My02MDgzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNjA4MyIgdG89IjYwODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--bgi-mobile:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjA4MyIgaGVpZ2h0PSI2MDgzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy02MDgzLTYwODMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjYwODMiIGhlaWdodD0iNjA4MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjA4MyIgaGVpZ2h0PSI2MDgzIiBmaWxsPSJ1cmwoI2ctNjA4My02MDgzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNjA4MyIgdG89IjYwODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="{{ "gempages_532871831896458163-f3c3e14d-e5b1-4a31-bac0-7bccca2ede36.jpg" | file_url }}" data-srcset="{{ "gempages_532871831896458163-f3c3e14d-e5b1-4a31-bac0-7bccca2ede36.jpg" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="{{ "gempages_532871831896458163-f3c3e14d-e5b1-4a31-bac0-7bccca2ede36_1024x.jpg" | file_url }}" data-srcset="{{ "gempages_532871831896458163-f3c3e14d-e5b1-4a31-bac0-7bccca2ede36_1024x.jpg" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="{{ "gempages_532871831896458163-f3c3e14d-e5b1-4a31-bac0-7bccca2ede36_768x.jpg" | file_url }}" data-srcset="{{ "gempages_532871831896458163-f3c3e14d-e5b1-4a31-bac0-7bccca2ede36_768x.jpg" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:62%;--hvr-op:62%"> 
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gTPg-bTrd9 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gEb2A40lOS">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gEb2A40lOS "
        style="--ta:left;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:50px;--size-tablet:46px;--size-mobile:41px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:50px;--pr:50px;--pt:50px;--pb:20px;overflow:hidden"
        >{{ section.settings.ggEb2A40lOS_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g2yXN-xYSq">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g2yXN-xYSq "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:150px;--pr:150px;--pt:0px;--pb:50px;overflow:hidden"
        >{{ section.settings.gg2yXN-xYSq_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    
  >
    <style>
    .gJ-8xKeyGw.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 11px;
      border-bottom-right-radius: 11px;
      border-top-left-radius: 11px;
      border-top-right-radius: 11px;
      
    }

    .gJ-8xKeyGw:hover::before {
      
      
    }

    .gJ-8xKeyGw:hover .gp-button-icon {
      color: undefined;
    }

     .gJ-8xKeyGw .gp-button-icon {
      color: #000000;
    }

    .gJ-8xKeyGw:hover .gp-button-price {
      color: undefined;
    }

    .gJ-8xKeyGw .gp-button-price {
      color: #000000;
    }

    .gJ-8xKeyGw .gp-product-dot-price {
       color: #000000;
    }

    .gJ-8xKeyGw:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/starter-kit" target="_self" data-id="gJ-8xKeyGw" aria-label="<p>START HERE</p>"
      
      data-state="idle"
      class="gJ-8xKeyGw gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-center"
      style="--bg:#e6cabe;--hvr-bg:var(--g-c-highlight, highlight);--bblr:11px;--bbrr:11px;--btlr:11px;--btrr:11px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:#000000;--size:16px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggJ-8xKeyGw_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:500px;--d:none;--d-tablet:flex;--d-mobile:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-22ccd1f0-1986-4293-a2ef-31562bb44cfb.jpg","width":6083,"height":3931,"backupFileKey":"gempages_532871831896458163-22ccd1f0-1986-4293-a2ef-31562bb44cfb.jpg","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","lazyLoad":false},"tablet":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-22ccd1f0-1986-4293-a2ef-31562bb44cfb.jpg","width":6083,"height":3931,"backupFileKey":"gempages_532871831896458163-22ccd1f0-1986-4293-a2ef-31562bb44cfb.jpg","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-22ccd1f0-1986-4293-a2ef-31562bb44cfb.jpg","width":6083,"height":3931,"backupFileKey":"gempages_532871831896458163-22ccd1f0-1986-4293-a2ef-31562bb44cfb.jpg","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","lazyLoad":false}},"uid":"gYWE_xZ56U","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"}}'
        gp-href=""
        
        class="gYWE_xZ56U gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:none;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
        data-id="gYWE_xZ56U"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:auto;--h-tablet:auto;--h-mobile:500px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_532871831896458163-22ccd1f0-1986-4293-a2ef-31562bb44cfb_768x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjA4MyIgaGVpZ2h0PSIzOTMxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy02MDgzLTM5MzEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjYwODMiIGhlaWdodD0iMzkzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjA4MyIgaGVpZ2h0PSIzOTMxIiBmaWxsPSJ1cmwoI2ctNjA4My0zOTMxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNjA4MyIgdG89IjYwODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_532871831896458163-22ccd1f0-1986-4293-a2ef-31562bb44cfb_1024x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjA4MyIgaGVpZ2h0PSI2MDgzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy02MDgzLTYwODMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjYwODMiIGhlaWdodD0iNjA4MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjA4MyIgaGVpZ2h0PSI2MDgzIiBmaWxsPSJ1cmwoI2ctNjA4My02MDgzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNjA4MyIgdG89IjYwODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjA4MyIgaGVpZ2h0PSIzOTMxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy02MDgzLTM5MzEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjYwODMiIGhlaWdodD0iMzkzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjA4MyIgaGVpZ2h0PSIzOTMxIiBmaWxsPSJ1cmwoI2ctNjA4My0zOTMxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNjA4MyIgdG89IjYwODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_532871831896458163-22ccd1f0-1986-4293-a2ef-31562bb44cfb.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjA4MyIgaGVpZ2h0PSIzOTMxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy02MDgzLTM5MzEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjYwODMiIGhlaWdodD0iMzkzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjA4MyIgaGVpZ2h0PSIzOTMxIiBmaWxsPSJ1cmwoI2ctNjA4My0zOTMxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNjA4MyIgdG89IjYwODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--bgi-tablet:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjA4MyIgaGVpZ2h0PSI2MDgzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy02MDgzLTYwODMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjYwODMiIGhlaWdodD0iNjA4MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjA4MyIgaGVpZ2h0PSI2MDgzIiBmaWxsPSJ1cmwoI2ctNjA4My02MDgzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNjA4MyIgdG89IjYwODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--bgi-mobile:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjA4MyIgaGVpZ2h0PSIzOTMxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy02MDgzLTM5MzEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjYwODMiIGhlaWdodD0iMzkzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjA4MyIgaGVpZ2h0PSIzOTMxIiBmaWxsPSJ1cmwoI2ctNjA4My0zOTMxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNjA4MyIgdG89IjYwODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="{{ "gempages_532871831896458163-22ccd1f0-1986-4293-a2ef-31562bb44cfb.jpg" | file_url }}" data-srcset="{{ "gempages_532871831896458163-22ccd1f0-1986-4293-a2ef-31562bb44cfb.jpg" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="{{ "gempages_532871831896458163-22ccd1f0-1986-4293-a2ef-31562bb44cfb_1024x.jpg" | file_url }}" data-srcset="{{ "gempages_532871831896458163-22ccd1f0-1986-4293-a2ef-31562bb44cfb_1024x.jpg" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="{{ "gempages_532871831896458163-22ccd1f0-1986-4293-a2ef-31562bb44cfb_768x.jpg" | file_url }}" data-srcset="{{ "gempages_532871831896458163-22ccd1f0-1986-4293-a2ef-31562bb44cfb_768x.jpg" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:62%;--hvr-op:62%"> 
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center"
      class="ggcPsRH92Z gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gddtV_Q7o_">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gddtV_Q7o_ "
        style="--ta:left;--mb:0px;--d:none;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:50px;--size-tablet:46px;--size-mobile:31px;--lh:130%;--lh-tablet:120%;--lh-mobile:80%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:50px;--pr:50px;--pt:50px;--pb:20px;overflow:hidden"
        >{{ section.settings.ggddtV_Q7o__text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ggSiLkFMFr">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ggSiLkFMFr "
        style="--ta:left;--mb:var(--g-s-l);--mb-mobile:0px;--d:none;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:150px;--pr:150px;--pt:0px;--pb:50px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:20px;overflow:hidden"
        >{{ section.settings.gggSiLkFMFr_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--d:none;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    
  >
    <style>
    .gwNAdIvlAR.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 11px;
      border-bottom-right-radius: 11px;
      border-top-left-radius: 11px;
      border-top-right-radius: 11px;
      
    }

    .gwNAdIvlAR:hover::before {
      
      
    }

    .gwNAdIvlAR:hover .gp-button-icon {
      color: undefined;
    }

     .gwNAdIvlAR .gp-button-icon {
      color: #000000;
    }

    .gwNAdIvlAR:hover .gp-button-price {
      color: undefined;
    }

    .gwNAdIvlAR .gp-button-price {
      color: #000000;
    }

    .gwNAdIvlAR .gp-product-dot-price {
       color: #000000;
    }

    .gwNAdIvlAR:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/starter-kit" target="_self" data-id="gwNAdIvlAR" aria-label="<p>START HERE</p>"
      
      data-state="idle"
      class="gwNAdIvlAR gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-center"
      style="--bg:#e6cabe;--hvr-bg:var(--g-c-highlight, highlight);--bblr:11px;--bbrr:11px;--btlr:11px;--btrr:11px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:#000000;--size:16px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggwNAdIvlAR_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-549790644529660832 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=549790644395049888&sectionId=549790644529660832)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggEb2A40lOS_text","label":"ggEb2A40lOS_text","default":"<span style=\"color:#F9F9F9;font-size:57px;\"><strong>EYELACE</strong></span><br><br><span style=\"font-size:44px;\">THE LASH SOLUTION YOU'VE</span><br><span style=\"font-size:44px;\">BEEN WAITING FOR</span>"},{"type":"html","id":"gg2yXN-xYSq_text","label":"gg2yXN-xYSq_text","default":"Say goodbye to flaking mascara, heavy strip lashes, and damaging extensions.&nbsp;<br><strong>Meet Eyelace</strong>the revolutionary waterline lashes that redefine natural beauty."},{"type":"html","id":"ggJ-8xKeyGw_label","label":"ggJ-8xKeyGw_label","default":"<p>START HERE</p>"},{"type":"html","id":"ggddtV_Q7o__text","label":"ggddtV_Q7o__text","default":"<span style=\"color:#F9F9F9;font-size:38px;\"><strong>EYELACE&nbsp;</strong></span><br><br><span style=\"font-size:20px;\"><strong>THE LASH SOLUTION YOU'VE</strong></span><br><span style=\"font-size:20px;\"><strong>BEEN WAITING FOR</strong></span>"},{"type":"html","id":"gggSiLkFMFr_text","label":"gggSiLkFMFr_text","default":"<span style=\"font-size:13px;\">Say goodbye to flaking mascara, heavy strip lashes, and damaging extensions.&nbsp; <strong>Meet Eyelace</strong>the revolutionary waterline lashes that redefine natural beauty.</span>"},{"type":"html","id":"ggwNAdIvlAR_label","label":"ggwNAdIvlAR_label","default":"<p>START HERE</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
