

<style>.gps-535138477600146353 .gp-absolute{position:absolute}.gps-535138477600146353 .gp-relative{position:relative}.gps-535138477600146353 .gp-z-1{z-index:1}.gps-535138477600146353 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-535138477600146353 .gp-mb-0{margin-bottom:0}.gps-535138477600146353 .gp-flex{display:flex}.gps-535138477600146353 .gp-grid{display:grid}.gps-535138477600146353 .\!gp-hidden{display:none!important}.gps-535138477600146353 .gp-hidden{display:none}.gps-535138477600146353 .gp-h-full{height:100%}.gps-535138477600146353 .gp-w-full{width:100%}.gps-535138477600146353 .gp-max-w-full{max-width:100%}.gps-535138477600146353 .gp-flex-col{flex-direction:column}.gps-535138477600146353 .gp-items-center{align-items:center}.gps-535138477600146353 .\!gp-justify-end{justify-content:flex-end!important}.gps-535138477600146353 .\!gp-justify-center{justify-content:center!important}.gps-535138477600146353 .gp-gap-y-0{row-gap:0}.gps-535138477600146353 .gp-overflow-hidden{overflow:hidden}.gps-535138477600146353 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535138477600146353 .gp-duration-200{transition-duration:.2s}.gps-535138477600146353 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-535138477600146353 .tablet\:gp-relative{position:relative}.gps-535138477600146353 .tablet\:\!gp-hidden{display:none!important}.gps-535138477600146353 .tablet\:gp-hidden{display:none}.gps-535138477600146353 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-535138477600146353 .tablet\:\!gp-justify-end{justify-content:flex-end!important}.gps-535138477600146353 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-535138477600146353 .mobile\:gp-relative{position:relative}.gps-535138477600146353 .mobile\:\!gp-hidden{display:none!important}.gps-535138477600146353 .mobile\:gp-hidden{display:none}.gps-535138477600146353 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-535138477600146353 .mobile\:\!gp-justify-end{justify-content:flex-end!important}.gps-535138477600146353 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-535138477600146353 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-535138477600146353 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}.gps-535138477600146353 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-535138477600146353 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-535138477600146353 .\[\&_p\]\:gp-inline p{display:inline}.gps-535138477600146353 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-535138477600146353 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="i2l41c794a3ff" data-id="i2l41c794a3ff"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:rgb(253, 253, 253)"
        class="i2l41c794a3ff gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l41c794a3ff gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="w-i2l41c794a3ff" data-id="w-i2l41c794a3ff"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2l41c794a3ff gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2la740e7a865 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="sp-i2l935351e0f8" data-id="sp-i2l935351e0f8"
        style="--mt:0px;--ml:auto;--mb:28px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l935351e0f8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l935351e0f8 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="sp-i2lbec4583c46" data-id="sp-i2lbec4583c46"
        style="--mt:0px;--ml:auto;--mb:28px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(254, 254, 254)"
        class="sp-i2lbec4583c46 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lbec4583c46 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="UbWVLmnRDFrm">
    <div
      parentTag="Col"
        class="UbWVLmnRDFrm "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--size:12px;--size-tablet:14px;--size-mobile:12px;--weight:bold;--c:rgb(33, 33, 33);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gUbWVLmnRDFrm_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="glIRgvTdcrzI">
    <div
      parentTag="Col"
        class="glIRgvTdcrzI "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:28px;--size-tablet:25px;--size-mobile:23px;--weight:bold;--c:rgb(33, 33, 33);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gglIRgvTdcrzI_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="RyJXmOHQOKAp">
    <div
      parentTag="Col"
        class="RyJXmOHQOKAp "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:19px;--size-tablet:18px;--size-mobile:16px;--c:rgb(33, 33, 33);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gRyJXmOHQOKAp_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="i2l65c8b5ff98" data-id="i2l65c8b5ff98"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="i2l65c8b5ff98 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_pjapMWjIrWUT gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:393px;--h-tablet:500px;--h-mobile:500px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mt:0px;--ml:auto;--mb:0px;--mr:auto">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"","image":{"backupFileKey":"gempages_532871831896458163-20ac884a-24c5-4b30-a13b-62555d1a4d82.jpg","height":608,"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-20ac884a-24c5-4b30-a13b-62555d1a4d82.jpg","storage":"FILE_CONTENT","width":1200},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"","image":{"backupFileKey":"gempages_532871831896458163-20ac884a-24c5-4b30-a13b-62555d1a4d82.jpg","height":608,"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-20ac884a-24c5-4b30-a13b-62555d1a4d82.jpg","storage":"FILE_CONTENT","width":1200},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"","image":{"backupFileKey":"gempages_532871831896458163-20ac884a-24c5-4b30-a13b-62555d1a4d82.jpg","height":608,"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-20ac884a-24c5-4b30-a13b-62555d1a4d82.jpg","storage":"FILE_CONTENT","width":1200},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"rewrap_row_pjapMWjIrWUT","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom","mobile":"bottom","tablet":"bottom"},"contentPosition2Col":{"desktop":"center"}}'
        
        class="rewrap_row_pjapMWjIrWUT gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:393px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="rewrap_row_pjapMWjIrWUT"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
          style="--h:393px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none"
        >
          
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_532871831896458163-20ac884a-24c5-4b30-a13b-62555d1a4d82_768x.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_532871831896458163-20ac884a-24c5-4b30-a13b-62555d1a4d82_1024x.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_532871831896458163-20ac884a-24c5-4b30-a13b-62555d1a4d82.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:393px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 7px 7px 7px 7px)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('{{ "gempages_532871831896458163-20ac884a-24c5-4b30-a13b-62555d1a4d82.jpg" | file_url }}');--bgi-tablet:url('{{ "gempages_532871831896458163-20ac884a-24c5-4b30-a13b-62555d1a4d82_1024x.jpg" | file_url }}');--bgi-mobile:url('{{ "gempages_532871831896458163-20ac884a-24c5-4b30-a13b-62555d1a4d82_768x.jpg" | file_url }}');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
              </div>  
               </div>
            </div>
            
          </div>
          
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="c-hb-rewrap_row_pjapMWjIrWUT gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="r-c-nsw-i2l9dda83c6d0" data-id="r-c-nsw-i2l9dda83c6d0"
        style="--mt:auto;--ml:auto;--mb:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:355px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="r-c-nsw-i2l9dda83c6d0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2l9dda83c6d0 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="AyrCEHGshNDj">
    <div
      parentTag="Col"
        class="AyrCEHGshNDj "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:28px;--size-tablet:25px;--size-mobile:23px;--weight:bold;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gAyrCEHGshNDj_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="NwJdXKJvHviq">
    <div
      parentTag="Col"
        class="NwJdXKJvHviq "
        style="--ta:center;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:14px;--size-tablet:25px;--size-mobile:23px;--lh:default;--weight:bold;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gNwJdXKJvHviq_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_oCfjKlfUhBPU gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:394px;--h-tablet:500px;--h-mobile:500px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mt:0px;--ml:auto;--mb:0px;--mr:auto">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"","image":{"backupFileKey":"","height":1682,"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-07_at_12.21.14_PM.png?v=1725726094","width":1354},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"","image":{"backupFileKey":"","height":1682,"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-07_at_12.21.14_PM.png?v=1725726094","width":1354},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"","image":{"backupFileKey":"","height":1682,"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-07_at_12.21.14_PM.png?v=1725726094","width":1354},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"rewrap_row_oCfjKlfUhBPU","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom","mobile":"bottom","tablet":"bottom"},"contentPosition2Col":{"desktop":"center"}}'
        
        class="rewrap_row_oCfjKlfUhBPU gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:394px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="rewrap_row_oCfjKlfUhBPU"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
          style="--h:394px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none"
        >
          
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-07_at_12.21.14_PM.png?v=1725726094" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-07_at_12.21.14_PM.png?v=1725726094" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-07_at_12.21.14_PM.png?v=1725726094"
        width="100%"
        alt=""
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:394px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 7px 7px 7px 7px)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-07_at_12.21.14_PM.png?v=1725726094');--bgi-tablet:url('https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-07_at_12.21.14_PM.png?v=1725726094');--bgi-mobile:url('https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-07_at_12.21.14_PM.png?v=1725726094');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
              </div>  
               </div>
            </div>
            
          </div>
          
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="c-hb-rewrap_row_oCfjKlfUhBPU gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="r-c-nsw-i2l1bc8ef2f46" data-id="r-c-nsw-i2l1bc8ef2f46"
        style="--mt:auto;--ml:auto;--mb:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:352px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="r-c-nsw-i2l1bc8ef2f46 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2l1bc8ef2f46 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="ZQbSCeZzYuGv">
    <div
      parentTag="Col"
        class="ZQbSCeZzYuGv "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:var(--g-s-xl);--pb:0px;--pr:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:28px;--size-tablet:25px;--size-mobile:23px;--weight:bold;--c:rgb(255, 255, 254);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gZQbSCeZzYuGv_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gqV0xOHJMX">
    <div
      parentTag="Col"
        class="gqV0xOHJMX "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqV0xOHJMX_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="i2l52cf640fdf" data-id="i2l52cf640fdf"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="i2l52cf640fdf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_CDhskZhDAuht gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:395px;--h-tablet:500px;--h-mobile:500px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mt:0px;--ml:auto;--mb:0px;--mr:auto">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"","image":{"backupFileKey":"","height":3098,"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_07_2024_12_03_43_PM.jpg?v=1725725094","width":3022},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"","image":{"backupFileKey":"","height":3098,"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_07_2024_12_03_43_PM.jpg?v=1725725094","width":3022},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"","image":{"backupFileKey":"","height":3098,"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_07_2024_12_03_43_PM.jpg?v=1725725094","width":3022},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"rewrap_row_CDhskZhDAuht","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"center","tablet":"bottom"},"contentPosition2Col":{"desktop":"center"}}'
        
        class="rewrap_row_CDhskZhDAuht gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:395px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="rewrap_row_CDhskZhDAuht"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-end mobile:!gp-justify-center"
          style="--h:395px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
        >
          
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_07_2024_12_03_43_PM.jpg?v=1725725094" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_07_2024_12_03_43_PM.jpg?v=1725725094" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_07_2024_12_03_43_PM.jpg?v=1725725094"
        width="100%"
        alt=""
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:395px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_07_2024_12_03_43_PM.jpg?v=1725725094');--bgi-tablet:url('https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_07_2024_12_03_43_PM.jpg?v=1725725094');--bgi-mobile:url('https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Photo_Sep_07_2024_12_03_43_PM.jpg?v=1725725094');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
              </div>  
               </div>
            </div>
            
          </div>
          
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:center;--pc-tablet:end;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="c-hb-rewrap_row_CDhskZhDAuht gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="r-c-nsw-i2l41aa6fe2fb" data-id="r-c-nsw-i2l41aa6fe2fb"
        style="--mt:auto;--ml:auto;--mb:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:260px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="r-c-nsw-i2l41aa6fe2fb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2l41aa6fe2fb gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gOQKDs17Yh">
    <div
      parentTag="Col"
        class="gOQKDs17Yh "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:28px;--size-tablet:25px;--size-mobile:23px;--weight:bold;--c:rgb(255, 255, 254);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggOQKDs17Yh_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gk8pRSoSnH">
    <div
      parentTag="Col"
        class="gk8pRSoSnH "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggk8pRSoSnH_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_KeSQcFLNeFqU gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:394px;--h-tablet:500px;--h-mobile:500px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mt:0px;--ml:auto;--mb:0px;--mr:auto">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"","image":{"backupFileKey":"","height":1428,"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-07_at_12.10.39_PM_5a6dd6ca-ec55-459c-8e7b-3a2828d5da6f.png?v=1725725486","width":2540},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"","image":{"backupFileKey":"","height":1428,"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-07_at_12.10.39_PM_5a6dd6ca-ec55-459c-8e7b-3a2828d5da6f.png?v=1725725486","width":2540},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"","image":{"backupFileKey":"","height":1428,"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-07_at_12.10.39_PM_5a6dd6ca-ec55-459c-8e7b-3a2828d5da6f.png?v=1725725486","width":2540},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"rewrap_row_KeSQcFLNeFqU","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"center","tablet":"bottom"},"contentPosition2Col":{"desktop":"center"}}'
        
        class="rewrap_row_KeSQcFLNeFqU gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:394px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="rewrap_row_KeSQcFLNeFqU"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-end mobile:!gp-justify-center"
          style="--h:394px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
        >
          
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-07_at_12.10.39_PM_5a6dd6ca-ec55-459c-8e7b-3a2828d5da6f.png?v=1725725486" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-07_at_12.10.39_PM_5a6dd6ca-ec55-459c-8e7b-3a2828d5da6f.png?v=1725725486" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-07_at_12.10.39_PM_5a6dd6ca-ec55-459c-8e7b-3a2828d5da6f.png?v=1725725486"
        width="100%"
        alt=""
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:394px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-07_at_12.10.39_PM_5a6dd6ca-ec55-459c-8e7b-3a2828d5da6f.png?v=1725725486');--bgi-tablet:url('https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-07_at_12.10.39_PM_5a6dd6ca-ec55-459c-8e7b-3a2828d5da6f.png?v=1725725486');--bgi-mobile:url('https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-07_at_12.10.39_PM_5a6dd6ca-ec55-459c-8e7b-3a2828d5da6f.png?v=1725725486');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
              </div>  
               </div>
            </div>
            
          </div>
          
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:center;--pc-tablet:end;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="c-hb-rewrap_row_KeSQcFLNeFqU gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="r-c-nsw-i2lce2e9a84a2" data-id="r-c-nsw-i2lce2e9a84a2"
        style="--mt:auto;--ml:auto;--mb:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:651px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="r-c-nsw-i2lce2e9a84a2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2lce2e9a84a2 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="ggld_L0ZZ6">
    <div
      parentTag="Col"
        class="ggld_L0ZZ6 "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:28px;--size-tablet:25px;--size-mobile:23px;--weight:bold;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gggld_L0ZZ6_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gl4ouvyoy8">
    <div
      parentTag="Col"
        class="gl4ouvyoy8 "
        style="--ta:center;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:14px;--size-tablet:25px;--size-mobile:23px;--lh:default;--weight:bold;--c:rgb(255, 255, 255);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggl4ouvyoy8_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 16",
    "tag": "section",
    "class": "gps-535138477600146353 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=535138477415596977&sectionId=535138477600146353)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gUbWVLmnRDFrm_text","label":"gUbWVLmnRDFrm_text","default":"<p>MORE THAN A LASH</p>"},{"type":"html","id":"gglIRgvTdcrzI_text","label":"gglIRgvTdcrzI_text","default":"BECOME PART OF OUR GROWING COMMUNITY"},{"type":"html","id":"gRyJXmOHQOKAp_text","label":"gRyJXmOHQOKAp_text","default":"<p>Eyelace believes in being more than just an eyelash, a cosmetic intervention, or a financial transaction. We want to be a community that inspires, supports, &amp; connects women across the globe. Share your unique beauty and story; become part of our community today!</p>"},{"type":"html","id":"gAyrCEHGshNDj_text","label":"gAyrCEHGshNDj_text","default":"<p>View Our Community Created Content</p>"},{"type":"html","id":"gNwJdXKJvHviq_text","label":"gNwJdXKJvHviq_text","default":"<p><a href=\"https://eyelace.com/pages/community-stories\"><u>VIEW NOW</u></a></p>"},{"type":"html","id":"gZQbSCeZzYuGv_text","label":"gZQbSCeZzYuGv_text","default":"<p><a href=\"https://eyelace.com/pages/makeup-artists-partnership\">Partner as a Makeup</a><br><a href=\"https://eyelace.com/pages/makeup-artists-partnership\">Artist</a></p>"},{"type":"html","id":"ggqV0xOHJMX_text","label":"ggqV0xOHJMX_text","default":"<p><a href=\"https://eyelace.com/pages/makeup-artists-partnership\"><span style=\"color:#FFFFFF;\"><u>APPLY TODAY</u></span></a></p>"},{"type":"html","id":"ggOQKDs17Yh_text","label":"ggOQKDs17Yh_text","default":"<p><a href=\"https://eyelace.com/pages/drawing-contest\">Submit Your Drawing</a></p>"},{"type":"html","id":"ggk8pRSoSnH_text","label":"ggk8pRSoSnH_text","default":"<p><a href=\"https://eyelace.com/pages/drawing-contest\"><span style=\"color:#FFFFFF;\"><u>LEARN MORE</u></span></a></p>"},{"type":"html","id":"gggld_L0ZZ6_text","label":"gggld_L0ZZ6_text","default":"<p><a href=\"https://eyelace.com/pages/community-stories\">Contribute Photos &amp; Videos to Receive Free Lash Sets</a></p>"},{"type":"html","id":"ggl4ouvyoy8_text","label":"ggl4ouvyoy8_text","default":"<p><a href=\"https://eyelace.com/pages/community-stories\"><u>Share Pix &amp; Vids</u></a></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
