

<style>@import url('https://fonts.googleapis.com/css?family=Montserrat:400&display=swap');.gps-535138477533103025 .-gp-translate-x-1\/2,.gps-535138477533103025 .-gp-translate-y-1\/2,.gps-535138477533103025 .gp-rotate-0,.gps-535138477533103025 .gp-rotate-180,.gps-535138477533103025 .mobile\:gp-rotate-0,.gps-535138477533103025 .mobile\:gp-rotate-180,.gps-535138477533103025 .tablet\:gp-rotate-0,.gps-535138477533103025 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-535138477533103025 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-535138477533103025 .gp-pointer-events-none{pointer-events:none}.gps-535138477533103025 .gp-static{position:static}.gps-535138477533103025 .gp-absolute{position:absolute}.gps-535138477533103025 .gp-relative{position:relative}.gps-535138477533103025 .gp-left-0{left:0}.gps-535138477533103025 .gp-left-1\/2{left:50%}.gps-535138477533103025 .gp-right-0{right:0}.gps-535138477533103025 .gp-top-0{top:0}.gps-535138477533103025 .gp-top-1\/2{top:50%}.gps-535138477533103025 .gp-z-0{z-index:0}.gps-535138477533103025 .gp-z-1{z-index:1}.gps-535138477533103025 .gp-z-\[90\]{z-index:90}.gps-535138477533103025 .\!gp-m-0{margin:0!important}.gps-535138477533103025 .\!gp-m-auto{margin:auto!important}.gps-535138477533103025 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-535138477533103025 .gp-my-0{margin-bottom:0;margin-top:0}.gps-535138477533103025 .gp-mb-0{margin-bottom:0}.gps-535138477533103025 .gp-block{display:block}.gps-535138477533103025 .gp-flex{display:flex}.gps-535138477533103025 .gp-grid{display:grid}.gps-535138477533103025 .\!gp-hidden{display:none!important}.gps-535138477533103025 .gp-hidden{display:none}.gps-535138477533103025 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-535138477533103025 .gp-aspect-square{aspect-ratio:1/1}.gps-535138477533103025 .gp-h-0{height:0}.gps-535138477533103025 .gp-h-full{height:100%}.gps-535138477533103025 .\!gp-min-h-full{min-height:100%!important}.gps-535138477533103025 .\!gp-w-full{width:100%!important}.gps-535138477533103025 .gp-w-14{width:56px}.gps-535138477533103025 .gp-w-5{width:20px}.gps-535138477533103025 .gp-w-\[12px\]{width:12px}.gps-535138477533103025 .gp-w-full{width:100%}.gps-535138477533103025 .\!gp-min-w-full{min-width:100%!important}.gps-535138477533103025 .\!gp-max-w-full{max-width:100%!important}.gps-535138477533103025 .\!gp-max-w-none{max-width:none!important}.gps-535138477533103025 .gp-max-w-full{max-width:100%}.gps-535138477533103025 .gp-flex-1{flex:1 1 0%}.gps-535138477533103025 .gp-shrink-0{flex-shrink:0}.gps-535138477533103025 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-535138477533103025 .-gp-translate-x-1\/2,.gps-535138477533103025 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-535138477533103025 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-535138477533103025 .gp-rotate-0{--tw-rotate:0deg}.gps-535138477533103025 .gp-rotate-0,.gps-535138477533103025 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-535138477533103025 .gp-rotate-180{--tw-rotate:180deg}.gps-535138477533103025 .gp-cursor-pointer{cursor:pointer}.gps-535138477533103025 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-535138477533103025 .\!gp-flex-row{flex-direction:row!important}.gps-535138477533103025 .gp-flex-row{flex-direction:row}.gps-535138477533103025 .gp-flex-col{flex-direction:column}.gps-535138477533103025 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-535138477533103025 .gp-items-start{align-items:flex-start}.gps-535138477533103025 .gp-items-center{align-items:center}.gps-535138477533103025 .gp-justify-center{justify-content:center}.gps-535138477533103025 .gp-justify-between{justify-content:space-between}.gps-535138477533103025 .gp-gap-2{gap:8px}.gps-535138477533103025 .gp-gap-y-0{row-gap:0}.gps-535138477533103025 .gp-overflow-hidden{overflow:hidden}.gps-535138477533103025 .\!gp-rounded-none{border-radius:0!important}.gps-535138477533103025 .gp-rounded{border-radius:4px}.gps-535138477533103025 .gp-rounded-full{border-radius:9999px}.gps-535138477533103025 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-535138477533103025 .gp-bg-white{--tw-bg-opacity:1;background-color:rgb(255 255 255/var(--tw-bg-opacity))}.gps-535138477533103025 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-535138477533103025 .gp-px-0{padding-left:0;padding-right:0}.gps-535138477533103025 .\!gp-pb-0{padding-bottom:0!important}.gps-535138477533103025 .gp-text-center{text-align:center}.gps-535138477533103025 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-535138477533103025 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-535138477533103025 .gp-decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-535138477533103025 .gp-opacity-0{opacity:0}.gps-535138477533103025 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-535138477533103025 .gp-outline-1{outline-width:1px}.gps-535138477533103025 .-gp-outline-offset-1{outline-offset:-1px}.gps-535138477533103025 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535138477533103025 .gp-transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535138477533103025 .gp-duration-200{transition-duration:.2s}.gps-535138477533103025 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-535138477533103025 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}.gps-535138477533103025 .gp-group:hover .group-hover\:gp-opacity-0{opacity:0}}.gps-535138477533103025 .data-\[hidden\=true\]\:gp-hidden[data-hidden=true]{display:none}.gps-535138477533103025 .data-\[outline\=active\]\:gp-outline[data-outline=active]{outline-style:solid}.gps-535138477533103025 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-535138477533103025 .tablet\:gp-static{position:static}.gps-535138477533103025 .tablet\:gp-left-0{left:0}.gps-535138477533103025 .tablet\:gp-right-0{right:0}.gps-535138477533103025 .tablet\:gp-block{display:block}.gps-535138477533103025 .tablet\:\!gp-hidden{display:none!important}.gps-535138477533103025 .tablet\:gp-hidden{display:none}.gps-535138477533103025 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-535138477533103025 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-535138477533103025 .tablet\:gp-rotate-0,.gps-535138477533103025 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-535138477533103025 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-535138477533103025 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-535138477533103025 .tablet\:gp-flex-row{flex-direction:row}.gps-535138477533103025 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-535138477533103025 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-535138477533103025 .mobile\:gp-static{position:static}.gps-535138477533103025 .mobile\:gp-left-0{left:0}.gps-535138477533103025 .mobile\:gp-right-0{right:0}.gps-535138477533103025 .mobile\:gp-block{display:block}.gps-535138477533103025 .mobile\:\!gp-hidden{display:none!important}.gps-535138477533103025 .mobile\:gp-hidden{display:none}.gps-535138477533103025 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-535138477533103025 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-535138477533103025 .mobile\:gp-rotate-0,.gps-535138477533103025 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-535138477533103025 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-535138477533103025 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-535138477533103025 .mobile\:gp-flex-row{flex-direction:row}.gps-535138477533103025 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-535138477533103025 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-535138477533103025 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-535138477533103025 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-535138477533103025 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-535138477533103025 .\[\&_p\]\:gp-inline p{display:inline}.gps-535138477533103025 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-535138477533103025 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="i2lb3b531537f" data-id="i2lb3b531537f"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:64px;--pl:0px;--pb:64px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:32px;--pl-mobile:0px;--pb-mobile:32px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:rgb(36, 35, 35)"
        class="i2lb3b531537f gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2lb3b531537f gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="w-i2lb3b531537f" data-id="w-i2lb3b531537f"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:12px;--pb:0px;--pr:12px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2lb3b531537f gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l3af24a5dc9 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="edsBXRhmSoAF">
    <div
      parentTag="Col"
        class="edsBXRhmSoAF "
        style="--ta:center;--mt:0px;--ml:0px;--mb:28px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:30px;--size-tablet:25px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gedsBXRhmSoAF_text }}</div>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px" class="i2lc8029436bf ">
      

    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
    
{%- assign gpBkProduct = product -%}
{%- assign gpBkProducts = products -%}
{%- liquid
      assign productHandles = ''| split: ','
      assign products = null
      assign target_collection = null
      assign productSrc = 'Collection'
      assign c = 0
      assign limit = 6
      if request.page_type == 'collection' or preview_page_type == 'collection'
        assign target_collection = collection
        if target_collection == empty or target_collection == null
          if '319367610517' == 'latest'
            assign target_collection = collections | sort: 'updated_at'  | first
          else
            for collection in collections
              if collection.id == 319367610517
                assign target_collection = collection
                break
              endif
            endfor
          endif
        endif
        paginate target_collection.products by 6
          assign products = target_collection.products  
        endpaginate
      else
        if productSrc == 'RelatedProduct'
          
    
    
        elsif productSrc == 'PickProduct'
          unless false 
            assign products = null | sort
            for handle in productHandles
              assign productH = all_products[handle] | sort
              assign products = products | concat: productH
            endfor
            assign limit = products.length
          else
            if 0 == 0
              paginate collections.all.products by 100000
                assign products = collections.all.products  | sort : "created_at"  | reverse
              endpaginate
            endif
          endunless
        else
          if '319367610517' == 'latest'
            assign target_collection = collections | sort: 'updated_at'  | first
          else
            for collection in collections
              if collection.id == 319367610517
                assign target_collection = collection
                break
              endif
            endfor
          endif
          paginate target_collection.products by 6
            assign products = target_collection.products  
          endpaginate
        endif
      endif
      -%}
        
    {%- if products == null -%}
    {%- if count == 0 and 0 == 0 -%}
      {% if 'Collection' == 'RelatedProduct' -%}
          <div>{{ "gempages.ProductList.no_related_products" | t }}</div>
        {% else %}
          <div>{{ "gempages.ProductList.no_products_found" | t }}</div>
      {%- endif -%}
    {%- endif -%}
    {%-else-%}
      
      
    <div items-repeat data-id="i2lc8029436bf" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--rg:16px;--rg-mobile:16px;--cg:30px;--gtc:repeat(3, minmax(0, 1fr));--gtc-mobile:repeat(2, minmax(0, 1fr))"
          class="gp-grid !gp-m-auto gp-w-full"
      >
        
        
        {%- assign count = 0 -%}
        {%- for product in products limit: limit -%}
        {%- if product.id != empty -%}
        {%- assign count = count | plus: 1 -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
        {%- assign product_form_id = 'product-form-' | append: "i2lc8029436bf" | append: product.id -%}
            <gp-product 
              class="gp-child-item-i2lc8029436bf" 
              gp-context='{"variantSelected": {{ variant | json | escape }}, "quantity": 1 ,  "formId": "{{ product_form_id }}"}' 
              gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }},"pageContext" : {"numberOfProductOfProductList":0,"isPreviewing":false,"pageType":"GP_INDEX","hasCollectionHandle":true,"isTranslateWithLocale":false,"sectionName":"gp-section-535138477533103025"}}'
            >
              {%- form 'product', product, id: product_form_id, class: 'form contents ',  data-type: 'add-to-cart-form', autocomplete: 'off' -%}
              <input type="hidden" name="id" value="{{ variant.id }}" />
              <input type="hidden" min="1" name="quantity"  value="{{ quantity }}" />
              <button type="submit" onclick="return false;" style="display:none;"></button>
                      <div
      
      
      class="i2lef1fd9f9b6 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign featured_image = product.featured_image %}
  {%- if variant != null and variant.featured_image != null -%}
  {% assign featured_image = variant.featured_image %}
  {%- endif -%}
    <gp-product-images-v2
      gp-data='
    {
      "id":"ePuUgESeiQVC",
      "pageContext": {"numberOfProductOfProductList":0,"isPreviewing":false,"pageType":"GP_INDEX","hasCollectionHandle":true,"isTranslateWithLocale":false,"sectionName":"gp-section-535138477533103025"},
      "setting":{"arrowIcon":"<svg width=\"100%\" height=\"100%\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n    <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0ZM10.6828 8.13017C10.5266 7.95661 10.2734 7.95661 10.1172 8.13017C9.96095 8.30374 9.96095 8.58515 10.1172 8.75871L13.0343 12L10.1172 15.2413C9.96095 15.4149 9.96095 15.6963 10.1172 15.8698C10.2734 16.0434 10.5266 16.0434 10.6828 15.8698L13.8828 12.3143C14.0391 12.1407 14.0391 11.8593 13.8828 11.6857L10.6828 8.13017Z\" fill=\"currentColor\"/>\n    </svg>","arrowIconColor":"#000000","clickOpenLightBox":{"desktop":false},"dragToScroll":true,"ftArrowIcon":"<svg width=\"100%\" height=\"100%\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n    <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0ZM10.6828 8.13017C10.5266 7.95661 10.2734 7.95661 10.1172 8.13017C9.96095 8.30374 9.96095 8.58515 10.1172 8.75871L13.0343 12L10.1172 15.2413C9.96095 15.4149 9.96095 15.6963 10.1172 15.8698C10.2734 16.0434 10.5266 16.0434 10.6828 15.8698L13.8828 12.3143C14.0391 12.1407 14.0391 11.8593 13.8828 11.6857L10.6828 8.13017Z\" fill=\"currentColor\"/>\n    </svg>","ftArrowIconColor":"#000000","ftClickOpenLightBox":{"desktop":"none"},"ftDragToScroll":true,"ftLoop":{"desktop":false},"ftNavigationPosition":{"desktop":"none"},"ftPauseOnHover":true,"ftSpeed":1,"galleryHoverEffect":"none","galleryZoom":150,"galleryZoomType":"default","hoverEffect":"other","loop":{"desktop":true},"navigationPosition":{"desktop":"inside"},"otherImage":1,"pauseOnHover":true,"preDisplay":"1st-available-variant","showActiveStatus":true,"speed":1,"type":{"desktop":"slider"},"zoom":150,"zoomType":"default"},
      "styles":{"align":{"desktop":"flex-start"},"corner":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"},"ftCorner":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"},"ftLayout":{"desktop":"cover"},"ftShape":{"desktop":{"gap":"","height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1","width":""}},"itemSpacing":{"desktop":"var(--g-s-s)","mobile":"var(--g-s-s)"},"layout":{"desktop":"cover"},"position":{"desktop":"only-feature","mobile":"only-feature"},"ratioLayout":{"desktop":[2,10]},"ratioLayoutRight":{"desktop":[10,2]},"shape":{"desktop":{"shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"100%"}},"shapeFor1Col":{"desktop":{"shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"100%"}},"shapeFor2Col":{"desktop":{"shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"50%"}},"shapeForBottom":{"desktop":{"shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"20%"}},"shapeForFtOnly":{"desktop":{"shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"100%"}},"spacing":{"desktop":"var(--g-s-s)","mobile":"var(--g-s-s)"}}, "productUrl":{{product.url | json | escape}}, "product":{{product | json | escape}}, "collectionUrl": {{ collection.url | json | escape }}, "collection": {{ collection | json | escape}}
    }
  '
      section-id="{{section.id}}"
      style="--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      data-id="ePuUgESeiQVC"
      class="ePuUgESeiQVC gp-overflow-hidden"
    >
      <div
        class="{%- if product.media.size > 1 -%} gp-grid gp-w-full !gp-m-0 gp-relative {%- else -%} gp-w-full !gp-m-0 gp-relative {%- endif -%}"
        {%- if product.media.size > 1 -%}
        style="--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--gg:var(--g-s-s);--gg-mobile:var(--g-s-s)"
        {%- else -%}
        style="--gtc:minmax(0, 12fr);--gg:var(--g-s-s);--gg-mobile:var(--g-s-s)"
        {%- endif -%}
      >
        
    {% capture featureImageOnlyOne %}
      
        {% assign featureMedia = variant.featured_media %}
        {% unless featureMedia %}
        {% assign featureMedia = product.featured_media %}
        {% endunless %}
        {% if product.media.size > 1 %}
          
          {% assign featureMedia = variant.featured_media %}
          {% unless featureMedia %}
          {% assign featureMedia = product.featured_media %}
          {% endunless %}
        
        {% endif %}
        {% assign largestRatio = 0 %}
        {% assign height = featureMedia.height | times: 1.0 %}
        {% assign width = featureMedia.width | times: 1.0 %}
        {% assign ratio = height | divided_by: width %}
        {% if ratio > largestRatio %}
          {% assign largestRatio = ratio %}
        {% endif %}
        {% assign productImageWidth = 0 %}
        {% case featureMedia.media_type %}
          {% when 'image' %}
            {% assign productImageWidth = featureMedia.width %}
          {% else %}
            {% assign productImageWidth = featureMedia.preview_image.width %}
        {% endcase %}
        {% if featureMedia == null %}
        {% assign productImageWidth = 1600 %}
        {% endif %}
        <div 
          class='gp-feature-image-carousel gp-feature-image-only' 
          style="--o:0;--o-tablet:0;--o-mobile:0;--d:flex;--d-mobile:flex;--d-tablet:flex;--jc:flex-start"
        >
          <div 
            class="gp-relative"
            style="--w:100%;--w-tablet:100%;--w-mobile:100%"
          >
            
      
    
            <div 
              type="gp-feature-image-only"
              product-id="{{product.id}}"
              product-media="{{product.media.size}}"
              class="gp-image-item gp-ft-image-item gp-group gp-z-0 gp-flex !gp-max-w-full !gp-w-full gp-relative gp-items-start gp-justify-center gp-overflow-hidden gp-featured-image-wrapper"
              style="--h:auto;--h-tablet:auto;--h-mobile:auto;width:{{productImageWidth}}px"
            >
              <div 
                class="gp-w-full  {% if featureMedia == null or featureMedia.media_type == 'image' %} {{ 'gp-h-0' }} {% else %} {{ 'gp-h-full !gp-pb-0' }} {% endif %} gp-relative" 
                style="--pb: calc((1/1)*100%);--pb-tablet: calc((1/1)*100%);--pb-mobile: calc((1/1)*100%); {% if featureMedia.media_type == 'video' or featureMedia.media_type == 'external_video' %} {{ 'display: flex; align-items: center; justify-content: center' }} {% endif %}"
              >
                
    {% case featureMedia.media_type %}
      {% when 'image' %}
        
      
    {% assign src = featureMedia.src %}
    
    
  <img
      id="{%- if featureMedia != null -%}
              {{featureMedia.id}}
            {%- endif -%}"
      
      draggable="false"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none gp-w-full gp-transition-opacity group-hover:gp-opacity-0 {{shouldHidden}} gp_lazyload"
      data-src="{{src | image_url}}" data-srcset="{%- if src != null -%}
              {{src | img_url: '480x480'}} 480w, {{src | img_url: '768x768'}} 768w,{{src | img_url: '1024x1024'}} 1024w,{{src | img_url: '1440x1440'}} 1440w
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="{{featureMedia.width}}" height="{{featureMedia.height}}" alt="{{featureMedia.alt}}" base-src="{{src | image_url}}"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
    />
  
      <div class="zoom-element !gp-max-w-none gp-absolute gp-left-0 gp-top-0 gp-opacity-0 gp-transition-opacity gp-bg-white gp-pointer-events-none">
            
    {% assign src = featureMedia.src %}
    
      {% assign otherImage = product.media[1] %}
      {% assign src = otherImage.src %}
      {% if otherImage.media_type != 'image' %}
        {% assign src = otherImage.preview_image.src %}
      {%- endif -%}
    
    
  <img
      id="{%- if featureMedia != null -%}
              {{featureMedia.id}}
            {%- endif -%}"
      
      draggable="false"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none image-zoom gp_lazyload"
      data-src="{{src | image_url}}" data-srcset="{%- if src != null -%}
              {{src | img_url: '480x480'}} 480w, {{src | img_url: '768x768'}} 768w,{{src | img_url: '1024x1024'}} 1024w,{{src | img_url: '1440x1440'}} 1440w
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="{{featureMedia.width}}" height="{{featureMedia.height}}" alt="{{featureMedia.alt}}" base-src="{{src | image_url}}"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
    />
  
          </div>
      
    
      {% when 'external_video' %}
        {% assign mediaSourceVideo = featureMedia | external_video_url %}
        
    <iframe
      width="100%" height="100%"
      class="feature-video gp-w-full gp-h-full gp-relative"
      src="{{mediaSourceVideo}}"
      controls="true"
      allowfullscreen="true"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      frameborder="0"
      autoplay="false"
      alt="{{featureMedia.alt}}"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1"
    >
    </iframe>
  
      {% when 'video' %}
        {% assign mediaSourceVideo = featureMedia.sources.last.url %}
        
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-undefined"
      class=" gp-w-full lazy"
      style="width:100%;max-height:100%"
      controls
      
      
      
      title="{{featureMedia.alt}}"
      preload="none"
      data-src="{{mediaSourceVideo}}"
      src=""
      poster=""
      playsinline
    >
    
  </video>
    <div
          style="width:100%;max-height:100%"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-hidden"
        >
          <img
            id="video-thumbnail"
            src=""
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
      {% when 'model' %}
        
    <model-viewer
      class="gp-w-full gp-h-full model-viewer gp-z-[90]"
      width="100%"
      
      
      
      
      src="{% if featureMedia.sources.first.url contains '.glb' %}{{ featureMedia.sources.first.url }}{% else %}{{featureMedia.sources.last.url}}{% endif %}"
      alt="{{featureMedia.preview_image.alt}}"
      camera-controls="true"
      poster="{{featureMedia.preview_image.src | product_img_url: '1024x1024'}}"
      data-js-focus-visible=""
      data-shopify-feature="1.12"
      ar-status="not-presenting"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1">
    </model-viewer>
  
      {% else %}
        
    
  <img
      
      
      draggable="false"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none gp_lazyload"
      data-src data-srcset="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="No Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
    />
  
    {% endcase %}
    
              </div>
            </div>
          </div>
        </div>
      
    {% endcapture %}
    {% if product.media.size > 1 %}
      
      
    <gp-carousel data-id="gp-carousel-ePuUgESeiQVC" type="gp-feature-image-carousel" product-id="{{product.id}}" product-media="{{product.media.size}}" id="gp-root-carousel-ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}}-{{section.id}}" class="
          gp-px-0 tablet:gp-px-0 mobile:gp-px-0
          gp-flex-1 gp-w-full gp-feature-image-carousel
          gp-group/carousel gp-flex" gp-data='{"id":"ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}}-{{section.id}}","setting":{"loop":{"desktop":false},"slidesToShow":{"desktop":1},"dotStyle":{},"dotSize":{"desktop":12},"dotGapToCarousel":{"desktop":16},"dotColor":{"desktop":"bg-1"},"dotActiveColor":{"desktop":"line-3"},"controlOverContent":{"desktop":false,"tablet":false,"mobile":false},"enableDrag":{"desktop":true,"tablet":true,"mobile":true},"arrowCustom":"<svg width=\"100%\" height=\"100%\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n    <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0ZM10.6828 8.13017C10.5266 7.95661 10.2734 7.95661 10.1172 8.13017C9.96095 8.30374 9.96095 8.58515 10.1172 8.75871L13.0343 12L10.1172 15.2413C9.96095 15.4149 9.96095 15.6963 10.1172 15.8698C10.2734 16.0434 10.5266 16.0434 10.6828 15.8698L13.8828 12.3143C14.0391 12.1407 14.0391 11.8593 13.8828 11.6857L10.6828 8.13017Z\" fill=\"currentColor\"/>\n    </svg>","arrowCustomColor":"#000000","arrowBorder":{},"roundedArrow":{},"sneakPeakType":{"desktop":"center"},"arrowGapToEachSide":"16","animationMode":"EASE_OUT","navigationStyle":{"desktop":"none"},"arrowButtonSize":{"desktop":{"width":"24px","height":"24px"}}},"styles":{"sizeSetting":{"desktop":{"width":"100%","height":"auto"},"tablet":{"width":"100%","height":"auto"},"mobile":{"width":"100%","height":"auto"}},"align":{"desktop":"flex-start","tablet":"flex-start","mobile":"flex-start"}},"isHiddenArrowWhenDisabled":true}' style="--jc:flex-start;--o:0;--o-tablet:0;--o-mobile:0;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block gp-carousel-ePuUgESeiQVC gp-featured-image-wrapper"
        style="playSpeed:600;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:100%;--h-tablet:100%;--h-mobile:100%;gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}} gp-carousel-action-back gem-slider-previous ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}}-{{section.id}} gp-carousel-arrow-gp-carousel-ePuUgESeiQVC gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--left:initial;--top:initial;--right:initial;--bottom:;--left-tablet:initial;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:initial;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:none;--d-tablet:none;--d-mobile:none;background-color:;--w:24px;--h:24px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--c:#000000;--w:undefinedpx;--w-tablet:undefinedpx;--w-mobile:undefinedpx;--h:undefinedpx;--h-tablet:undefinedpx;--h-mobile:undefinedpx"
  >
    <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0ZM10.6828 8.13017C10.5266 7.95661 10.2734 7.95661 10.1172 8.13017C9.96095 8.30374 9.96095 8.58515 10.1172 8.75871L13.0343 12L10.1172 15.2413C9.96095 15.4149 9.96095 15.6963 10.1172 15.8698C10.2734 16.0434 10.5266 16.0434 10.6828 15.8698L13.8828 12.3143C14.0391 12.1407 14.0391 11.8593 13.8828 11.6857L10.6828 8.13017Z" fill="currentColor"/>
    </svg>
    </div>
      <style>
    .ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}}.gp-carousel-arrow-gp-carousel-ePuUgESeiQVC {
      
    }
    .ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}}.gp-carousel-arrow-gp-carousel-ePuUgESeiQVC::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      
      
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}}.gp-carousel-arrow-gp-carousel-ePuUgESeiQVC {
        
      }
      .ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}}.gp-carousel-arrow-gp-carousel-ePuUgESeiQVC::before {
        
        
      }
    }
    @media only screen and (max-width: 768px) {
      .ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}}.gp-carousel-arrow-gp-carousel-ePuUgESeiQVC {
        
      }
      .ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}}.gp-carousel-arrow-gp-carousel-ePuUgESeiQVC::before {
        
        
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}}-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:undefinedpx;--cg-tablet:undefinedpx;--cg:undefinedpx">
          
          {%- if product.media.size > 0 -%}
            
      
    
            {% assign largestRatio = 0 %}
            {% for featureMedia in product.media %}
              {% assign height = featureMedia.height | times: 1.0 %}
              {% assign width = featureMedia.width | times: 1.0 %}
              {% assign ratio = height | divided_by: width %}
              {% if ratio > largestRatio %}
                {% assign largestRatio = ratio %}
              {% endif %}
            {% endfor %}
            {%- for featureMedia in product.media -%}
              {%- if featureMedia.media_type == 'image' -%}
                {%- for image in product.images -%}
                  {% if image.src == featureMedia.src %}
                    {% assign imageID = image.id %}
                    {% break %}
                  {% endif%}
                {% endfor %}
              {%- else -%}
                {% assign imageID = '' %}
              {%- endif -%}
              
    {% assign productImageWidth = 0 %}
    {% case featureMedia.media_type %}
      {% when 'image' %}
        {% assign productImageWidth = featureMedia.width %}
      {% else %}
        {% assign productImageWidth = featureMedia.preview_image.width %}
    {% endcase %}
    
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      id="{{section.id}}-{{imageID}}"
      style="width:{{productImageWidth}}px;--minw:calc(100% / 4 - 33px);--minw-tablet:calc(100% / 4 - 33px);--minw-mobile:calc(100% / 4 - 33px);--maxw:calc(100% / 4 - 33px);--maxw-tablet:calc(100% / 4 - 33px);--maxw-mobile:calc(100% / 4 - 33px);outline-color:var(--g-c-brand, brand);--h:auto;--h-tablet:auto;--h-mobile:auto;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}} gp-child-item-undefined gp-group gp-z-0 gp-flex !gp-min-w-full !gp-max-w-full gp-w-full gp-relative gp-items-start gp-justify-center gp-overflow-hidden gp-outline-1 -gp-outline-offset-1 gp-image-item gp-ft-image-item data-[outline=active]:gp-outline undefined"
      data-index=""
    >
      
      <div 
        class="gp-w-full  {% if featureMedia == null or featureMedia.media_type == 'image'  %} {{ 'gp-h-0' }} {% else %} {{ 'gp-h-full !gp-pb-0' }} {% endif %} gp-relative" 
        style="--pb: calc((1/1)*100%);--pb-tablet: calc((1/1)*100%);--pb-mobile: calc((1/1)*100%); {% if featureMedia.media_type == 'video' or featureMedia.media_type == 'external_video' %} {{ 'display: flex; align-items: center; justify-content: center' }} {% endif %}"
      >
        
    {% case featureMedia.media_type %}
      {% when 'image' %}
        
      
    {% assign src = featureMedia.src %}
    
    
  <img
      id="{%- if featureMedia != null -%}
              {{featureMedia.id}}
            {%- endif -%}"
      
      draggable="false"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none gp-w-full gp-transition-opacity group-hover:gp-opacity-0 {{shouldHidden}} gp_lazyload"
      data-src="{{src | image_url}}" data-srcset="{%- if src != null -%}
              {{src | img_url: '480x480'}} 480w, {{src | img_url: '768x768'}} 768w,{{src | img_url: '1024x1024'}} 1024w,{{src | img_url: '1440x1440'}} 1440w
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="{{featureMedia.width}}" height="{{featureMedia.height}}" alt="{{featureMedia.alt}}" base-src="{{src | image_url}}"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
    />
  
      <div class="zoom-element !gp-max-w-none gp-absolute gp-left-0 gp-top-0 gp-opacity-0 gp-transition-opacity gp-bg-white gp-pointer-events-none">
            
    {% assign src = featureMedia.src %}
    
      {% assign otherImage = product.media[1] %}
      {% assign src = otherImage.src %}
      {% if otherImage.media_type != 'image' %}
        {% assign src = otherImage.preview_image.src %}
      {%- endif -%}
    
    
  <img
      id="{%- if featureMedia != null -%}
              {{featureMedia.id}}
            {%- endif -%}"
      
      draggable="false"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none image-zoom gp_lazyload"
      data-src="{{src | image_url}}" data-srcset="{%- if src != null -%}
              {{src | img_url: '480x480'}} 480w, {{src | img_url: '768x768'}} 768w,{{src | img_url: '1024x1024'}} 1024w,{{src | img_url: '1440x1440'}} 1440w
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="{{featureMedia.width}}" height="{{featureMedia.height}}" alt="{{featureMedia.alt}}" base-src="{{src | image_url}}"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
    />
  
          </div>
      
    
      {% when 'external_video' %}
        {% assign mediaSourceVideo = featureMedia | external_video_url %}
        
    <iframe
      width="100%" height="100%"
      class="feature-video gp-w-full gp-h-full gp-relative"
      src="{{mediaSourceVideo}}"
      controls="true"
      allowfullscreen="true"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      frameborder="0"
      autoplay="false"
      alt="{{featureMedia.alt}}"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1"
    >
    </iframe>
  
      {% when 'video' %}
        {% assign mediaSourceVideo = featureMedia.sources.last.url %}
        
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-undefined"
      class=" gp-w-full lazy"
      style="width:100%;max-height:100%"
      controls
      
      
      
      title="{{featureMedia.alt}}"
      preload="none"
      data-src="{{mediaSourceVideo}}"
      src=""
      poster=""
      playsinline
    >
    
  </video>
    <div
          style="width:100%;max-height:100%"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-hidden"
        >
          <img
            id="video-thumbnail"
            src=""
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
      {% when 'model' %}
        
    <model-viewer
      class="gp-w-full gp-h-full model-viewer gp-z-[90]"
      width="100%"
      
      
      
      
      src="{% if featureMedia.sources.first.url contains '.glb' %}{{ featureMedia.sources.first.url }}{% else %}{{featureMedia.sources.last.url}}{% endif %}"
      alt="{{featureMedia.preview_image.alt}}"
      camera-controls="true"
      poster="{{featureMedia.preview_image.src | product_img_url: '1024x1024'}}"
      data-js-focus-visible=""
      data-shopify-feature="1.12"
      ar-status="not-presenting"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1">
    </model-viewer>
  
      {% else %}
        
    
  <img
      
      
      draggable="false"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none gp_lazyload"
      data-src data-srcset="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="No Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
    />
  
    {% endcase %}
    
      </div>
      
    </div>
  
            {% endfor %}
          {%- else -%}
            
  <img
      id="noImageError"
      
      draggable="false"
      class="gp-w-full featured-image-only !gp-rounded-none "
      data-src="{{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}" data-srcset="{{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }} 768w,{{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }} 1024w,{{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="480" height="480" alt="no image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;height:100%"
    />
  
          {%- endif -%}
        
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}} gp-carousel-action-next gem-slider-next ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}}-{{section.id}} gp-carousel-arrow-gp-carousel-ePuUgESeiQVC gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--left:initial;--top:;--right:initial;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:initial;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:initial;--bottom-mobile:initial;--d:none;--d-tablet:none;--d-mobile:none;background-color:;--w:24px;--h:24px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--c:#000000;--w:undefinedpx;--w-tablet:undefinedpx;--w-mobile:undefinedpx;--h:undefinedpx;--h-tablet:undefinedpx;--h-mobile:undefinedpx"
  >
    <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0ZM10.6828 8.13017C10.5266 7.95661 10.2734 7.95661 10.1172 8.13017C9.96095 8.30374 9.96095 8.58515 10.1172 8.75871L13.0343 12L10.1172 15.2413C9.96095 15.4149 9.96095 15.6963 10.1172 15.8698C10.2734 16.0434 10.5266 16.0434 10.6828 15.8698L13.8828 12.3143C14.0391 12.1407 14.0391 11.8593 13.8828 11.6857L10.6828 8.13017Z" fill="currentColor"/>
    </svg>
    </div>
      <style>
    .ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}}.gp-carousel-arrow-gp-carousel-ePuUgESeiQVC {
      
    }
    .ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}}.gp-carousel-arrow-gp-carousel-ePuUgESeiQVC::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      
      
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}}.gp-carousel-arrow-gp-carousel-ePuUgESeiQVC {
        
      }
      .ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}}.gp-carousel-arrow-gp-carousel-ePuUgESeiQVC::before {
        
        
      }
    }
    @media only screen and (max-width: 768px) {
      .ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}}.gp-carousel-arrow-gp-carousel-ePuUgESeiQVC {
        
      }
      .ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}}.gp-carousel-arrow-gp-carousel-ePuUgESeiQVC::before {
        
        
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-ft-gp-carousel-ePuUgESeiQVC-{{section.id}}-{{product.id}}-{{section.id}} gp-static gp-flex-row gp-left-0 gp-right-0 tablet:gp-static tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-static mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0"
    style="--bottom:16px;--bottom-tablet:16px;--bottom-mobile:16px;--d:none;--d-tablet:none;--d-mobile:none"
 ></div>
      </div>
    </gp-carousel>
    {% if product.media.size > 1 %} <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script> {% endif %}

  
    
      
    {% else %}
      {{ featureImageOnlyOne }}
    {% endif %}
  
         
      </div>
    </gp-product-images-v2>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-images-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <div gp-el-wrapper style="--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px" class="enTPGNWWDIvd ">
      
    {%- unless product -%}
      <p>{{ "gempages.ProductTitle.product_not_found" | t }}</p>
    {%- else -%}
      
        
  <gp-text data-id="enTPGNWWDIvd">
    <div
      
        class="enTPGNWWDIvd "
        
      >
      <div  >
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-product-title"
          style="--w:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(255, 255, 255);--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ product.title }}</h1>
      </div>
    </div>
    </gp-text>
    
      
    {%- endunless -%}
  
      </div>
      <gp-product-price
        data-id="PlDLEnMwpcDk"
        class="PlDLEnMwpcDk gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
        gp-data='{"priceType":"regular","uid":"PlDLEnMwpcDk","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
        data-hidden="false"
      >
        
  <gp-text data-id="">
    <div
      id="p-price-PlDLEnMwpcDk"
        class=" "
        
      >
      <div  >
        <div
          type="regular"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-money gp-decoration-g-text-1"
          style="--w:100%;--tdc:text-1;--tdt:1;--ts:none;--ta:center;--c:rgb(255, 255, 255);--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:12px;word-break:break-word;overflow:hidden"
        >
     {% if variant.price %} 
       {{ variant.price | money}}
     {% endif %}
   </div>
      </div>
    </div>
    </gp-text>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
              {%- endform -%}
            </gp-product>
        {%- endif -%}
        {% endfor %}
        {%- if count == 0 and 0 == 0 -%}
          {% if 'Collection' == 'RelatedProduct' -%}
              <div>{{ "gempages.ProductList.no_related_products" | t }}</div>
            {% else %}
              <div>{{ "gempages.ProductList.no_products_found" | t }}</div>
          {%- endif -%}
        {%- endif -%}
      
      </div>

    
    
      
    {%- endif -%}
    
{%- assign product = gpBkProduct -%}
{%- assign products = gpBkProducts -%}

      </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-535138477533103025 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=535138477415596977&sectionId=535138477533103025)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gedsBXRhmSoAF_text","label":"gedsBXRhmSoAF_text","default":"FINELY CURATED EYELACE ACCESSORIES"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
