

<style>@import url('https://fonts.googleapis.com/css?family=Montserrat:400&display=swap');.gps-534930429501768865 .gp-relative{position:relative}.gps-534930429501768865 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534930429501768865 .gp-mb-0{margin-bottom:0}.gps-534930429501768865 .\!gp-inline{display:inline!important}.gps-534930429501768865 .gp-flex{display:flex}.gps-534930429501768865 .gp-grid{display:grid}.gps-534930429501768865 .\!gp-hidden{display:none!important}.gps-534930429501768865 .gp-hidden{display:none}.gps-534930429501768865 .gp-h-full{height:100%}.gps-534930429501768865 .gp-w-full{width:100%}.gps-534930429501768865 .gp-max-w-full{max-width:100%}.gps-534930429501768865 .gp-flex-col{flex-direction:column}.gps-534930429501768865 .gp-gap-y-0{row-gap:0}.gps-534930429501768865 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534930429501768865 .gp-duration-200{transition-duration:.2s}.gps-534930429501768865 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-534930429501768865 .tablet\:\!gp-hidden{display:none!important}.gps-534930429501768865 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-534930429501768865 .mobile\:\!gp-hidden{display:none!important}.gps-534930429501768865 .mobile\:gp-hidden{display:none}}.gps-534930429501768865 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-534930429501768865 .\[\&_p\]\:gp-inline p{display:inline}.gps-534930429501768865 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-534930429501768865 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2lacd2480397"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#1E2024"
        class="i2lacd2480397 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2lacd2480397 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="w-i2lacd2480397"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2lacd2480397 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l4ef5257053 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2lc92df333c7"
        style="--mt:30px;--ml:auto;--mb:32px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, auto);--gtc-tablet:minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2lc92df333c7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lc92df333c7 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="UNbtMwzyTibW "
        style="--ta:center;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--ls:2px;--size:10px;--size-tablet:14px;--size-mobile:12px;--c:rgb(252, 252, 252);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gUNbtMwzyTibW_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="hpDpEIdsJjlG "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:25px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ghpDpEIdsJjlG_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="i2l3f1ede7367"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="i2l3f1ede7367 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lea4cd219a9 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image rewrap_row_YfJMLujdZUid"
    style="--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      isNotLazyload="true"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-10_at_1.46.39_PM.png?v=1725990411" width="1070" height="1608" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      style="--aspect:2/3;--aspect-tablet:2/3;--aspect-mobile:2/3;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-10_at_1.46.39_PM.png?v=1725990411" data-srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-10_at_1.46.39_PM.png?v=1725990411 768w,https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-10_at_1.46.39_PM.png?v=1725990411 1024w,https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-10_at_1.46.39_PM.png?v=1725990411 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1070" height="1608" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:2/3;--aspect-tablet:2/3;--aspect-mobile:2/3;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="LTiShOSAJSsw "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gLTiShOSAJSsw_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2laacb05b640 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image rewrap_row_crFURReglodA"
    style="--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      isNotLazyload="true"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-27_at_1.43.44_PM.png?v=1727459055" width="1192" height="1772" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      style="--aspect:2/3;--aspect-tablet:2/3;--aspect-mobile:2/3;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-27_at_1.43.44_PM.png?v=1727459055" data-srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-27_at_1.43.44_PM.png?v=1727459055 768w,https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-27_at_1.43.44_PM.png?v=1727459055 1024w,https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-27_at_1.43.44_PM.png?v=1727459055 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1192" height="1772" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:2/3;--aspect-tablet:2/3;--aspect-mobile:2/3;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="KiYMPZxuDYWl "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gKiYMPZxuDYWl_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l9b7290803b gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image rewrap_row_XMRqwvyJtDOg"
    style="--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      isNotLazyload="true"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-08-26_at_2.04.20_PM.png?v=1724695471" width="1094" height="1616" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      style="--aspect:2/3;--aspect-tablet:2/3;--aspect-mobile:2/3;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-08-26_at_2.04.20_PM.png?v=1724695471" data-srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-08-26_at_2.04.20_PM.png?v=1724695471 768w,https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-08-26_at_2.04.20_PM.png?v=1724695471 1024w,https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-08-26_at_2.04.20_PM.png?v=1724695471 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1094" height="1616" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:2/3;--aspect-tablet:2/3;--aspect-mobile:2/3;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="FHOrEImpksak "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gFHOrEImpksak_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-534930429501768865 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534930429199778977&sectionId=534930429501768865)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gUNbtMwzyTibW_text","label":"gUNbtMwzyTibW_text","default":"<p>ENHANCING YOUR NATURAL BEAUTY</p>"},{"type":"html","id":"ghpDpEIdsJjlG_text","label":"ghpDpEIdsJjlG_text","default":"EYELACE IS"},{"type":"html","id":"gLTiShOSAJSsw_text","label":"gLTiShOSAJSsw_text","default":"BOLD"},{"type":"html","id":"gKiYMPZxuDYWl_text","label":"gKiYMPZxuDYWl_text","default":"ELEGANT"},{"type":"html","id":"gFHOrEImpksak_text","label":"gFHOrEImpksak_text","default":"NATURAL"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
