

<style>@import url('https://fonts.googleapis.com/css?family=Montserrat:400&display=swap');.gps-535138477583434673 .gp-absolute{position:absolute}.gps-535138477583434673 .gp-relative{position:relative}.gps-535138477583434673 .gp-z-1{z-index:1}.gps-535138477583434673 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-535138477583434673 .gp-mb-0{margin-bottom:0}.gps-535138477583434673 .gp-flex{display:flex}.gps-535138477583434673 .gp-inline-flex{display:inline-flex}.gps-535138477583434673 .gp-grid{display:grid}.gps-535138477583434673 .\!gp-hidden{display:none!important}.gps-535138477583434673 .gp-hidden{display:none}.gps-535138477583434673 .gp-h-full{height:100%}.gps-535138477583434673 .gp-w-full{width:100%}.gps-535138477583434673 .gp-max-w-full{max-width:100%}.gps-535138477583434673 .gp-flex-col{flex-direction:column}.gps-535138477583434673 .gp-items-center{align-items:center}.gps-535138477583434673 .\!gp-justify-end{justify-content:flex-end!important}.gps-535138477583434673 .\!gp-justify-center{justify-content:center!important}.gps-535138477583434673 .gp-justify-center{justify-content:center}.gps-535138477583434673 .gp-gap-y-0{row-gap:0}.gps-535138477583434673 .gp-overflow-hidden{overflow:hidden}.gps-535138477583434673 .gp-break-words{overflow-wrap:break-word}.gps-535138477583434673 .gp-rounded-none{border-radius:0}.gps-535138477583434673 .gp-text-center{text-align:center}.gps-535138477583434673 .gp-no-underline{text-decoration-line:none}.gps-535138477583434673 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535138477583434673 .gp-duration-200{transition-duration:.2s}.gps-535138477583434673 .gp-duration-300{transition-duration:.3s}.gps-535138477583434673 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535138477583434673 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-535138477583434673 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-535138477583434673 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-535138477583434673 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-535138477583434673 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-535138477583434673 .tablet\:gp-relative{position:relative}.gps-535138477583434673 .tablet\:\!gp-hidden{display:none!important}.gps-535138477583434673 .tablet\:gp-hidden{display:none}.gps-535138477583434673 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-535138477583434673 .tablet\:\!gp-justify-end{justify-content:flex-end!important}.gps-535138477583434673 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-535138477583434673 .mobile\:gp-relative{position:relative}.gps-535138477583434673 .mobile\:\!gp-hidden{display:none!important}.gps-535138477583434673 .mobile\:gp-hidden{display:none}.gps-535138477583434673 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-535138477583434673 .mobile\:\!gp-justify-end{justify-content:flex-end!important}.gps-535138477583434673 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-535138477583434673 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-535138477583434673 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-535138477583434673 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-535138477583434673 .\[\&_p\]\:gp-inline p{display:inline}.gps-535138477583434673 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-535138477583434673 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-535138477583434673 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2lb8cf3e41d0" data-id="i2lb8cf3e41d0"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(101, 101, 101)"
        class="i2lb8cf3e41d0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_ZGBmLrEmNaFE gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:764px;--h-tablet:500px;--h-mobile:500px;--d:flex;--d-tablet:flex;--d-mobile:flex;--mt:0px;--ml:auto;--mb:0px;--mr:auto">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"size":"cover","type":"video","color":"","image":{"src":"","width":1439,"height":764,"backupFileKey":""},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll","videoType":"html5","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/0b0507be6d5343f39027f9c2e6f1626d.mp4","video":"","loop":false},"tablet":{"size":"cover","type":"video","color":"","image":{"src":"","width":1439,"height":764,"backupFileKey":""},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll","videoType":"html5","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/0b0507be6d5343f39027f9c2e6f1626d.mp4","video":"","loop":false},"mobile":{"size":"cover","type":"video","color":"","image":{"src":"","width":1439,"height":764,"backupFileKey":""},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll","videoType":"html5","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/0b0507be6d5343f39027f9c2e6f1626d.mp4","video":"","loop":false}},"uid":"rewrap_row_ZGBmLrEmNaFE","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{}}'
        
        class="rewrap_row_ZGBmLrEmNaFE gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:764px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="rewrap_row_ZGBmLrEmNaFE"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
          style="--h:764px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          title
          class="adaptive-hero-banner"
          src=""
          alt=""
          fetchpriority="high"
          style="--aspect:1439/764;--aspect-tablet:1439/764;--aspect-mobile:1439/764;--d:none;--d-tablet:none;--d-mobile:none;--h:764px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      
      
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src=""
        width="100%"
        alt=""
        style="--aspect:1439/764;--aspect-tablet:1439/764;--aspect-mobile:1439/764;--d:none;--d-tablet:none;--d-mobile:none;--h:764px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('');--bgi-tablet:url('');--bgi-mobile:url('');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             ,,
              </div>  
              
    
    <video
      id="gp-video-rewrap_row_ZGBmLrEmNaFE"
      class="lazy gp-w-full gp-relative"
      
      
      
      muted
      autoplay
      title="Video"
      preload="metadata"
      data-src=""
      poster=""
      playsinline
    >
      
    </video>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
   </div>
            </div>
            
          </div>
          
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:end"
      class="c-hb-rewrap_row_ZGBmLrEmNaFE gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="sp-c-nsw-i2lde6460101f" data-id="sp-c-nsw-i2lde6460101f"
        style="--mt:auto;--ml:auto;--mb:28px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:557px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-c-nsw-i2lde6460101f gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2lde6460101f gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="iBJDUvtSoxcF">
    <div
      parentTag="Col"
        class="iBJDUvtSoxcF "
        style="--ta:center;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--size:12px;--size-tablet:14px;--size-mobile:12px;--weight:bold;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.giBJDUvtSoxcF_text }}</div>
      </div>
    </div>
    </gp-text>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="SnwopAUuFmdw">
    <div
      parentTag="Col"
        class="SnwopAUuFmdw "
        style="--ta:center;--mt:0px;--ml:-2px;--mb:8px;--mr:0px;--pt:8px;--pl:0px;--pb:8px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--ls:0px;--size:68px;--size-tablet:52px;--size-mobile:46px;--lh:Auto;--c:rgb(255, 255, 255);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;overflow:hidden"
        >{{ section.settings.gSnwopAUuFmdw_text }}</h1>
      </div>
    </div>
    </gp-text>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="kwohIsruxMAv">
    <div
      parentTag="Col"
        class="kwohIsruxMAv "
        style="--ta:center;--mt:0px;--ml:0px;--mb:var(--g-s-l);--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:16px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gkwohIsruxMAv_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    
  >
    <style>
    .uAfuhxEHwjGN.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 11px;
      border-bottom-right-radius: 11px;
      border-top-left-radius: 11px;
      border-top-right-radius: 11px;
      
    }

    .uAfuhxEHwjGN:hover::before {
      
      
    }

    .uAfuhxEHwjGN:hover .gp-button-icon {
      color: undefined;
    }

     .uAfuhxEHwjGN .gp-button-icon {
      color: rgb(33, 33, 33);
    }

    .uAfuhxEHwjGN:hover .gp-button-price {
      color: undefined;
    }

    .uAfuhxEHwjGN .gp-button-price {
      color: rgb(33, 33, 33);
    }

    .uAfuhxEHwjGN .gp-product-dot-price {
       color: rgb(33, 33, 33);
    }

    .uAfuhxEHwjGN:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/starter-kit" target="_self" data-id="uAfuhxEHwjGN" aria-label="SHOP NOW"
      
      data-state="idle"
      class="uAfuhxEHwjGN gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-center"
      style="--bg:rgb(254, 254, 254);--hvr-bg:var(--g-c-highlight, highlight);--bblr:11px;--bbrr:11px;--btlr:11px;--btrr:11px;--shadow:none;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:45px;--h-tablet:45px;--h-mobile:45px;--pl:0px;--pr:0px;--pt:8px;--pb:8px;--c:rgb(33, 33, 33);--size:12px;--size-tablet:14px;--size-mobile:12px;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:12px;--size-tablet:14px;--size-mobile:12px"
      >
        {{ section.settings.guAfuhxEHwjGN_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-535138477583434673 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=535138477415596977&sectionId=535138477583434673)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"giBJDUvtSoxcF_text","label":"giBJDUvtSoxcF_text","default":"<p>WELCOME TO</p>"},{"type":"html","id":"gSnwopAUuFmdw_text","label":"gSnwopAUuFmdw_text","default":"EYELACE"},{"type":"html","id":"gkwohIsruxMAv_text","label":"gkwohIsruxMAv_text","default":"<p>Where you will experience the most natural, elegant, single-placement Faux Lash on the market.</p>"},{"type":"html","id":"guAfuhxEHwjGN_label","label":"guAfuhxEHwjGN_label","default":"SHOP NOW"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
