{%- liquid
  assign bg_color = section.settings.background-color
  assign heading = section.settings.heading
  assign heading_alignment = section.settings.heading-alignment
  assign light_text = section.settings.light-text
  assign spacing_above = section.settings.spacing-above
  assign spacing_below = section.settings.spacing-below
  assign top_border = section.settings.top-border
-%}

{%- unless request.page_type == "password" -%}
  {%- render 'section-assets', name: 'recent-products' -%}

  <recent-products-root
    class="recent-products--root"
    data-section-id="{{ section.id }}"
    data-background-color="{{ bg_color }}"
    data-light-text="{{ light_text }}"
    data-spacing-above="{{ spacing_above }}"
    data-spacing-below="{{ spacing_below }}"
    data-top-border="{{ top_border }}"
    style="display:block;"
  >
    <div class="recent-products--wrapper" data-container="section">
      {%- if heading != blank -%}
        <div
          class="recent-products--title"
          data-container="block"
          data-heading-alignment="{{ heading_alignment }}"
        >
          <h2 data-item="section-heading">
            {{- heading | escape -}}
          </h2>
        </div>
      {%- endif -%}

      <div
        class="recent-products--grid"
        data-container="panel"
        data-columns="4"
        data-fixed-columns="true"
        data-mobile-columns="2"
        {% unless settings.transitions--other %}
          data-transition-container="recents"
          data-transition-type="fade-in"
          data-transition-cascade="horizontal"
          data-transition-cascade-interval="200"
        {% endunless %}
        style="display:none;"
      >
        {%- comment -%} Recent products render async here {%- endcomment -%}
      </div>

      <div class="recent-products--spinner">
        {%- render 'icons', icon: 'spinner' -%}
      </div>
    </div>
  </recent-products-root>
{%- endunless -%}

{% schema %}
{
  "name": "Recent products",
  "settings": [
    {
      "type": "header",
      "content": "Style and layout"
    },
    {
      "id": "top-border",
      "label": "Top border",
      "type": "checkbox",
      "default": false
    },
    {
      "id": "spacing-above",
      "label": "Spacing above",
      "type": "checkbox",
      "default": true
    },
    {
      "id": "spacing-below",
      "label": "Spacing below",
      "type": "checkbox",
      "default": true
    },
    {
      "id": "background-color",
      "label": "Background color",
      "type": "select",
      "options": [
        {
          "label": "Transparent",
          "value": "none"
        },
        {
          "label": "Light",
          "value": "light"
        },
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Accent 1",
          "value": "accent-1"
        },
        {
          "label": "Accent 2",
          "value": "accent-2"
        }
      ],
      "default": "none"
    },
    {
      "id": "light-text",
      "label": "Use light text color",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "Position heading",
      "id": "heading-alignment",
      "type": "text_alignment",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "label": "Heading",
      "id": "heading",
      "type": "text",
      "default": "Recently viewed"
    }
  ],
  "presets": [
    {
      "name": "Recent products"
    }
  ],
  "disabled_on": {
    "groups": ["aside"]
  }
}
{% endschema %}